<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>deu o que falar &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/deu-o-que-falar/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 10 Jan 2017 03:12:54 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>NÍQUEL QUENTE vs ESPUMA FLORAL</title>
		<link>https://deuoquefalar.com/niquel-quente-vs-espuma-floral/</link>
				<pubDate>Tue, 10 Jan 2017 03:12:54 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[espuma]]></category>
		<category><![CDATA[maçarico]]></category>
		<category><![CDATA[niquel]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=905</guid>
				<description><![CDATA[<p>Você é capaz de descobrir o que acontece se juntar uma chapa de níquel quente e uma espuma floral? Ah então veja o vídeo e #descubra!</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/">NÍQUEL QUENTE vs ESPUMA FLORAL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Você é capaz de descobrir o que acontece se juntar uma chapa de níquel quente e uma espuma floral? Ah então veja o vídeo e #descubra!<br />
<iframe src="https://www.youtube.com/embed/tTKMXpYWv1k" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&#038;title=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" data-a2a-url="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/" data-a2a-title="NÍQUEL QUENTE vs ESPUMA FLORAL"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/">NÍQUEL QUENTE vs ESPUMA FLORAL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</title>
		<link>https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/</link>
				<pubDate>Tue, 03 Jan 2017 01:36:09 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[massarico]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=902</guid>
				<description><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p><iframe src="https://www.youtube.com/embed/3VF8Sd9GvfA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&#038;title=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" data-a2a-url="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/" data-a2a-title="Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Como criar um alarme de nível de água caseiro</title>
		<link>https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/</link>
				<pubDate>Mon, 04 Jul 2016 05:32:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Alarme Caseiro]]></category>
		<category><![CDATA[Circuitos Eletrônicos]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[Hobby]]></category>
		<category><![CDATA[Vídeo Viral]]></category>
		<category><![CDATA[Viral no Brasil]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=894</guid>
				<description><![CDATA[<p>Para os amantes de eletrônica e hobbystas em geral, que tal fazer o seu próprio alarme, sensor de nível de água com componentes simples, assista ao vídeo e tente agora mesmo.</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/">Como criar um alarme de nível de água caseiro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Para os amantes de eletrônica e hobbystas em geral, que tal fazer o seu próprio alarme, sensor de nível de água com componentes simples, assista ao vídeo e tente agora mesmo.</p>
<p><iframe src="https://www.youtube.com/embed/buBqxSVgvcE" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&#038;title=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" data-a2a-url="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/" data-a2a-title="Como criar um alarme de nível de água caseiro"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/">Como criar um alarme de nível de água caseiro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</title>
		<link>https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/</link>
				<pubDate>Tue, 29 Mar 2016 14:18:13 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[desbloquear]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>
		<category><![CDATA[unlock]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=866</guid>
				<description><![CDATA[<p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<blockquote><p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone</p></blockquote>
<p><img class="aligncenter size-full wp-image-867" src="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg" alt="como-desbloquear-iphone-pelo-siri" width="615" height="409" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg 615w, https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri-300x200.jpg 300w" sizes="(max-width: 615px) 100vw, 615px" /></p>
<p>Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou digital cadastrada!</p>
<p>Alguns dizem que conseguiram, outros que não&#8230; E você será que consegue? Poste nos comentários sua experiência!</p>
<p><iframe src="https://www.youtube.com/embed/9gCf9FvKCFI" width="620" height="349" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&#038;title=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" data-a2a-url="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/" data-a2a-title="Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Garota de 5 anos salva mãe que se afogava em piscina</title>
		<link>https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/</link>
				<pubDate>Mon, 28 Mar 2016 17:55:06 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[afogar]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[piscina]]></category>
		<category><![CDATA[salvamento]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=859</guid>
				<description><![CDATA[<p>Uma garota de cinco anos está sendo chamada de &#8220;pequena heroína&#8221; após salvar sua mãe que se afogava na piscina da residência da família em Portland, no estado do Texas (EUA). Segundo a reportagem do Caller Time, Tracy Anderwald, de 34 anos, nadava na piscina com sua filha, Allison, quando sofreu uma convulsão repentina. Ao [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/">Garota de 5 anos salva mãe que se afogava em piscina</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="size-full wp-image-860 aligncenter" src="https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina.jpg" alt="garota-de-5-anos-salva-mae-que-se-afogava-em-piscina" width="600" height="360" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina.jpg 600w, https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina-300x180.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></p>
<p>Uma garota de cinco anos está sendo chamada de &#8220;pequena heroína&#8221; após salvar sua mãe que se afogava na piscina da residência da família em Portland, no estado do Texas (EUA).</p>
<p>Segundo a reportagem do Caller Time, Tracy Anderwald, de 34 anos, nadava na piscina com sua filha, Allison, quando sofreu uma convulsão repentina. Ao invés de entrar em pânico, Allison pensou rápido: ela pulou na piscina e nadou com a mãe até a parte onde a água estava mais rasa.</p>
<p>&#8220;É incrível que ela sabia exatamente o que fazer&#8221;, disse a mãe após receber alta do hospital. Os motivos ainda não identificaram o motivo da convulsão, mas disseram que se ela ficasse apenas um minuto a mais debaixo da água teria sofrido danos cerebrais irreparáveis.</p>
<p>A tia de Allison disse que a garota já nada desde que tinha 2 anos e meio, e permaneceu calma durante todo o momento, até quando teve que explicar para sua mãe o que estava acontecendo.</p>
<div style="width: 648px;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-859-1" width="648" height="365" preload="metadata" controls="controls"><source type="video/mp4" src="https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4?_=1" /><a href="https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4">https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4</a></video></div>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&#038;title=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" data-a2a-url="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/" data-a2a-title="Garota de 5 anos salva mãe que se afogava em piscina"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/">Garota de 5 anos salva mãe que se afogava em piscina</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
							<enclosure url="http://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4" length="12840376" type="video/mp4" />
			</item>
		<item>
		<title>Nova descoberta do século!!! Vídeo mostra carro movido apenas com o vapor do combustível</title>
		<link>https://deuoquefalar.com/nova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel/</link>
				<pubDate>Mon, 21 Mar 2016 06:42:39 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[combustivel]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[gasolina]]></category>
		<category><![CDATA[vapor]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=847</guid>
				<description><![CDATA[<p>Depois da descoberta do carro movido a água, uma pessoa em Goiás descobriu algo revelador, um carro movido apenas a vapores de combustível. Segundo esse experimento, o carro é capaz de rodar até 40km por litro em condições normais. Você não irá acreditar! Veja o vídeo!! Compartilhem e divulguem!</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/nova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel/">Nova descoberta do século!!! Vídeo mostra carro movido apenas com o vapor do combustível</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p style="text-align: left;">Depois da descoberta do <a href="https://deuoquefalar.com/brasileiro-cria-carro-movido-agua-faz-2-000-km-por-litro-de-agua/" target="_blank">carro movido a água</a>, uma pessoa em Goiás descobriu algo revelador, um carro movido apenas a vapores de combustível.</p>
<p style="text-align: left;">Segundo esse experimento, o carro é capaz de rodar até 40km por litro em condições normais.</p>
<p style="text-align: left;">Você não irá acreditar! Veja o vídeo!!</p>
<p><iframe src="https://www.youtube.com/embed/4D1_DXas5mk" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Compartilhem e divulguem!</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel%2F&amp;linkname=Nova%20descoberta%20do%20s%C3%A9culo%21%21%21%20V%C3%ADdeo%20mostra%20carro%20movido%20apenas%20com%20o%20vapor%20do%20combust%C3%ADvel" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel%2F&amp;linkname=Nova%20descoberta%20do%20s%C3%A9culo%21%21%21%20V%C3%ADdeo%20mostra%20carro%20movido%20apenas%20com%20o%20vapor%20do%20combust%C3%ADvel" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel%2F&amp;linkname=Nova%20descoberta%20do%20s%C3%A9culo%21%21%21%20V%C3%ADdeo%20mostra%20carro%20movido%20apenas%20com%20o%20vapor%20do%20combust%C3%ADvel" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel%2F&#038;title=Nova%20descoberta%20do%20s%C3%A9culo%21%21%21%20V%C3%ADdeo%20mostra%20carro%20movido%20apenas%20com%20o%20vapor%20do%20combust%C3%ADvel" data-a2a-url="https://deuoquefalar.com/nova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel/" data-a2a-title="Nova descoberta do século!!! Vídeo mostra carro movido apenas com o vapor do combustível"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/nova-descoberta-do-seculo-video-mostra-carro-movido-apenas-com-o-vapor-do-combustivel/">Nova descoberta do século!!! Vídeo mostra carro movido apenas com o vapor do combustível</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</title>
		<link>https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/</link>
				<pubDate>Sun, 08 Nov 2015 21:52:01 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[robin williams]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=803</guid>
				<description><![CDATA[<p>Saudades… No ano passado, quando Robin Williams se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,Susan Schneider, a esposa deRobin, explicou o que o levou a se matar. Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg"><img class="aligncenter size-large wp-image-818" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg" alt="robin_williams (1)" width="648" height="365" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg 1280w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p><em><strong>Saudades…</strong></em></p>
<p>No ano passado, quando <strong>Robin Williams</strong> se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,<strong>Susan Schneider</strong>, a esposa de<strong>Robin</strong>, explicou o que o levou a se matar.<span id="more-803"></span></p>
<p>Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de uma doença chamada demência de corpos de Lewy, que é uma demência, como o próprio nome diz, e é muito similar a doença de Alzheimer.</p>
<p><img class="wp-image-817 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg" alt="robin-williams-doubtfire-daughter-reacts-suicide__oPt" width="307" height="191" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg 580w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt-300x186.jpg 300w" sizes="(max-width: 307px) 100vw, 307px" />“Não foi a depressão que matou Robin, esse era um dos 50 sintomas e um bem pequeno”, explicou Susan, que contou que a doença foi descoberta um ano antes da morte trágica do astro.</p>
<p>“Sei que os médicos estavam fazendo o certo e que a doença foi mais rápida que todos. Chegaríamos ao diagnóstico eventualmente”, desabafou, alegando que a descoberta desta doença demorou a acontecer, o que é muito comum nestes casos.</p>
<p>Agora, o objetivo de vida da viúva é ajudar outras pessoas que sofrem com a doença: “Passei o ano tentando entender quem matou Robin. Um dos médicos disse, ‘Robin sabia que estava perdendo seu conhecimento e que não podia fazer nada a respeito’. Foi um caso único e rezo para que isso traga os holofotes para essa doença e para as milhões de pessoas que morrem com ela, porque nós não sabíamos. Ele não sabia”.</p>
<p>&nbsp;</p>
<p><a href="https://youtu.be/HCdUubr70i8" target="_blank">É DIVULGADO O TRAILER DO ÚLTIMO FILME DE ROBIN WILLIAMS</a></p>
<p>&nbsp;</p>
<p><strong>Relembre abaixo alguns dos principais filmes de sua carreira:</strong></p>
<p><strong>Patch Ad<a href="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg"><img class="size-full wp-image-805 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg" alt="patch-adams-o-amor-e-contagioso" width="119" height="160" /></a>ams &#8211; O Amor é Contagioso</strong></p>
<p>Em 1969, após tentar se suicidar, Hunter Adams (Robin Williams) voluntariamente se interna em um sanatório. Ao ajudar outros internos, descobre que deseja ser médico, para poder ajudar as pessoas. Deste modo, sai da instituição e entra na faculdade de medicina. Seus métodos poucos convencionais causam inicialmente espanto, mas aos poucos vai conqui&#8230;<br />
<iframe src="https://www.youtube.com/embed/q9YsMfAqZa4" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg"><img class="size-full wp-image-806 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg" alt="uma-baba-quase-perfeita" width="112" height="160" /></a><strong>Uma babá quase perfeita</strong></p>
<p>Daniel Hillard (Robin Williams) está passando por uma fase complicada, acaba de se separar de Miranda (Sally Field) e perdeu o seu emprego. Impedido pela ex-esposa de passar mais tempo com os filhos, ele tem uma idéia inusitada para recuperar a relação com as crianças. Daniel veste-se como uma senhora idosa escocesa e tenta conseguir o cargo de babá.<br />
<iframe src="https://www.youtube.com/embed/ykF07Sm5ifc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg"><img class="size-full wp-image-807 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg" alt="o-homem-bicentenario" width="104" height="160" /></a><strong>O Homem Bicentenário</strong></p>
<p>Em 2005, uma família americana compra um novo utensílio doméstico: o robô chamado Andrew (Robin Williams), para realizar tarefas domésticas simples. Entretanto, aos poucos o robô vai apresentando traços característicos do ser humano, como curiosidade, inteligência e personalidade própria. o início da saga de Andrew em busca de liberdade e de se tornar um ser humano.<br />
<iframe src="https://www.youtube.com/embed/28Djjt5OApI" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg"><img class="size-full wp-image-808 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg" alt="jumanji" width="106" height="160" /></a><strong>Jumanji</strong></p>
<p>Em 1869, dois garotos apavorados enterram um baú e, cem anos depois, o filho de um empresário descobre que dentro dele há um jogo chamado Jumanji. Quando começa a jogar com uma amiga, ele logo é penalizado a ficar na floresta até que alguém tire cinco ou oito. Como na jogada seguinte ela é atacada por morcegos, em virtude de seu posicionamento no tabuleiro, o jogo é interrompido e ele imediatamente fica preso dentro de Jumanji. Mas, vinte e seis anos depois, duas crianças começam a jogar e uma acaba libertando-o.<br />
<iframe src="https://www.youtube.com/embed/VJyCANwTiDc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg"><img class="wp-image-809 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg" alt="uma-noite-no-museu" width="106" height="156" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu-203x300.jpg 203w" sizes="(max-width: 106px) 100vw, 106px" /></a><strong>Uma Noite no Museu</strong></p>
<p>Larry Daley (Ben Stiller) é um homem de bom coração, que arranja um emprego como segurança noturno em um museu de história natural. Logo em seu 1º turno coisas estranhas começam a acontecer: esqueletos de dinossauros e estátuas de cera começam a ganhar vida. Em meio ao caos instalado no museu, a única pessoa que pode ajudá-lo é a estátua de cera de Theodore Roosevelt (Robin Williams), que, assim como os demais, também ganhou vida.<br />
<iframe src="https://www.youtube.com/embed/tt160gLbJOA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg"><img class="size-full wp-image-810 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg" alt="jack" width="107" height="160" /></a><strong>Jack</strong></p>
<p>Fábula sobre garoto (Robin Williams) que sofre de rara doença, que o faz envelhecer quatro vezes mais rápido que o normal, transformando-o num menino em corpo de homem.<br />
<iframe src="https://www.youtube.com/embed/iHaFdSx26WM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg"><img class="size-full wp-image-811 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg" alt="genio-indomavel" width="112" height="160" /></a><strong>Gênio Indomável</strong></p>
<p>Em Boston, um jovem de 20 anos (Matt Damon) que já teve algumas passagens pela polícia e servente de uma universidade, revela-se um gênio em matemática e, por determinação legal, precisa fazer terapia, mas nada funciona, pois ele debocha de todos os analistas, até se identificar com um deles.<br />
<iframe src="https://www.youtube.com/embed/LowuyZ3_B84" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg"><img class=" wp-image-815 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg" alt="flubber" width="105" height="161" /></a>Flubber &#8211; Uma Invenção Desmiolada</strong></p>
<p>Um brilhante mas distraído professor (Robin Williams) tenta aperfeiçoar uma substância que ele descobriu por acaso e que poderá ser uma nova fonte de energia. Se isto der certo ele consegue salvar o Medfield College, onde a paixão da sua vida é a diretora (Marcia Gay Harden). Ele já perdeu dois casamentos com ela e exatamente no dia que ele desenvolve este invento revolucionárioé o dia do terceiro casamento, sendo que sua noiva afirmou que se ele não aparecesse na cerimônia tudo estaria terminado. Mas a excitação de tal descoberta o faz esquecer de que existe um mundo do lado de fora do seu laboratório.<br />
<iframe src="https://www.youtube.com/embed/74whfeXZTrg" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>&nbsp;</p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg"><img class=" wp-image-814 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg" alt="aladdin" width="100" height="160" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg 375w, https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin-188x300.jpg 188w" sizes="(max-width: 100px) 100vw, 100px" /></a>Aladdin (Interpreta o Gênio da Lâmpada)</strong></p>
<p>Após o sultão ordenar que sua filha, a princesa Jasmine, ache um marido rapidamente, ela foge do palácio. Jasmine encontra um tipo meio malandro, Aladdin, que conquista seu coração. Porém ambos são achados pelos guardas de Jafar, o vizir do sultão. Jafar criou um feitiço para dominar o sultão, se casar com Jasmine e se tornar ele mesmo o sultão. Além disto finge que cometeu um engano e mandou decapitar Aladdin, que na verdade está vivo, pois Jafar precisa dele para conseguir uma lâmpada mágica, que é a morada de um poderoso gênio. Mas o plano de Jafar falha, pois Aladdin fica com a lâmpada graças a intervenção de um pequeno macaco, Abu, seu fiel mascote. Quando descobre que há na lâmpada um gênio poderoso, que pode se transformar em qualquer pessoa ou coisa e que lhe concederá três desejos, Aladdin planeja usá-los para conquistar Jasmine, sem imaginar que Jafar é um diabólico inimigo, que precisa ser detido.</p>
<p><iframe src="https://www.youtube.com/embed/jkdYkE1xgqQ" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg"><img class="size-full wp-image-812 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg" alt="tempo-de-despertar" width="113" height="160" /></a><strong>Tempo de Despertar</strong></p>
<div class="margin_20b">
<p>Bronx, 1969. Malcolm Sayer (Robin Williams) é um neurologista que conseguiu emprego em um hospital psiquiátrico. Lá ele encontra vários pacientes que aparentemente estão catatônicos, mas Sayer sente que eles estão só &#8220;adormecidos&#8221; e que se forem medicados da maneira certa poderão ser despertados. Assim pesquisa bem o assunto e chega à conclusão de que a L-DOPA, uma nova droga que já estava sendo usada para pacientes com o Mal de Parkinson, deve ser o medicamento ideal para este casos. No entanto, ao levar o assunto para o diretor, ele autoriza que apenas um paciente seja submetido ao tratamento. Imediatamente Sayer escolhe Leonard Lowe (Robert De Niro), que há décadas estava &#8220;adormecido&#8221;. Gradualmente Lowe se recupera e isto encoraja Sayer em administrar L-DOPA nos outros pacientes, sob sua supervisão. Logo os pacientes mostram sinais de melhora e também mostram-se ansiosos em recuperar o tempo perdido. Mas, infelizmente, Lowe começa a apresentar estranhos e perigosos efeitos colaterais.</p>
</div>
<div class="margin_20b"><iframe src="https://www.youtube.com/embed/BnyC82rHwKM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg"><img class="size-full wp-image-813 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg" alt="hook-a-volta-do-capitao-gancho" width="113" height="160" /></a><strong>Hook &#8211; A Volta Do Capitão Gancho</strong></p>
<p>Aos quarenta anos Peter Banning (Robin Williams), que um dia já foi Peter Pan, é um homem tão envolvido com o trabalho que deixou de dar atenção à família e esqueceu a sua origem. Mas o Capitão Gancho (Dustin Hoffman) seqüestra seus filhos, obrigando-o a retornar a Terra do Nunca.<br />
<iframe src="https://www.youtube.com/embed/XSKlkLF8POk" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&#038;title=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" data-a2a-url="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/" data-a2a-title="Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
