<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>robin williams &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/robin-williams/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Sun, 08 Nov 2015 22:10:12 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</title>
		<link>https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/</link>
				<pubDate>Sun, 08 Nov 2015 21:52:01 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[robin williams]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=803</guid>
				<description><![CDATA[<p>Saudades… No ano passado, quando Robin Williams se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,Susan Schneider, a esposa deRobin, explicou o que o levou a se matar. Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg"><img class="aligncenter size-large wp-image-818" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg" alt="robin_williams (1)" width="648" height="365" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg 1280w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p><em><strong>Saudades…</strong></em></p>
<p>No ano passado, quando <strong>Robin Williams</strong> se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,<strong>Susan Schneider</strong>, a esposa de<strong>Robin</strong>, explicou o que o levou a se matar.<span id="more-803"></span></p>
<p>Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de uma doença chamada demência de corpos de Lewy, que é uma demência, como o próprio nome diz, e é muito similar a doença de Alzheimer.</p>
<p><img class="wp-image-817 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg" alt="robin-williams-doubtfire-daughter-reacts-suicide__oPt" width="307" height="191" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg 580w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt-300x186.jpg 300w" sizes="(max-width: 307px) 100vw, 307px" />“Não foi a depressão que matou Robin, esse era um dos 50 sintomas e um bem pequeno”, explicou Susan, que contou que a doença foi descoberta um ano antes da morte trágica do astro.</p>
<p>“Sei que os médicos estavam fazendo o certo e que a doença foi mais rápida que todos. Chegaríamos ao diagnóstico eventualmente”, desabafou, alegando que a descoberta desta doença demorou a acontecer, o que é muito comum nestes casos.</p>
<p>Agora, o objetivo de vida da viúva é ajudar outras pessoas que sofrem com a doença: “Passei o ano tentando entender quem matou Robin. Um dos médicos disse, ‘Robin sabia que estava perdendo seu conhecimento e que não podia fazer nada a respeito’. Foi um caso único e rezo para que isso traga os holofotes para essa doença e para as milhões de pessoas que morrem com ela, porque nós não sabíamos. Ele não sabia”.</p>
<p>&nbsp;</p>
<p><a href="https://youtu.be/HCdUubr70i8" target="_blank">É DIVULGADO O TRAILER DO ÚLTIMO FILME DE ROBIN WILLIAMS</a></p>
<p>&nbsp;</p>
<p><strong>Relembre abaixo alguns dos principais filmes de sua carreira:</strong></p>
<p><strong>Patch Ad<a href="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg"><img class="size-full wp-image-805 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg" alt="patch-adams-o-amor-e-contagioso" width="119" height="160" /></a>ams &#8211; O Amor é Contagioso</strong></p>
<p>Em 1969, após tentar se suicidar, Hunter Adams (Robin Williams) voluntariamente se interna em um sanatório. Ao ajudar outros internos, descobre que deseja ser médico, para poder ajudar as pessoas. Deste modo, sai da instituição e entra na faculdade de medicina. Seus métodos poucos convencionais causam inicialmente espanto, mas aos poucos vai conqui&#8230;<br />
<iframe src="https://www.youtube.com/embed/q9YsMfAqZa4" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg"><img class="size-full wp-image-806 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg" alt="uma-baba-quase-perfeita" width="112" height="160" /></a><strong>Uma babá quase perfeita</strong></p>
<p>Daniel Hillard (Robin Williams) está passando por uma fase complicada, acaba de se separar de Miranda (Sally Field) e perdeu o seu emprego. Impedido pela ex-esposa de passar mais tempo com os filhos, ele tem uma idéia inusitada para recuperar a relação com as crianças. Daniel veste-se como uma senhora idosa escocesa e tenta conseguir o cargo de babá.<br />
<iframe src="https://www.youtube.com/embed/ykF07Sm5ifc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg"><img class="size-full wp-image-807 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg" alt="o-homem-bicentenario" width="104" height="160" /></a><strong>O Homem Bicentenário</strong></p>
<p>Em 2005, uma família americana compra um novo utensílio doméstico: o robô chamado Andrew (Robin Williams), para realizar tarefas domésticas simples. Entretanto, aos poucos o robô vai apresentando traços característicos do ser humano, como curiosidade, inteligência e personalidade própria. o início da saga de Andrew em busca de liberdade e de se tornar um ser humano.<br />
<iframe src="https://www.youtube.com/embed/28Djjt5OApI" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg"><img class="size-full wp-image-808 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg" alt="jumanji" width="106" height="160" /></a><strong>Jumanji</strong></p>
<p>Em 1869, dois garotos apavorados enterram um baú e, cem anos depois, o filho de um empresário descobre que dentro dele há um jogo chamado Jumanji. Quando começa a jogar com uma amiga, ele logo é penalizado a ficar na floresta até que alguém tire cinco ou oito. Como na jogada seguinte ela é atacada por morcegos, em virtude de seu posicionamento no tabuleiro, o jogo é interrompido e ele imediatamente fica preso dentro de Jumanji. Mas, vinte e seis anos depois, duas crianças começam a jogar e uma acaba libertando-o.<br />
<iframe src="https://www.youtube.com/embed/VJyCANwTiDc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg"><img class="wp-image-809 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg" alt="uma-noite-no-museu" width="106" height="156" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu-203x300.jpg 203w" sizes="(max-width: 106px) 100vw, 106px" /></a><strong>Uma Noite no Museu</strong></p>
<p>Larry Daley (Ben Stiller) é um homem de bom coração, que arranja um emprego como segurança noturno em um museu de história natural. Logo em seu 1º turno coisas estranhas começam a acontecer: esqueletos de dinossauros e estátuas de cera começam a ganhar vida. Em meio ao caos instalado no museu, a única pessoa que pode ajudá-lo é a estátua de cera de Theodore Roosevelt (Robin Williams), que, assim como os demais, também ganhou vida.<br />
<iframe src="https://www.youtube.com/embed/tt160gLbJOA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg"><img class="size-full wp-image-810 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg" alt="jack" width="107" height="160" /></a><strong>Jack</strong></p>
<p>Fábula sobre garoto (Robin Williams) que sofre de rara doença, que o faz envelhecer quatro vezes mais rápido que o normal, transformando-o num menino em corpo de homem.<br />
<iframe src="https://www.youtube.com/embed/iHaFdSx26WM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg"><img class="size-full wp-image-811 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg" alt="genio-indomavel" width="112" height="160" /></a><strong>Gênio Indomável</strong></p>
<p>Em Boston, um jovem de 20 anos (Matt Damon) que já teve algumas passagens pela polícia e servente de uma universidade, revela-se um gênio em matemática e, por determinação legal, precisa fazer terapia, mas nada funciona, pois ele debocha de todos os analistas, até se identificar com um deles.<br />
<iframe src="https://www.youtube.com/embed/LowuyZ3_B84" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg"><img class=" wp-image-815 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg" alt="flubber" width="105" height="161" /></a>Flubber &#8211; Uma Invenção Desmiolada</strong></p>
<p>Um brilhante mas distraído professor (Robin Williams) tenta aperfeiçoar uma substância que ele descobriu por acaso e que poderá ser uma nova fonte de energia. Se isto der certo ele consegue salvar o Medfield College, onde a paixão da sua vida é a diretora (Marcia Gay Harden). Ele já perdeu dois casamentos com ela e exatamente no dia que ele desenvolve este invento revolucionárioé o dia do terceiro casamento, sendo que sua noiva afirmou que se ele não aparecesse na cerimônia tudo estaria terminado. Mas a excitação de tal descoberta o faz esquecer de que existe um mundo do lado de fora do seu laboratório.<br />
<iframe src="https://www.youtube.com/embed/74whfeXZTrg" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>&nbsp;</p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg"><img class=" wp-image-814 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg" alt="aladdin" width="100" height="160" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg 375w, https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin-188x300.jpg 188w" sizes="(max-width: 100px) 100vw, 100px" /></a>Aladdin (Interpreta o Gênio da Lâmpada)</strong></p>
<p>Após o sultão ordenar que sua filha, a princesa Jasmine, ache um marido rapidamente, ela foge do palácio. Jasmine encontra um tipo meio malandro, Aladdin, que conquista seu coração. Porém ambos são achados pelos guardas de Jafar, o vizir do sultão. Jafar criou um feitiço para dominar o sultão, se casar com Jasmine e se tornar ele mesmo o sultão. Além disto finge que cometeu um engano e mandou decapitar Aladdin, que na verdade está vivo, pois Jafar precisa dele para conseguir uma lâmpada mágica, que é a morada de um poderoso gênio. Mas o plano de Jafar falha, pois Aladdin fica com a lâmpada graças a intervenção de um pequeno macaco, Abu, seu fiel mascote. Quando descobre que há na lâmpada um gênio poderoso, que pode se transformar em qualquer pessoa ou coisa e que lhe concederá três desejos, Aladdin planeja usá-los para conquistar Jasmine, sem imaginar que Jafar é um diabólico inimigo, que precisa ser detido.</p>
<p><iframe src="https://www.youtube.com/embed/jkdYkE1xgqQ" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg"><img class="size-full wp-image-812 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg" alt="tempo-de-despertar" width="113" height="160" /></a><strong>Tempo de Despertar</strong></p>
<div class="margin_20b">
<p>Bronx, 1969. Malcolm Sayer (Robin Williams) é um neurologista que conseguiu emprego em um hospital psiquiátrico. Lá ele encontra vários pacientes que aparentemente estão catatônicos, mas Sayer sente que eles estão só &#8220;adormecidos&#8221; e que se forem medicados da maneira certa poderão ser despertados. Assim pesquisa bem o assunto e chega à conclusão de que a L-DOPA, uma nova droga que já estava sendo usada para pacientes com o Mal de Parkinson, deve ser o medicamento ideal para este casos. No entanto, ao levar o assunto para o diretor, ele autoriza que apenas um paciente seja submetido ao tratamento. Imediatamente Sayer escolhe Leonard Lowe (Robert De Niro), que há décadas estava &#8220;adormecido&#8221;. Gradualmente Lowe se recupera e isto encoraja Sayer em administrar L-DOPA nos outros pacientes, sob sua supervisão. Logo os pacientes mostram sinais de melhora e também mostram-se ansiosos em recuperar o tempo perdido. Mas, infelizmente, Lowe começa a apresentar estranhos e perigosos efeitos colaterais.</p>
</div>
<div class="margin_20b"><iframe src="https://www.youtube.com/embed/BnyC82rHwKM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg"><img class="size-full wp-image-813 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg" alt="hook-a-volta-do-capitao-gancho" width="113" height="160" /></a><strong>Hook &#8211; A Volta Do Capitão Gancho</strong></p>
<p>Aos quarenta anos Peter Banning (Robin Williams), que um dia já foi Peter Pan, é um homem tão envolvido com o trabalho que deixou de dar atenção à família e esqueceu a sua origem. Mas o Capitão Gancho (Dustin Hoffman) seqüestra seus filhos, obrigando-o a retornar a Terra do Nunca.<br />
<iframe src="https://www.youtube.com/embed/XSKlkLF8POk" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&#038;title=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" data-a2a-url="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/" data-a2a-title="Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
