<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Se a Dilma sofrer um impeachment quem seria o novo presidente do Brasil?	</title>
	<atom:link href="https://deuoquefalar.com/se-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/se-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil/</link>
	<description></description>
	<lastBuildDate>Sun, 15 Mar 2015 17:47:38 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
