<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>humor &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/humor/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 08 Sep 2014 13:29:17 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Pegadinha do Cachorro Aranha</title>
		<link>https://deuoquefalar.com/pegadinha-cachorro-aranha/</link>
				<pubDate>Mon, 08 Sep 2014 13:29:17 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[humor]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=247</guid>
				<description><![CDATA[<p>Uma pegadinha com um cachorro fantasiado de aranha fez enorme sucesso nas redes sociais. Um vídeo produzido pela equipe do canal de humor polonês SA Wardega alcançou 7 milhões de visualizações em menos de dois dias, Veja o vídeo:</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/pegadinha-cachorro-aranha/">Pegadinha do Cachorro Aranha</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Uma pegadinha com um cachorro fantasiado de aranha fez enorme sucesso nas redes sociais.</p>
<p>Um vídeo produzido pela equipe do canal de humor polonês SA Wardega alcançou 7 milhões de visualizações em menos de dois dias, Veja o vídeo:</p>
<p><span id="more-247"></span><iframe src="//www.youtube.com/embed/YoB8t0B4jx4" height="441" width="634" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&amp;linkname=Pegadinha%20do%20Cachorro%20Aranha" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&amp;linkname=Pegadinha%20do%20Cachorro%20Aranha" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&amp;linkname=Pegadinha%20do%20Cachorro%20Aranha" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&#038;title=Pegadinha%20do%20Cachorro%20Aranha" data-a2a-url="https://deuoquefalar.com/pegadinha-cachorro-aranha/" data-a2a-title="Pegadinha do Cachorro Aranha"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/pegadinha-cachorro-aranha/">Pegadinha do Cachorro Aranha</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
