<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Nota &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/type/aside/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Fri, 26 Jun 2015 04:02:46 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Advocacia Confira os Melhores Cursos</title>
		<link>https://deuoquefalar.com/advocacia-confira-os-melhores-cursos/</link>
				<pubDate>Fri, 26 Jun 2015 04:02:46 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=738</guid>
				<description><![CDATA[<p>Melhores cursos de Direito no Brasil Está interessado em saber sobre cursos de Direito? Então saiba que a base de nossa organização em sociedade é o Direito. Essa ciência é responsável pela aplicação das normas e leis que são vigentes dentro de um país, ficando assim responsável também pela organização nas relações entre indivíduos e [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/advocacia-confira-os-melhores-cursos/">Advocacia Confira os Melhores Cursos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<h2 class="western" style="text-align: center;"><b>Melhores cursos de Direito no Brasil</b></h2>
<div class="western" style="text-align: center;"></div>
<div class="western">Está interessado em saber sobre cursos de<b> Direito</b>? Então saiba que a base de nossa organização em sociedade é o Direito.</div>
<div></div>
<div class="western">Essa ciência é responsável pela aplicação das normas e leis que são vigentes dentro de um país, ficando assim responsável também pela organização nas relações entre indivíduos e grupos.</div>
<p>&nbsp;</p>
<figure id="attachment_739" aria-describedby="caption-attachment-739" style="width: 625px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2015/06/Direito.jpg"><img class="wp-image-739 size-full" src="https://deuoquefalar.com/wp-content/uploads/2015/06/Direito.jpg" alt="Direito" width="625" height="470" srcset="https://deuoquefalar.com/wp-content/uploads/2015/06/Direito.jpg 625w, https://deuoquefalar.com/wp-content/uploads/2015/06/Direito-300x226.jpg 300w" sizes="(max-width: 625px) 100vw, 625px" /></a><figcaption id="caption-attachment-739" class="wp-caption-text">Imagem: www.blogdarayssa.com</figcaption></figure>
<p>&nbsp;</p>
<div class="western">Quem se forma em Direito, tem a oportunidade de atuar em vários campos, como por exemplo: a advocacia que dará ao profissional a oportunidade de atar em vários campos, dependendo das causas que defender, irá mergulhar em muitas histórias diferentes, para esse caso, não basta apenas ser bacharel em Direito, e necessário à aprovação na OAB &#8211; Ordem dos Advogados do Brasil para exercer a função, e a prova não é nada fácil.</div>
<div class="western"></div>
<p><span id="more-738"></span></p>
<ul>
<li>
<div><b>Oportunidades que o curso de Direito oferece:</b></div>
</li>
</ul>
<div class="western">O bacharel em Direito pode também estudar para concursos, podendo ser um delegado, promotor ou até mesmo um juiz.</div>
<div class="western">Dentro da carreira jurídica, o bacharel em Direito vai precisar resolver conflitos baseado no que é estabelecido pela Constituição e regulamentado em leis.</div>
<div class="western"></div>
<ul>
<li>
<div><b>Quanto tempo dura um curso de Direito?</b></div>
</li>
</ul>
<div class="western">O curso de Direito dura 5 anos e em seus primeiros anos é totalmente voltado a matérias teóricas, como, sociologia, português, teoria do estado e da economia, e algumas matérias especificas como, direito civil e constitucional, direito penal, direito comercial.</div>
<div class="western">Já nos últimos períodos de direito, vão aparecendo os trabalhos e aulas práticas e para a graduação é necessário um estágio supervisionado e a apresentação de monografia para que consiga a conclusão do curso.</div>
<div class="western"></div>
<ul>
<li>
<div><b>Por que escolher um curso regulamentado pelo MEC?</b></div>
</li>
</ul>
<div class="western">Por ser uma área que dispõe de várias áreas para atuação, o Direito é um dos cursos mais procurados do Brasil. E a cada ano que passa surgem novas instituições oferecendo o curso em suas grades curriculares.</div>
<div class="western">Mas, é aí que a coisa pega. Por ser um curso onde o objetivo principal é garantir que as leis sejam aplicadas corretamente, que a justiça seja feita que o curso precisa ser regulamentado e principalmente aprovado pelo MEC.</div>
<div class="western">E não é só isso, um curso que não tem bons resultados junto aos órgãos fiscalizadores pode ser um mau investimento em seus estudos. Geralmente o curso de Direito é um curso caro e é preciso desconfiar de instituições que oferecem o curso a um valor muito inferior a instituições já conhecidas, o curso tem uma mensalidade um pouco mais cara que outros, justamente por ter a necessidade de um corpo docente capacitado, que entenda de leis.</div>
<div class="western">Outro aspecto do curso do Direito que deve ser levado em consideração é o conteúdo aplicado nas aulas, tanto as teóricas quanto as práticas, porque tanto o exame da ordem, quanto os concursos são exigentes e bem difíceis, por isso uma boa qualidade de conteúdos durante os 5 anos de curso torna-se fundamental.</div>
<div class="western">Se estudar Direito é o seu sonho, e você quer uma instituição que ofereça todos os princípios que sugerimos acima, nós preparamos para você uma lista com os melhores cursos de Direito no Brasil, vamos conhecer quais são?</div>
<div class="western"></div>
<div class="western"></div>
<h2 class="western">Top 15 dos melhores cursos de Direito</h2>
<figure id="attachment_740" aria-describedby="caption-attachment-740" style="width: 700px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2015/06/Direito-1.jpg"><img class="wp-image-740 size-full" src="https://deuoquefalar.com/wp-content/uploads/2015/06/Direito-1.jpg" alt="Direito-1" width="700" height="467" srcset="https://deuoquefalar.com/wp-content/uploads/2015/06/Direito-1.jpg 700w, https://deuoquefalar.com/wp-content/uploads/2015/06/Direito-1-300x200.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-740" class="wp-caption-text">Imagem: www.unifebe.edu.br</figcaption></figure>
<p>&nbsp;</p>
<ol>
<li>
<div>Universidade Federal de Minas Gerais (UFMG)</div>
</li>
<li>
<div>Universidade Federal do Rio de Janeiro (UFRJ)</div>
</li>
<li>
<div>Escola de Direito de São Paulo (Direito GV)</div>
</li>
<li>
<div>Universidade de São Paulo (USP)</div>
</li>
<li>
<div>Pontifícia Universidade Católica de São Paulo (PUCSP)</div>
</li>
<li>
<div>Universidade de Brasília (UNB)</div>
</li>
<li>
<div>Universidade Federal do Rio Grande do Sul – (UFRGS)</div>
</li>
<li>
<div>Universidade Federal de Santa Catarina (UFSC)</div>
</li>
<li>
<div>Universidade Presbiteriana Mackenzie</div>
</li>
<li>
<div>Universidade Federal de Pernambuco (UFPE)</div>
</li>
<li>
<div>Universidade do Estado do Rio de Janeiro (UERJ)</div>
</li>
<li>
<div>Universidade Federal do Paraná (UFP)</div>
</li>
<li>
<div>Unip – Universidade Paulista</div>
</li>
<li>
<div>UFF – Universidade Federal Fluminense</div>
</li>
<li>
<div>Pontifícia Universidade Católica do Rio Grande Do Sul (PUCRS).</div>
</li>
</ol>
<div class="western"></div>
<div class="western">Agora que você já sabe onde estão os 15 melhores cursos de <b>Direito </b>do Brasil, comece já a estudar e se preparar para o vestibular da instituição que escolher. Boa sorte!</div>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fadvocacia-confira-os-melhores-cursos%2F&amp;linkname=Advocacia%20Confira%20os%20Melhores%20Cursos" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fadvocacia-confira-os-melhores-cursos%2F&amp;linkname=Advocacia%20Confira%20os%20Melhores%20Cursos" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fadvocacia-confira-os-melhores-cursos%2F&amp;linkname=Advocacia%20Confira%20os%20Melhores%20Cursos" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fadvocacia-confira-os-melhores-cursos%2F&#038;title=Advocacia%20Confira%20os%20Melhores%20Cursos" data-a2a-url="https://deuoquefalar.com/advocacia-confira-os-melhores-cursos/" data-a2a-title="Advocacia Confira os Melhores Cursos"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/advocacia-confira-os-melhores-cursos/">Advocacia Confira os Melhores Cursos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
