<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Público se emociona com despedida de Paul Walker em &#8220;Velozes e Furiosos 7&#8221;	</title>
	<atom:link href="https://deuoquefalar.com/publico-se-emociona-com-despedida-de-paul-walker-em-velozes-e-furiosos-7/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/publico-se-emociona-com-despedida-de-paul-walker-em-velozes-e-furiosos-7/</link>
	<description></description>
	<lastBuildDate>Mon, 16 Mar 2015 22:19:40 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
