<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>apple &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/apple/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 29 Mar 2016 14:24:01 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</title>
		<link>https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/</link>
				<pubDate>Tue, 29 Mar 2016 14:18:13 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[desbloquear]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>
		<category><![CDATA[unlock]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=866</guid>
				<description><![CDATA[<p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<blockquote><p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone</p></blockquote>
<p><img class="aligncenter size-full wp-image-867" src="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg" alt="como-desbloquear-iphone-pelo-siri" width="615" height="409" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg 615w, https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri-300x200.jpg 300w" sizes="(max-width: 615px) 100vw, 615px" /></p>
<p>Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou digital cadastrada!</p>
<p>Alguns dizem que conseguiram, outros que não&#8230; E você será que consegue? Poste nos comentários sua experiência!</p>
<p><iframe src="https://www.youtube.com/embed/9gCf9FvKCFI" width="620" height="349" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&#038;title=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" data-a2a-url="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/" data-a2a-title="Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Exclusivo: iPhone 6S Revelado!</title>
		<link>https://deuoquefalar.com/iphone-6s-revelado/</link>
				<pubDate>Tue, 11 Aug 2015 05:20:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone 6S]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=758</guid>
				<description><![CDATA[<p>&#160; Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple. Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo: &#160; Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg"><img class="aligncenter size-full wp-image-783" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg" alt="iPhone-6S-Mini" width="770" height="418" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg 770w, https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini-300x163.jpg 300w" sizes="(max-width: 770px) 100vw, 770px" /></a></p>
<p>&nbsp;</p>
<p>Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple.</p>
<p>Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo:</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg"><img class="aligncenter size-large wp-image-764" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg" alt="iphone-6s3" width="648" height="432" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-300x200.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg 1600w" sizes="(max-width: 648px) 100vw, 648px" /></a><span id="more-758"></span></p>
<p>Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo metálico mais resistente para corrigir o famigerado &#8216;bendgate&#8217;, ou aquele leve problema que foi amplamente reportado que fazia com que os iPhones 6 simplesmente entortassem nos bolsos dos usuários.</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg"><img class="aligncenter wp-image-763 size-large" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg" alt="iphone6s-2" width="648" height="585" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-300x271.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg 1300w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p>Nesta imagem, a parte frontal do iPhone 6S aparenta ser idêntica à parte da frente do Iphone 6.</p>
<p>Além do corpo metálico, é possível notar uma leve mudança na tela de 4,7 polegadas, que indicam algumas mudanças:</p>
<p><iframe src="https://www.youtube.com/embed/bSMUGGu7l-4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Uma comparação detalhada no vídeo confirma que comparando a traseira do iPhone 6 a do iPhone 6s, a do iPhone 6s é 0,2 milímetro mais grossa.</p>
<p>As áreas ao redor do botão home e os botões de volume também são notavelmente mais espessa, como a Apple também adicionou reforço à região para tratar de questões &#8220;Bendgate&#8221; .</p>
<p>Embora a capa traseira do iPhone 6s seja mais grossa e ter  um material extra em áreas mais frágeis, é dois gramas mais leve que o modelo anterior, pesando 25 gramas em comparação com 27 gramas para o iPhone 6.</p>
<p><iframe src="https://www.youtube.com/embed/GdAGoCGRqUk" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg"><img class="aligncenter wp-image-761 size-full" src="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg" alt="tela-iphone-6s" width="625" height="459" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg 625w, https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s-300x220.jpg 300w" sizes="(max-width: 625px) 100vw, 625px" /></a></p>
<p>O módulo está completo, incluindo o vidro protetor, que ainda não usa o material de safira, e o LCD. Nota-se uma camada que não está presente nos iPhones atuais, provavelmente servindo para fazer o Force Touch funcionar. Tal tecnologia foi implementada no Apple Watch e no lançamento mais atual na família de Macbooks, possibilitando a diferenciação das pressões exercidas na superfície pelos dedos do usuário, oferecendo funções adicionais e inteligentes ao iOS. A soma da camada, visando embutir a funcionalidade ao futuro gadget, pode encarecer a fabricação de cada unidade, entretanto, o valor final cobrado ao cliente não deve ser diferente.</p>
<p>Agora, ao invés de dois conectores horizontais, há um horizontal e outro na vertical, além de uma saída reta na ligação entre a carcaça e o leitor de impressões digitais, conhecido como Touch ID nos celulares com a maçã estampada em suas estruturas.</p>
<p>São alterações técnicas que podem facilitar o entrosamento das partes internas, porém o resultado das mudanças não foi comentado pela fonte. Finalizando, tanto o painel do iPhone 6s quanto o do iPhone 6parecem ter exatamente a mesma espessura, eliminando, teoricamente, a possibilidade da carcaça do novo aparelho ser mais espessa em relação ao antigo.</p>
<p>&nbsp;</p>
<h2>Sobre algumas melhorias prometidas no Iphone 6S:</h2>
<h3>Force Touch (Touch-screen)</h3>
<p>Cogita-se que a sensibilidade do touch-screen será melhorada da mesma forma como foi introduzido no Apple Watch, onde é capaz de distinguir entre um leve toque e a força da pressão do toque, permitindo vários novos gestos.</p>
<h3>Melhorias de câmera</h3>
<p>Espera que seja lançada uma câmera sob a forma de um possível sistema de duas lentes, que permitiria oferecer imagens de qualidade DSLR no seu iPhone e com 12 megapixels e com a capacidade de gravar vídeos em 4K, mas outros rumores têm discordado de que a Apple planeja introduzir um sistema de duas lentes, e manteria o mesmo sensor de 8 megapixels encontrado em iPhones anteriores.</p>
<h3>Melhorias &#8220;Fingerprint&#8221; (ID-Touch)</h3>
<p>Segundo o analista KGI Securities Ming-Chi Kuo, o iPhone 6s contará com um módulo de toque de ID atualizado com erros de leitura reduzidas para melhorar a experiência da Apple Pay.</p>
<h3>Provável Tela de Safira</h3>
<p>Há rumores indicando que haverá uma boa tela de safira produzidos pela Foxconn para a próxima geração do iPhone, outrora quem diga que não se concretizou, devido a problemas de produção.</p>
<h3>Tela de 4 Polegadas</h3>
<p>Houve rumores conflitantes relativos ao aditamento de um novo iPhone 6S de 4 polegadas a da Apple 2015. Vários rumores vindo de fabricantes da Ásia sugerem que haverá uma nova tela projetada de 4 polegadas do iPhone 6S, mas outras fontes têm apontado esses rumores como incorretos.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&#038;title=Exclusivo%3A%20iPhone%206S%20Revelado%21" data-a2a-url="https://deuoquefalar.com/iphone-6s-revelado/" data-a2a-title="Exclusivo: iPhone 6S Revelado!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Câmera do iPhone 6 DETONA – ASSISTA!</title>
		<link>https://deuoquefalar.com/camera-iphone-6-detona-assista/</link>
				<pubDate>Fri, 19 Sep 2014 14:37:04 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=267</guid>
				<description><![CDATA[<p>Muito se tem falado sobre os novos recursos que a Apple trouxe no lançamento do novo iPhone, entre eles o mais falado é a qualidade da câmera. O fotógrafo Austin Mann foi para a Islândia em uma expedição de 1 semana para testar o novo iPhone 6. Ele registrou imagens incríveis e em condições extremamente difíceis; [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/camera-iphone-6-detona-assista/">Câmera do iPhone 6 DETONA – ASSISTA!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Muito se tem falado sobre os novos recursos que a Apple trouxe no lançamento do novo iPhone, entre eles o mais falado é a qualidade da câmera. O fotógrafo Austin Mann foi para a Islândia em uma expedição de 1 semana para testar o novo iPhone 6.</p>
<p>Ele registrou imagens incríveis e em condições extremamente difíceis; ele colocou o iPhone 6 e iPhone 6 Plus para comparar ambos. Veja o vídeo!<span id="more-267"></span></p>
<p><iframe src="//www.youtube.com/embed/9vIZ0ISSJjs" height="510" width="854" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&amp;linkname=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&amp;linkname=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&amp;linkname=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&#038;title=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" data-a2a-url="https://deuoquefalar.com/camera-iphone-6-detona-assista/" data-a2a-title="Câmera do iPhone 6 DETONA – ASSISTA!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/camera-iphone-6-detona-assista/">Câmera do iPhone 6 DETONA – ASSISTA!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?</title>
		<link>https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/</link>
				<pubDate>Wed, 10 Sep 2014 01:50:02 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=254</guid>
				<description><![CDATA[<p>Pelo tanto que as pessoas e os meios de comunicação falaram sobre a Apple nos últimos dias – devido ao lançamento do iPhone 6 -, é possível que você tenha passado a prestar mais atenção nos produtos da marca. Mas nem precisa ser um grande observador para notar um detalhe em comum que os novos [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/">Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Pelo tanto que as pessoas e os meios de comunicação falaram sobre a Apple nos últimos dias – devido ao lançamento do iPhone 6 -, é possível que você tenha passado a prestar mais atenção nos produtos da marca. Mas nem precisa ser um grande observador para notar um detalhe em comum que os novos gadgets da empresa apresentam em suas imagens de divulgação: o misterioso horário 9:41.</p>
<p>Muita gente por aí logo aposta em numerologia e outras superstições relacionadas aos números. Mas, se tratando de uma companhia que tinha Steve Jobs como líder, é difícil acreditar que o marketing da marca tenha se orientado por esse lado, não é mesmo?</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-1.jpg"><span id="more-254"></span><img class="aligncenter size-large wp-image-255" alt="apple-1" src="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-1-850x1024.jpg" width="648" height="780" /></a></p>
<p>Pois para quem aposta em uma explicação mais lógica, nossos parabéns! Conforme explicou o pessoal da Apple, esse horário não se trata de uma coincidência e sim de um plano vem arquitetado. Isso porque, há 7 anos, quando Jobs apresentou o primeiro iPhone ao mundo; o evento aconteceu às 9h da manhã.</p>
<p>Assim, como as telas eram projetadas para revelar os produtos da apresentação cerca de 40 minutos depois do começo do evento e como as pessoas esperavam que o horário retratado nas imagens fosse coerente com o real, o “curioso” horário foi fixado nos produtos.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-2.jpg"><img class="aligncenter size-full wp-image-256" alt="apple-2" src="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-2.jpg" width="800" height="373" /></a></p>
<p>Atualmente, no entanto, o horário funciona como uma homenagem a Jobs. Embora a primeira aparição do aparelho tenha sido exatamente às 9:42, apresentado por ele; nas apresentações posteriores, o relógio foi atrasado em um minuto e até hoje o horário 9:41 é usado em diversas apresentações da empresa.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&amp;linkname=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&amp;linkname=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&amp;linkname=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&#038;title=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" data-a2a-url="https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/" data-a2a-title="Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/">Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!</title>
		<link>https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/</link>
				<pubDate>Mon, 01 Sep 2014 05:37:25 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=173</guid>
				<description><![CDATA[<p>Com lançamento previsto para dia 9 de setembro e com muitas melhorias confira mais fotos do novo e muito esperado iPhone6. O novo iPhone6 vem com algumas melhorias já confirmadas como: Maior tela, acabamentos arredondados, novo processador, maior autonomia de bateria estão entre a lista de melhorias. Seja bem vindo iPhone6 ! Veja as Fotos: &#160; &#160; &#160; &#160; &#160; [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/">Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Com lançamento previsto para dia 9 de setembro e com muitas melhorias confira mais fotos do novo e muito esperado <strong>iPhone6</strong>. O novo <strong>iPhone6</strong> vem com algumas melhorias já confirmadas como: Maior tela, acabamentos arredondados, novo processador, maior autonomia de bateria estão entre a lista de melhorias. Seja bem vindo <strong>iPhone6</strong> ! Veja as Fotos:<span id="more-173"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-1.png"><img class="size-medium wp-image-179 alignnone" alt="iphone6-1" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-1-300x298.png" width="300" height="298" /></a></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-2.png"><img class="size-medium wp-image-178 alignnone" alt="iphone6-2" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-2-300x300.png" width="300" height="300" /></a></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-3.png"><img class="size-medium wp-image-177 alignnone" alt="iphone6-3" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-3-300x300.png" width="300" height="300" /></a></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-4.png"><img class="alignleft size-medium wp-image-176" alt="iphone6-4" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-4-300x223.png" width="300" height="223" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a style="line-height: 1.5em;" href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-5.png"><img class="size-medium wp-image-175 alignnone" alt="iphone6-5" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-5-298x300.png" width="298" height="300" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-6.png"><img class="size-medium wp-image-174 alignnone" alt="iphone6-6" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-6-300x225.png" width="300" height="225" /></a></p>
<h2>UPDATE:</h2>
<p>Veja o teste de resistência da tela do novo iPhone no vídeo abaixo:</p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=eGxlm82hWDM&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/65716495d596d6791de0737819d790cc.jpg&#8221;]</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&amp;linkname=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&amp;linkname=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&amp;linkname=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&#038;title=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" data-a2a-url="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/" data-a2a-title="Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/">Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
