<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>iphone 6S &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/iphone-6s/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 11 Aug 2015 05:41:09 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Exclusivo: iPhone 6S Revelado!</title>
		<link>https://deuoquefalar.com/iphone-6s-revelado/</link>
				<pubDate>Tue, 11 Aug 2015 05:20:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone 6S]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=758</guid>
				<description><![CDATA[<p>&#160; Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple. Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo: &#160; Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg"><img class="aligncenter size-full wp-image-783" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg" alt="iPhone-6S-Mini" width="770" height="418" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg 770w, https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini-300x163.jpg 300w" sizes="(max-width: 770px) 100vw, 770px" /></a></p>
<p>&nbsp;</p>
<p>Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple.</p>
<p>Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo:</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg"><img class="aligncenter size-large wp-image-764" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg" alt="iphone-6s3" width="648" height="432" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-300x200.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg 1600w" sizes="(max-width: 648px) 100vw, 648px" /></a><span id="more-758"></span></p>
<p>Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo metálico mais resistente para corrigir o famigerado &#8216;bendgate&#8217;, ou aquele leve problema que foi amplamente reportado que fazia com que os iPhones 6 simplesmente entortassem nos bolsos dos usuários.</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg"><img class="aligncenter wp-image-763 size-large" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg" alt="iphone6s-2" width="648" height="585" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-300x271.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg 1300w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p>Nesta imagem, a parte frontal do iPhone 6S aparenta ser idêntica à parte da frente do Iphone 6.</p>
<p>Além do corpo metálico, é possível notar uma leve mudança na tela de 4,7 polegadas, que indicam algumas mudanças:</p>
<p><iframe src="https://www.youtube.com/embed/bSMUGGu7l-4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Uma comparação detalhada no vídeo confirma que comparando a traseira do iPhone 6 a do iPhone 6s, a do iPhone 6s é 0,2 milímetro mais grossa.</p>
<p>As áreas ao redor do botão home e os botões de volume também são notavelmente mais espessa, como a Apple também adicionou reforço à região para tratar de questões &#8220;Bendgate&#8221; .</p>
<p>Embora a capa traseira do iPhone 6s seja mais grossa e ter  um material extra em áreas mais frágeis, é dois gramas mais leve que o modelo anterior, pesando 25 gramas em comparação com 27 gramas para o iPhone 6.</p>
<p><iframe src="https://www.youtube.com/embed/GdAGoCGRqUk" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg"><img class="aligncenter wp-image-761 size-full" src="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg" alt="tela-iphone-6s" width="625" height="459" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg 625w, https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s-300x220.jpg 300w" sizes="(max-width: 625px) 100vw, 625px" /></a></p>
<p>O módulo está completo, incluindo o vidro protetor, que ainda não usa o material de safira, e o LCD. Nota-se uma camada que não está presente nos iPhones atuais, provavelmente servindo para fazer o Force Touch funcionar. Tal tecnologia foi implementada no Apple Watch e no lançamento mais atual na família de Macbooks, possibilitando a diferenciação das pressões exercidas na superfície pelos dedos do usuário, oferecendo funções adicionais e inteligentes ao iOS. A soma da camada, visando embutir a funcionalidade ao futuro gadget, pode encarecer a fabricação de cada unidade, entretanto, o valor final cobrado ao cliente não deve ser diferente.</p>
<p>Agora, ao invés de dois conectores horizontais, há um horizontal e outro na vertical, além de uma saída reta na ligação entre a carcaça e o leitor de impressões digitais, conhecido como Touch ID nos celulares com a maçã estampada em suas estruturas.</p>
<p>São alterações técnicas que podem facilitar o entrosamento das partes internas, porém o resultado das mudanças não foi comentado pela fonte. Finalizando, tanto o painel do iPhone 6s quanto o do iPhone 6parecem ter exatamente a mesma espessura, eliminando, teoricamente, a possibilidade da carcaça do novo aparelho ser mais espessa em relação ao antigo.</p>
<p>&nbsp;</p>
<h2>Sobre algumas melhorias prometidas no Iphone 6S:</h2>
<h3>Force Touch (Touch-screen)</h3>
<p>Cogita-se que a sensibilidade do touch-screen será melhorada da mesma forma como foi introduzido no Apple Watch, onde é capaz de distinguir entre um leve toque e a força da pressão do toque, permitindo vários novos gestos.</p>
<h3>Melhorias de câmera</h3>
<p>Espera que seja lançada uma câmera sob a forma de um possível sistema de duas lentes, que permitiria oferecer imagens de qualidade DSLR no seu iPhone e com 12 megapixels e com a capacidade de gravar vídeos em 4K, mas outros rumores têm discordado de que a Apple planeja introduzir um sistema de duas lentes, e manteria o mesmo sensor de 8 megapixels encontrado em iPhones anteriores.</p>
<h3>Melhorias &#8220;Fingerprint&#8221; (ID-Touch)</h3>
<p>Segundo o analista KGI Securities Ming-Chi Kuo, o iPhone 6s contará com um módulo de toque de ID atualizado com erros de leitura reduzidas para melhorar a experiência da Apple Pay.</p>
<h3>Provável Tela de Safira</h3>
<p>Há rumores indicando que haverá uma boa tela de safira produzidos pela Foxconn para a próxima geração do iPhone, outrora quem diga que não se concretizou, devido a problemas de produção.</p>
<h3>Tela de 4 Polegadas</h3>
<p>Houve rumores conflitantes relativos ao aditamento de um novo iPhone 6S de 4 polegadas a da Apple 2015. Vários rumores vindo de fabricantes da Ásia sugerem que haverá uma nova tela projetada de 4 polegadas do iPhone 6S, mas outras fontes têm apontado esses rumores como incorretos.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&#038;title=Exclusivo%3A%20iPhone%206S%20Revelado%21" data-a2a-url="https://deuoquefalar.com/iphone-6s-revelado/" data-a2a-title="Exclusivo: iPhone 6S Revelado!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
