<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>ios8 &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/ios8/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Wed, 17 Sep 2014 17:06:18 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Não atualize para o IOS8 se você tiver um iPhone 4s</title>
		<link>https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/</link>
				<pubDate>Wed, 17 Sep 2014 17:06:18 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[ios8]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=261</guid>
				<description><![CDATA[<p>Nós já vimos há algum tempo atrás, no lançamento do iOS 7, que usuários de iPhone 4S sofreram bastante com a queda de rendimento que a nova versão do sistema acabou proporcionando ao dispositivo, lançado em 2011. O hardware do 4S, apesar de ter sido o suficiente para segurar com muita precisão os recursos da época, atualmente não consegue [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/">Não atualize para o IOS8 se você tiver um iPhone 4s</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/prfmaubqncqha2idzy4f.jpg"><img class="aligncenter size-full wp-image-263" alt="prfmaubqncqha2idzy4f" src="https://deuoquefalar.com/wp-content/uploads/2014/09/prfmaubqncqha2idzy4f.jpg" width="636" height="358" /></a></p>
<p>Nós já vimos há algum tempo atrás, no lançamento do iOS 7, que usuários de iPhone 4S sofreram bastante com a queda de rendimento que a nova versão do sistema acabou proporcionando ao dispositivo, lançado em 2011. O hardware do 4S, apesar de ter sido o suficiente para segurar com muita precisão os recursos da época, atualmente não consegue ser tão eficaz neste quesito, e pode prejudicar muitos usuários que deverão atualizar seus smartphones hoje.<span id="more-261"></span></p>
<p>Quem descobriu isso (e da pior maneira) foi o pessoal do <em>ARS Technica</em>, que após fazer diversos testes com o dispositivo e comparando-o com o rendimento de outros aparelhos, conseguiu obter números nada satisfatórios. Para se ter uma ligeira ideia, o iPhone 4S possui cerca de 1/4 do rendimento de um iPhone 5S.</p>
<p>O dispositivo não possui recursos suficientes para suportar as novidades do novo sistema, como a API Metal, AirDrop, Touch ID e muitos outros, por isso acaba &#8220;engasgando&#8221; até mesmo na hora de ligar. Em um teste rápido utilizando o iOS 7.1.2 contra o iOS 8 GM (Golden Master), para abrir o Safari, o 4S precisou de 1.25 segundos usando a versão anterior do sistema. Com iOS 8, ele abriu o aplicativo em 2.16 segundos.</p>
</div>
<div><a href="https://api.tudocdn.net/img/max_width1000/id93060.jpg" rel="group" data-fancybox-type="image"><img alt="" src="https://api.tudocdn.net/img/width640/height210/id93060.jpg" width="640" height="210" data-src="https://api.tudocdn.net/img/width640/height210/id93060.jpg" /></a></p>
<div>Imagem via ARS Technica</div>
</div>
<div>
<p>Se você está pensando em atualizar o seu iPhone 4S para a nova versão do sistema, sugerimos que aguarde mais alguns dias para que a Apple obtenha o feedback de outros usuários e, assim, possa fazer novas atualizações para melhorar o rendimento do aparelho com o iOS 8. Até lá, contente-se com o iOS 7.1.2 que não deixa, de fato, os usuários de aparelhos mais antigos na mão.</p>
<p>Outra opção considerável é um upgrade de aparelho, podendo optar até mesmo por um iPhone 5C ou modelos mais recentes.</p>
</div>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&amp;linkname=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&amp;linkname=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&amp;linkname=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&#038;title=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" data-a2a-url="https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/" data-a2a-title="Não atualize para o IOS8 se você tiver um iPhone 4s"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/">Não atualize para o IOS8 se você tiver um iPhone 4s</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
