<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos	</title>
	<atom:link href="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/</link>
	<description></description>
	<lastBuildDate>Mon, 22 Sep 2014 16:06:59 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
