<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Imagem &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/type/image/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Fri, 19 Jun 2015 00:34:06 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Arnold Schwarzenegger em pegadinha do Exterminador do Futuro</title>
		<link>https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/</link>
				<pubDate>Fri, 19 Jun 2015 00:30:59 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=728</guid>
				<description><![CDATA[<p>Arnold Schwarzenegger fazendo pegadinha do Exterminador do Futuro para divulgar o novo Exterminador do Futuro e também o seu projeto de caridade. Imagina, você vai no museu de cera, resolve tirar uma foto com o T-800 e ele conversa contigo?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/">Arnold Schwarzenegger em pegadinha do Exterminador do Futuro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Arnold Schwarzenegger fazendo pegadinha do Exterminador do Futuro para divulgar o novo Exterminador do Futuro e também o seu projeto de caridade.<span id="more-728"></span></p>
<p><iframe src="https://www.youtube.com/embed/w81g199L8YA" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Imagina, você vai no museu de cera, resolve tirar uma foto com o T-800 e ele conversa contigo?</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&amp;linkname=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&amp;linkname=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&amp;linkname=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&#038;title=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" data-a2a-url="https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/" data-a2a-title="Arnold Schwarzenegger em pegadinha do Exterminador do Futuro"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/">Arnold Schwarzenegger em pegadinha do Exterminador do Futuro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Google tem relatório com todos os lugares onde você esteve; confira com os seus próprios olhos</title>
		<link>https://deuoquefalar.com/google-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos/</link>
				<pubDate>Tue, 02 Sep 2014 16:03:30 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=192</guid>
				<description><![CDATA[<p>Se você usa um celular Android, o Google monitora a sua localização. Talvez você já soubesse disso. Mas ao ver a lista compilada pelo Google, você provavelmente vai levar um susto. Ela mapeia todos os seus passos, 24 horas por dia, dia após dia, mês após mês, ano após ano – e organiza numa espécie de calendário. Clique aqui para [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/google-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos/">Google tem relatório com todos os lugares onde você esteve; confira com os seus próprios olhos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Se você usa um celular Android, o Google monitora a sua localização. Talvez você já soubesse disso. Mas ao ver a lista compilada pelo Google, você provavelmente vai levar um susto.</p>
<p><span id="more-192"></span>Ela mapeia todos os seus passos, 24 horas por dia, dia após dia, mês após mês, ano após ano – e organiza numa espécie de calendário. <a href="https://maps.google.com/locationhistory/b/0/" target="_blank">Clique aqui para conferir</a>. Inclui absolutamente <em>tudo</em>.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/10599176_10152800382007580_8112954461241673774_n.png"><img class="alignleft size-full wp-image-193" alt="10599176_10152800382007580_8112954461241673774_n" src="https://deuoquefalar.com/wp-content/uploads/2014/09/10599176_10152800382007580_8112954461241673774_n.png" width="650" height="315" /></a></p>
<p>O Google vigia a sua localização para fornecer “serviços relevantes”, como resultados de busca relacionados ao lugar onde você está. É legítimo, e não é exclusividade do Android (desde 2011, sabe-se que o iPhone faz algo similar). Mas também é meio perturbador – pois o celular transmite a sua localização mesmo se você estiver com o Google Maps fechado e o GPS desligado.</p>
<p>Um prato cheio para os robôs do Google (que já têm acesso aos seus emails, chats, buscas e até navegação na internet), e um banquete tentador para os espiões da NSA. Há quem diga que quem não deve não teme. Mas se você acha que isso tem um pouco de &#8220;1984&#8221;, em tese é possível desligar o monitoramento. Entre nas configurações do Android, abra o item Serviços de local e desmarque as opções “Serviços de localização do Google” e “Localização e pesquisa do Google”. Isso irá deixar o Google Maps mais lento, pois ele passará a depender exclusivamente do GPS (no iOS 7, as configurações relevantes ficam em “Serviços de localização”).</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgoogle-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos%2F&amp;linkname=Google%20tem%20relat%C3%B3rio%20com%20todos%20os%20lugares%20onde%20voc%C3%AA%20esteve%3B%20confira%20com%20os%20seus%20pr%C3%B3prios%20olhos" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgoogle-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos%2F&amp;linkname=Google%20tem%20relat%C3%B3rio%20com%20todos%20os%20lugares%20onde%20voc%C3%AA%20esteve%3B%20confira%20com%20os%20seus%20pr%C3%B3prios%20olhos" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgoogle-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos%2F&amp;linkname=Google%20tem%20relat%C3%B3rio%20com%20todos%20os%20lugares%20onde%20voc%C3%AA%20esteve%3B%20confira%20com%20os%20seus%20pr%C3%B3prios%20olhos" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fgoogle-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos%2F&#038;title=Google%20tem%20relat%C3%B3rio%20com%20todos%20os%20lugares%20onde%20voc%C3%AA%20esteve%3B%20confira%20com%20os%20seus%20pr%C3%B3prios%20olhos" data-a2a-url="https://deuoquefalar.com/google-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos/" data-a2a-title="Google tem relatório com todos os lugares onde você esteve; confira com os seus próprios olhos"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/google-tem-relatorio-com-todos-os-lugares-onde-voce-esteve-confira-com-os-seus-proprios-olhos/">Google tem relatório com todos os lugares onde você esteve; confira com os seus próprios olhos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
