<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 17 Dec 2019 01:38:34 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”</title>
		<link>https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/</link>
				<pubDate>Tue, 17 Dec 2019 01:38:02 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=1000</guid>
				<description><![CDATA[<p>Na letra N: naja é cobra? Na letra D: dinossauro é animal? Dourado é cor? Na letra J: jipe é carro? PERGUNTA&#160;Fernando Mardini, São Paulo, SP GELO É COR? Depende do seu critério. A empresa Pantone, principal referência mundial para cores, oferece em seu catálogo 11 variações diferentes da&#160;cor&#160;gelo, como “gelo&#160;ártico”, “gelo&#160;azul”&#160;e&#160;simplesmente “gelo“. Porém, se [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/">“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/gelo-cor-thumb.png" alt="" class="wp-image-1001" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/gelo-cor-thumb.png 680w, https://deuoquefalar.com/wp-content/uploads/2019/12/gelo-cor-thumb-300x200.png 300w" sizes="(max-width: 680px) 100vw, 680px" /></figure>



<p><em>Na letra N: naja é cobra? Na letra D: dinossauro é animal? Dourado é cor? Na letra J: jipe é carro?</em></p>



<span id="more-1000"></span>



<p><strong>PERGUNTA</strong>&nbsp;Fernando Mardini, São Paulo, SP</p>



<p><strong>GELO É COR?</strong></p>



<p>Depende do seu critério. A empresa Pantone, principal referência mundial para cores, oferece em seu catálogo 11 variações diferentes da&nbsp;cor&nbsp;gelo, como “gelo&nbsp;ártico”, “gelo&nbsp;azul”&nbsp;e&nbsp;simplesmente “gelo“. Porém, se a sua preocupação se refere ao jogo de stop (também conhecido como “adedanha” ou “adedonha” em algumas regiões do Brasil), fique sabendo que aceitar a escala Pantone como referência vai deixar o desafio bem mais fácil. Esse catálogo contém quase 2 mil cores diferentes, com nomes como “gloxínia”, “pérola escurecida”&nbsp;e&nbsp;“fúcsia festival”. Isso sem falar nas cores presentes nos catálogos de tintas ou de esmaltes. Vai ficar fácil todo mundo ganhar 10 pontos nessa categoria!</p>



<p><strong>NAJA É ANIMAL?</strong></p>



<p>Como é difícil achar um bicho com a letra N! Nos critérios da classificação científica, o que chamamos de “cobra” (<em>Elapidae</em>)&nbsp;é&nbsp;uma família de animais. Já o que chamamos de naja&nbsp;é&nbsp;um gênero (ou seja, um subgrupo dentro da família “cobra”).&nbsp;É&nbsp;um animal, sim. Porém, se gêneros, espécies ou raças de animais forem aceitáveis no jogo, ninguém poderá reclamar se responderem “poodle” na letra P, por exemplo.</p>



<p><strong>DRAGÃO É ANIMAL?</strong></p>



<p>Os dragões aparecem em diferentes mitologias, mas sua existência segue reservada aos contos de fadas, filmes, desenhos&nbsp;e&nbsp;<em>Game of Thrones</em>, claro. Na Eslovênia, o proteus (<em>Proteus anguinus</em>) costumava ser chamado de “filhote de dragão”, mas não passa de uma salamandra. Para garantir esse ponto na letra D, vá numa opção que realmente existe: o dragão-de-komodo (<em>Varanus komodoensis</em>), que, na verdade,&nbsp;é&nbsp;um lagarto.</p>



<p><strong>DINOSSAURO É ANIMAL?<br></strong></p>



<p>Outra resposta comum quando é sorteada a letra D. Sim, os dinossauros faziam parte do reino animal. Mas o termo designa um conjunto de bichos – mais especificamente, todos que faziam parte do clado&nbsp;<em>Dinosauria</em>. Portanto, ele&nbsp;é&nbsp;mais um critério de classificação do que o nome específico de um animal. Responder “dinossauro” na letra D seria quase como responder “mamífero” na letra M. Você acha que vale? (Se você quiser ser mais específico, responda “diplodoco” – que também era um dinossauro).</p>



<p><strong>DOURADO É COR?<br></strong>Se recorrermos novamente à escala Pantone, a resposta&nbsp;é&nbsp;sim.&nbsp;E&nbsp;dá até para todos os jogadores fazerem 10 pontos com respostas únicas: o catálogo da empresa inclui 45 tons diferentes, como o “dourado amarelado”, o “dourado verde”&nbsp;e&nbsp;o “dourado marrom”. A versão regular da&nbsp;cor&nbsp;é&nbsp;constituída pela mistura de 20% de magenta (vermelho), 60% de amarelo&nbsp;e&nbsp;20% de preto.</p>



<p><strong>PAREDE É OBJETO?</strong></p>



<p>Para responder a essa pergunta, precisamos buscar a definição de objeto no dicionário: “Toda coisa material que pode ser percebida pelos sentidos”. Ok, uma parede se encaixa nessa definição, mas praticamente qualquer coisa passaria por esse critério. Se conseguimos enxergar as estrelas, então “estrela” também&nbsp;é&nbsp;um “objeto”. Aliás, até seres vivos seriam objetos! Você poderia repetir as mesmas respostas das categorias “Animal” e “Fruta”, por exemplo.</p>



<p><strong>JIPE É CARRO?</strong></p>



<p>A palavra&nbsp;é&nbsp;um aportuguesamento de Jeep, fabricante norte-americana que ficou famosa pelos automóveis com tração nas quatro rodas, geralmente com fins militares ou rurais.&nbsp;É&nbsp;um caso de marca que virou sinônimo do produto, como “gilete” virou sinônimo de lâmina de barbear e “bombril” virou equivalente a palha de aço. Porém, trata-se de uma montadora, então, se Jeep for aceito, também vale responder Fiat, Chevrolet, Hyundai…</p>



<p><strong>BANDIDO É PROFISSÃO?</strong></p>



<p>Uma profissão pode ser definida como uma ocupação ou atividade remunerada que presta um serviço à comunidade. Bandidos não têm remuneração fixa, não prestam serviço&nbsp;e&nbsp;não são reconhecidos como profissionais por nenhuma instituição ligada ao setor, como o Ministério do Trabalho ou a Justiça do Trabalho. Se cair a letra B, esqueça essa opção.</p>



<p><strong>TOMATE É FRUTA?</strong></p>



<p>Depende. “Fruta”&nbsp;é&nbsp;uma classificação comercial, em geral reservada a alimentos adocicados. Porém, na botânica existe o termo “fruto”: o ovário amadurecido de uma planta, onde ficam as sementes.&nbsp;E, sob esse critério, tomate certamente&nbsp;é&nbsp;um fruto. Se os jogadores concordarem que “fruta”&nbsp;e“fruto” são a mesma coisa, outros legumes, como abobrinha, pepino&nbsp;e&nbsp;pimentão, também serão respostas válidas.</p>



<p><strong>FONTES</strong>&nbsp;Sites&nbsp;<em>BBC</em>,&nbsp;<em>Pantone</em>&nbsp;e&nbsp;<em>Mundo Educação</em>; livros&nbsp;<em>Serpentes da Bahia&nbsp;e&nbsp;do Brasil</em>, de Marco Antonio de Freitas,&nbsp;e&nbsp;<em>Fósseis de Vertebrados&nbsp;e&nbsp;Plantas no Período dos Dinossauros da Região do Triângulo Mineiro</em>, de Carlos Roberto A. Candeiro&nbsp;e&nbsp;Leonardo S. Avilla</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&amp;linkname=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&amp;linkname=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&amp;linkname=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&#038;title=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" data-a2a-url="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/" data-a2a-title="“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/">“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo</title>
		<link>https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/</link>
				<pubDate>Mon, 16 Dec 2019 15:51:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=997</guid>
				<description><![CDATA[<p>Vindo diretamente do TikTok, mais um desafio tomou a internet do dia para a noite. Desta vez, é o &#8220;Chair Challenge&#8221; – traduzido como &#8220;desafio da cadeira&#8221;–, que parece ser quase impossível para qualquer homem. Já tentou?A brincadeira é, inicialmente, proposta para ser feita em dupla, com um homem e uma mulher. No entanto, você [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/">#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-1024x512.jpg" alt="" class="wp-image-998" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-1024x512.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-300x150.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-768x384.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>Vindo diretamente do TikTok, mais um desafio tomou a internet do dia para a noite. Desta vez, é o &#8220;Chair Challenge&#8221; – traduzido como &#8220;desafio da cadeira&#8221;–, que parece ser quase impossível para qualquer homem. </p>



<span id="more-997"></span>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="&#x1fa91;&#x1fa91; CHAIR CHALLENGE! part 2 &#x1fa91;&#x1fa91;| Top 2019 TikTok Challenge Compilations" width="648" height="365" src="https://www.youtube.com/embed/AoNJxvctr5g?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p><strong>Já tentou?</strong><br>A brincadeira é, inicialmente, proposta para ser feita em dupla, com um homem e uma mulher. No entanto, você pode tentar sozinho, ou em grupos maiores!</p>



<p>Para jogar, é preciso ter à disposição uma cadeira leve (que todos os participantes consigam levantar sem maiores dificuldades), e uma parede lisa.</p>



<p>Comece encostando a cadeira na parede e posicionando-se atrás dela, para que o móvel esteja entre você e a parede. Seus pés não devem estar abaixo da superfície da cadeira, nem muito distantes dela.</p>



<p>Para calcular a distância da parede que você deve tomar, você pode encostar seus pés na parede, e em seguida dar dois passos curtos para trás.</p>



<p>Em seguida, com os dois pés unidos e os joelhos esticados, porém relaxados, desça o tronco até encostar o topo de sua cabeça na parede. Seu tronco e pernas devem formar um ângulo de cerca de 90º.</p>



<p>Agora, se já não estava apoiando as mãos na cadeira, segure-a e tente levantá-la, levando a cadeira ao seu peito. Em seguida, ainda segurando a cadeira, endireite seu corpo.</p>



<p>O objetivo é conseguir retomar sua postura normal, desencostando na parede, enquanto carrega a cadeira.</p>



<p><strong>Por que homens têm dificuldade?</strong><br>Como é possível perceber nos vídeos, para homens de qualquer idade parece ser bem mais complicado concluir o desafio do que para as mulheres.</p>



<p>Pessoas mais altas também parecem ter mais problemas em conseguir endireitar o corpo enquanto seguram a cadeira. É possível sentir que você &#8220;não consegue&#8221; se levantar, ou perder o equilíbrio enquanto tenta.</p>



<figure class="wp-block-embed-twitter wp-block-embed is-type-rich is-provider-twitter"><div class="wp-block-embed__wrapper">
<blockquote class="twitter-tweet" data-width="550" data-dnt="true"><p lang="en" dir="ltr">Have u tried this yet? <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f602.png" alt="😂" class="wp-smiley" style="height: 1em; max-height: 1em;" /> <a href="https://twitter.com/hashtag/chairchallenge?src=hash&amp;ref_src=twsrc%5Etfw">#chairchallenge</a> Apparently it’s IMPOSSIBLE for men to do it <a href="https://t.co/CyaR2dEcaf">pic.twitter.com/CyaR2dEcaf</a></p>&mdash; Jason Derulo (@jasonderulo) <a href="https://twitter.com/jasonderulo/status/1203447835741569024?ref_src=twsrc%5Etfw">December 7, 2019</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div></figure>



<p>Há duas possíveis justificativas para esta dificuldade.</p>



<p>Uma se baseia no&nbsp;<strong>tamanho dos pés</strong>&nbsp;do participante. Com frequência, homens possuem pés maiores, assim como os altos calçam números maiores que os baixinhos.</p>



<p>Assim, ao dar alguns passos para trás, homens e pessoas mais altas estarão sempre um pouco mais distantes da parede do que mulheres e indivíduos baixos. Quanto mais longe da parede você estiver, mais difícil concluir o desafio.</p>



<p>Outra explicação envolve o conceito de&nbsp;<strong>centro de gravidade</strong>. Este seria o ponto onde toda a massa de um corpo (seja uma caixa, um haltere, um cachorro ou você) fica concentrada, e onde todas as forças físicas se aplicam.</p>



<p>Para mulheres e homens, o centro de massa fica em pontos diferentes, segundo alguns físicos. Para homens, ele fica mais próximo do peito – logo, o apoio para os rapazes fica mais concentrado no tronco, que, durante o desafio, está deitado na horizontal.</p>



<p>Já para as mulheres, o centro gravitacional está mais próximo das pernas. Logo, é muito mais fácil para elas apoiarem seu peso nos membros inferiores, e puxarem seu tronco junto à cadeira.</p>



<p>O centro de massa também fica mais próximo ou distante do chão de acordo com a altura de cada pessoa, tornando o desafio mais fácil para os baixinhos, e difícil para os altos.</p>



<figure class="wp-block-embed-twitter wp-block-embed is-type-rich is-provider-twitter"><div class="wp-block-embed__wrapper">
<blockquote class="twitter-tweet" data-width="550" data-dnt="true"><p lang="en" dir="ltr">Probably the funniest <a href="https://twitter.com/hashtag/ChairChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#ChairChallenge</a> you’ll see <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f602.png" alt="😂" class="wp-smiley" style="height: 1em; max-height: 1em;" /><img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f602.png" alt="😂" class="wp-smiley" style="height: 1em; max-height: 1em;" /> <a href="https://t.co/AYdlv4NsxP">pic.twitter.com/AYdlv4NsxP</a></p>&mdash; Isaiah Horne. (@_mrhorne2u_) <a href="https://twitter.com/_mrhorne2u_/status/1202828119373053952?ref_src=twsrc%5Etfw">December 6, 2019</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&amp;linkname=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&amp;linkname=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&amp;linkname=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&#038;title=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" data-a2a-url="https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/" data-a2a-title="#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/">#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Confira os lançamentos Netflix de Dezembro (15 a 21)</title>
		<link>https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/</link>
				<pubDate>Mon, 16 Dec 2019 13:31:43 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=993</guid>
				<description><![CDATA[<p>Confira quais são os lançamentos que chegam à plataforma Netflix nessa semana. Serão adicionados mais 43 títulos ao catálogo do streaming. </p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/">Confira os lançamentos Netflix de Dezembro (15 a 21)</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e.jpg" alt="" class="wp-image-994" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e.jpg 750w, https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e-300x188.jpg 300w" sizes="(max-width: 750px) 100vw, 750px" /></figure>



<p> Confira quais são os lançamentos que chegam à plataforma Netflix nessa semana. Serão adicionados mais 43 títulos ao catálogo do streaming. Confira quais são eles! </p>



<span id="more-993"></span>



<p>Mais uma semana que chega e com ela temos, é claro, mais <strong>lançamentos chegando ao streaming Netflix</strong>. Dentre as novidades da semana estão mais <strong>filmes, séries e novas temporada</strong>s. Então, confira já, serão adicionados mais 43 títulos ao catálogo.</p>



<p>A série <strong>Good Witch</strong> recebe nessa semana a sua <strong>quinta temporada</strong> no streaming. Ao criar a filha em uma cidade pequena, uma encantadora viúva com poderes mágicos desperta o interesse de um desconfiado médico da cidade grande.</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Good Witch Extended Preview - Season 1" width="648" height="365" src="https://www.youtube.com/embed/Y4kDSKGxvD8?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> streia também no catálogo Netflix essa semana o filme de ação e aventura&nbsp;<strong>Resident Evil: O Último Capítulo.</strong>&nbsp;Alice tem que enfrentar o Dr. Isaacs, a Umbrella e uma horda de zumbis para salvar a humanidade com um antivírus que está em Raccoon City. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Resident Evil O Capítulo Final | Trailer legendado | 26 de janeiro nos cinemas" width="648" height="365" src="https://www.youtube.com/embed/17sInSM9kE0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> A&nbsp;<strong>segunda temporada</strong>&nbsp;de&nbsp;<strong>Ultravioleta</strong>&nbsp;fica disponível na quinta-feira. Em busca de justiça, uma comunidade online de detetives amadores descobre na tecnologia uma ferramenta para solucionar crimes. E também para fazer amigos bem peculiares. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Ultraviolet Netflix HD Trailer" width="648" height="365" src="https://www.youtube.com/embed/HEcxqBH5eCc?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> A série<strong>&nbsp;The Witcher</strong>&nbsp;estreia na plataforma dia 20 de dezembro. O mutante Geralt de Rívia é um caçador de monstros que luta para encontrar seu lugar num mundo onde as pessoas muitas vezes são mais perversas que as criaturas selvagens. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="THE WITCHER | TRAILER FINAL | NETFLIX" width="648" height="365" src="https://www.youtube.com/embed/sCxQFlkgzrw?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> E um último detalhe: Boa parte dos títulos não são listados pela Netflix ou então são remarcados no que deveria ser o dia de sua estreia. Por isso <strong>este post é atualizado e revisado DIARIAMENTE</strong> logo pela manhã. Para ter certeza de que você está por dentro de todas as novidades, não esqueça de voltar aqui diariamente para conferir se alguma coisa mudou daquelas que foram programadas previamente.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&#038;title=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" data-a2a-url="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/" data-a2a-title="Confira os lançamentos Netflix de Dezembro (15 a 21)"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/">Confira os lançamentos Netflix de Dezembro (15 a 21)</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”</title>
		<link>https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/</link>
				<pubDate>Mon, 16 Dec 2019 09:32:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=989</guid>
				<description><![CDATA[<p>Como noticiamos há algumas semanas, o trailer de Um Lugar Silencioso 2 seria divulgado em breve, e o momento finalmente chegou. A primeira prévia do filme está sendo exibida em algumas sessões dos Estados Unidos e alguém conseguiu gravar e disponibilizar na internet. Assista: O filme é a continuação de Um Lugar Silencioso, lançado no inicio de 2018 [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/">SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/screen-shot-2019-06-14-at-14-34-17.png" alt="" class="wp-image-990" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/screen-shot-2019-06-14-at-14-34-17.png 739w, https://deuoquefalar.com/wp-content/uploads/2019/12/screen-shot-2019-06-14-at-14-34-17-300x175.png 300w" sizes="(max-width: 739px) 100vw, 739px" /></figure>



<p>Como noticiamos há algumas semanas, o trailer de <strong>Um Lugar Silencioso 2 </strong>seria divulgado em breve, e o momento finalmente chegou. A primeira prévia do filme está sendo exibida em algumas sessões dos Estados Unidos e alguém conseguiu gravar e disponibilizar na internet. Assista:</p>



<span id="more-989"></span>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="A Quiet Place 2 Teaser" width="648" height="365" src="https://www.youtube.com/embed/U6zG_g0I684?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> O filme é a continuação de <strong>Um Lugar Silencioso</strong>, lançado no inicio de 2018 e indicado a um Oscar. <strong>Emily Blunt</strong> retorna como protagonista, e o filme será lançado em março de 2020. </p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&amp;linkname=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&amp;linkname=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&amp;linkname=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&#038;title=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" data-a2a-url="https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/" data-a2a-title="SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/">SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</title>
		<link>https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/</link>
				<pubDate>Fri, 13 Dec 2019 13:55:53 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=971</guid>
				<description><![CDATA[<p>1. Enquanto você espera a chegada do feriado, o seu gato faz algo que ele domina como ninguém: repousar em berço esplêndido 2. Pode acontecer de ele recorrer a um refúgio em meio à natureza 3. Um lugar privilegiado na mesa do almoço de domingo 4. Uma caixa abandonada para a qual ninguém dava bola [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/">13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg" alt="" class="wp-image-972" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-300x187.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-768x480.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /></figure>



<span id="more-971"></span>



<h3>1. Enquanto você espera a chegada do feriado, o seu gato faz algo que ele domina como ninguém: repousar em berço esplêndido</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg" alt="" class="wp-image-972" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-300x187.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-768x480.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>2. Pode acontecer de ele recorrer a um refúgio em meio à natureza</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-802x1024.jpg" alt="" class="wp-image-973" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-802x1024.jpg 802w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-235x300.jpg 235w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-768x980.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379.jpg 850w" sizes="(max-width: 802px) 100vw, 802px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>3. Um lugar privilegiado na mesa do almoço de domingo</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-769x1024.jpg" alt="" class="wp-image-974" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-769x1024.jpg 769w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-225x300.jpg 225w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-768x1023.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380.jpg 850w" sizes="(max-width: 769px) 100vw, 769px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>4. Uma caixa abandonada para a qual ninguém dava bola</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381.jpg" alt="" class="wp-image-975" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381-300x229.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381-768x587.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>5. Aquela convidativa fenda entre as almofadas do sofá da sala</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-683x1024.jpg" alt="" class="wp-image-976" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-683x1024.jpg 683w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-200x300.jpg 200w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-768x1152.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383.jpg 850w" sizes="(max-width: 683px) 100vw, 683px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>6. Ou debaixo da caminha que você comprou para ele com o maior carinho</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-769x1024.jpg" alt="" class="wp-image-977" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-769x1024.jpg 769w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-225x300.jpg 225w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-768x1023.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384.jpg 850w" sizes="(max-width: 769px) 100vw, 769px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>7. Às vezes, a estranha lógica dos gatos se revela um tanto espantosa</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385.jpg" alt="" class="wp-image-978" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385-300x270.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385-768x690.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>8. Como quando eles tentam lutar contra as leis da Física</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386.jpg" alt="" class="wp-image-979" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386-300x224.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386-768x575.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>9. Quando resolvem desbravar os cantos mais improváveis da sua casa</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387.jpg" alt="" class="wp-image-980" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387-300x269.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387-768x689.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>10. Quando trocam o conforto do seu colo por algum local quentinho</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389.jpg" alt="" class="wp-image-981" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-300x300.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-150x150.jpg 150w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-768x769.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-60x60.jpg 60w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>11. Ou quando decidem te procurar nas horas mais inapropriadas</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390.jpg" alt="" class="wp-image-982" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390-768x576.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>12. É&#8230; Alguns gatíneos realmente não dão a mínima para a sua opinião</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392.jpg" alt="" class="wp-image-983" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392-300x222.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392-768x568.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>13. O que não significa que você vai deixar de amá-los mesmo assim</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393.jpg" alt="" class="wp-image-984" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393-768x576.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&#038;title=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" data-a2a-url="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/" data-a2a-title="13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/">13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS</title>
		<link>https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/</link>
				<pubDate>Fri, 13 Dec 2019 13:46:35 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=967</guid>
				<description><![CDATA[<p>Se alguém pedir para você imitar o ruído que os cachorros e os gatos fazem, é muito provável que você não pense duas vezes antes de emitir o tradicional “au-au” e “miaaau”, não é mesmo? E você já pediu para — ou ouviu — algum gringo demonstrando como é que os bichinhos se “comunicam” em [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/">MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia.jpg" alt="" class="wp-image-969" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia.jpg 900w, https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia-768x432.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" /></figure>



<p>Se alguém pedir para você imitar o ruído que os cachorros e os gatos fazem, é muito provável que você não pense duas vezes antes de emitir o tradicional “au-au” e “miaaau”, não é mesmo? E você já pediu para — ou ouviu — algum gringo demonstrando como é que os bichinhos se “comunicam” em seus países?</p>



<span id="more-967"></span>



<p>Pois, de acordo com Lori Dorn, do site <a rel="noreferrer noopener" href="https://laughingsquid.com/cat-and-dog-sounds-around-the-world/" target="_blank">Laughing Squid</a>, o pessoal do site de viagens <a rel="noreferrer noopener" href="https://www.youtube.com/watch?time_continue=3&amp;v=6b6eX9JhgaM" target="_blank">Condé Nast Traveler</a> conseguiu reunir pessoas de 70 países diferentes e pediu que cada uma delas revelasse como os cães e bichanos soam em seus idiomas e, como você vai poder conferir, não é que a bicharada tem sotaque? Especialmente os cachorros! Apesar de ser um bocado de gente mostrando como são os latidos e miados em 70 nações distintas, o vídeo é bem curtinho (ele tem menos de dois minutos) e divertido, sem falar que é praticamente impossível não sorrir com as imitações. Assista:</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="70 People Imitate What Cats and Dogs Sound Like in 70 Countries | Condé Nast Traveler" width="648" height="365" src="https://www.youtube.com/embed/6b6eX9JhgaM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&amp;linkname=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&amp;linkname=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&amp;linkname=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&#038;title=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" data-a2a-url="https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/" data-a2a-title="MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/">MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS</title>
		<link>https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/</link>
				<pubDate>Fri, 13 Dec 2019 11:02:20 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=959</guid>
				<description><![CDATA[<p>Não é preciso muito esforço para que alguém se lembre das pérolas da infância. Toda criança tem aquela fase dos “porquês” e, se não recebeu uma resposta satisfatória, acabou inventando algo na hora. Eu, por exemplo, achava que os cobradores de ônibus eram as pessoas mais ricas do mundo, já que recebiam dinheiro toda hora. [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/">17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-1024x678.jpg" alt="" class="wp-image-960" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-1024x678.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-300x199.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-768x508.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-1536x1017.jpg 1536w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-2048x1356.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>Não é preciso muito esforço para que alguém se lembre das pérolas da infância. Toda criança tem aquela fase dos “porquês” e, se não recebeu uma resposta satisfatória, acabou inventando algo na hora.</p>



<span id="more-959"></span>



<p>Eu, por exemplo, achava que os cobradores de ônibus eram as pessoas mais ricas do mundo, já que recebiam dinheiro toda hora. Minha prima mais nova não entendia o motivo pelo qual alguém reclamava de falta de dinheiro, afinal era só ir ao banco e tirar.</p>



<p>Como você deve imaginar, esse assunto é extenso e rende muitas risadas. Por isso, a página “<a rel="noreferrer noopener" href="https://www.facebook.com/coisasqueeuachava/timeline" target="_blank">Coisas Que Eu Achava Quando Era Criança</a>” reúne diversos pensamentos engraçados dos pequenos com ilustrações ótimas:</p>



<h2>1. A&nbsp;mesma lógica das “Diabetes” – dançarinas do Diabo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140059717187.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que nazistas eram pessoas que trabalhavam na NASA&#8221;</p>



<h2>2. Ia faltar cabeça para tanto chapéu</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140155300188.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que placas de lombadas indicavam lojas de chapéus&#8221;</p>



<h2>3. Todo dia, um show exclusivo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140246515189.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o disco ao vivo fazia o artista tocar exatamente na hora em que você apertava o play&#8221;</p>



<h2>4.&nbsp;Haja sopa!</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140450271191.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que, nas receitas, quando tinha &#8216;uma colher de sopa de&#8230;&#8217;era preciso fazer uma sopa com o ingrediente, tipo sopa de manteigam sopa de farinha, sopa de água&#8221;</p>



<h2>5. &nbsp;Ainda é legal pensar assim</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140532890192.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que era muito especial, porque quando eu viajava de carro, a lua sempre me seguia pelo céu&#8221;</p>



<h2>6.&nbsp;Na minha família isso é verdade!</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141806719209.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que toda mulher, quando virava avó, mudava o nome pra Maria&#8221;</p>



<h2>7.&nbsp;Tem lógica</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140735632195.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o Ministro da Fazenda cuidava da saúde dos bois&#8221;</p>



<h2>8.&nbsp;Só gente boa pode entrar</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140823384196.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que Instituto Médico Legal era um lugar de doutores bonzinhos&#8221;</p>



<h2>9.&nbsp;Eu achava um absurdo as pessoas serem tão descuidadas e perderem as bolas</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140901901197.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que aquelas bolas laranjas em fios de alta tensão eram bolas de basquete&#8221;</p>



<h2>10.&nbsp;Na minha casa ou na sua?</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140950355198.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que quando um time jogava &#8220;em casa&#8221;, o jogo acontecia na casa de um dos jogadores&#8221;</p>



<h2>11.&nbsp;“Elevador, vem com o titio”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141113581202.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que, pra chamar o elevador, precisava ficar gritando na porta até ele aparecer&#8221;</p>



<h2>12.&nbsp;Chega de crise!</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141207573203.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o banco central podia simplesmente imprimir um monte de dinheiro e deixar todo mundo rico&#8221;</p>



<h2>13.&nbsp;“Manhê, acabei! Vem me limpar”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141351860204.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que mães não faziam cocô, porque eu sempre avisava pra minha quando eu ia fazer, mas ela nunca me avisava&#8221;</p>



<h2>14.&nbsp;Bonito nome</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141433356205.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o Miguel Falabella se chamava Miguel Fada Bela&#8221;</p>



<h2>15.&nbsp;Eu aposto que você ainda pensa nisso</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141514541206.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que se eu deitasse o chinelo de ponta cabeça no chão minha mãe morreria&#8221;</p>



<h2>16. Assim todos iriam querer “passar dessa para uma melhor”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141554290207.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que &#8216;passar dessa pra melhor&#8217; significava ganhar na loteria&#8221;</p>



<h2>17.&nbsp;“Só estou dando uma olhadinha”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141646690208.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que quando algo era vendido &#8216;sem juros&#8217;, significava que você podia entrar na loja sem precisar jurar que ia comprar algo&#8221;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&amp;linkname=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&amp;linkname=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&amp;linkname=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&#038;title=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" data-a2a-url="https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/" data-a2a-title="17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/">17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</title>
		<link>https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/</link>
				<pubDate>Fri, 13 Dec 2019 10:30:39 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=955</guid>
				<description><![CDATA[<p>O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/">CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p> O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma obra dessas? Por pirraça, caro leitor. Por pura pirraça! Veja abaixo: </p>



<p>O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma obra dessas? Por pirraça, caro leitor. Por pura pirraça! Veja abaixo:</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201542365431.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)?????</figcaption></figure>



<span id="more-955"></span>



<h2>Picuinhas</h2>



<p>De acordo com Andželika Jaseviciute, do site&nbsp;<a href="https://www.boredpanda.com/al-basa-the-grudge-house-beirut-lebanon/" target="_blank" rel="noreferrer noopener">Bored Panda</a>, o prédio é conhecido pelos habitantes locais como “<em>Al Ba’as</em>” – ou “O Rancor” – e foi erguido depois de uma briga entre irmãos. Os 2 caras receberam o terreno como herança, mas não conseguiam entrar em um acordo sobre o que construir no espaço. Para piorar, uma das metades da área acabou sendo dividida por conta de alguns projetos de infraestrutura da prefeitura, o que terminou por deixar o terreno com um formato meio estranho, prejudicando um dos sujeitos.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201702725432.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>



<p>Então, como um ficou com mais espaço e conseguiu construir uma edificação melhor – com alto potencial de valorização imobiliária –, o outro, por birra, ergueu o “prédio-paredão” só para obstruir a vista para o mar do irmão e fazer o cara perder dinheiro. E não foi só isso! Ademais de tapar o outro edifício, a construção abrigou um bordel para irritar o irmão e reduzir ainda mais o valor de seu imóvel.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201743537433.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>



<p>Segundo Andželika, anos mais tarde, o prédio passou a servir de lar para famílias de refugiados de guerra e, hoje em dia, embora conte com 2 apartamentos por andar (por incrível que pareça), o edifício se encontra desabitado e se tornou uma espécie de monumento ao que a pirraça, a birra, o rancor e as picuinhas entre irmãos podem causar.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201936647435.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&#038;title=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" data-a2a-url="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/" data-a2a-title="CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/">CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</title>
		<link>https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/</link>
				<pubDate>Fri, 13 Dec 2019 10:15:03 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>
		<category><![CDATA[animais de estimacao]]></category>
		<category><![CDATA[gato]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=950</guid>
				<description><![CDATA[<p>Uma coisa é certa, o universo dos animais é cheio de fatos curiosos, estranhos e divertidos. Você sabia, por exemplo, que os escorpiões brilham no escuro quando são submetidos aos raios de uma luz negra? Ou que as formigas possuem cinco tipos de narizes diferentes? Aprender sobre os bichinhos é sempre uma aventura interessante. E se [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/">15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513.jpg" alt="" class="wp-image-952" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513.jpg 577w, https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513-300x92.jpg 300w" sizes="(max-width: 577px) 100vw, 577px" /></figure>



<p>Uma coisa é certa, o universo dos animais é cheio de fatos curiosos, estranhos e divertidos. Você sabia, por exemplo, que os escorpiões brilham no escuro quando são submetidos aos raios de uma luz negra? Ou que as formigas possuem cinco tipos de narizes diferentes?</p>



<span id="more-950"></span>



<p>Aprender sobre os bichinhos é sempre uma aventura interessante. E se os fatos comprovados já são difíceis de acreditar, imagine só até onde a criatividade humana pode chegar com as curiosidades inventadas sobre eles.</p>



<p>Em tempos de fake news polêmicas sobre diversos assuntos importantes da sociedade, um grupo&nbsp;chamado<em>&nbsp;S**ttyAnimalFacts&nbsp;</em>tem usado essa prática de um jeito bom e divertido. Baseado em imagens e gifs animados e adoráveis, eles criam afirmaçôes&nbsp;completamente malucas sobre os animais.&nbsp;</p>



<p>Confira a seguir algumas dessas fake news do mundo animal com imagens que vão animar o seu dia!</p>



<h2>1. Os gatos da nova geração devem ser recarregados a cada 24 horas</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13194706136492.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>2. Os tigres são animais com um enorme problema de desbotamento. Por isso, se forem lavados excessivamente, perdem totalmente suas cores</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13194921964493.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>3. Em 2005, cientistas conseguiram cruzar cães com focas. Apenas um filhote sobreviveu, além disso, ele infelizmente nasceu cego</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195032292494.gif" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>4. Labradores de chocolate derretem facilmente ao ficarem expostos a luz solar direta</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195112714495.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>5. Os cães siberianos nascem com temperaturas muito elevadas para conseguir sobreviver ao frio e a neve. Cães dessas espécies são tão quentes, que ao tocar na água conseguem ferve-la instantaneamente</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195225839496.gif" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>6. A água do mar só é salgada por causa das lágrimas dos tubarões que se sentem incompreendidos e pré-julgados, quando na verdade só querem um abraço</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195243339497.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>7. Tirar a garra do seu gato o deixará extremamente agressivo. Por causa disso, ele buscará novas ferramentas que possam servir como garras</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195324839498.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>8. Para fugir da fiscalização, alguns cães são conhecidos por se disfarçar de ornitorrincos&nbsp;</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195401447499.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>9. Os pandas vermelhos são os maiores fãs de Dragon Ball Z. Por isso, é comum vê-los reproduzindo as cenas de fusão</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195440023500.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>10. O ornitorrinco é reconhecido por ser o mamífero mais exibido do mundo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195508193501.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>11. Já as focas são reconhecidas por seus elevadíssimos níveis de autoconfiança&nbsp;</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195531535502.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>12. Na Austrália, os gatos-aranha tem enfrentado um grande problema de adaptação gravitacional</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195556784503.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>13. Ainda na Austrália, os gatos-cobra também têm lutado para se adaptar ao clima e aos costumes da região</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195619376504.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>14.&nbsp;Um agricultor está sendo mundialmente reconhecido por ter criado a vaca mais longa do mundo até hoje</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195648937505.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>15. Os beija-flores nascem em árvores</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195935118506.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<p>Essas são apenas algumas amostras de como o ser humano pode ser criativo ao interpretar o reino animal. Conhece mais algum fato falso divertido sobre os animais? Nos conte nos comentários!</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&#038;title=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" data-a2a-url="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/" data-a2a-title="15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/">15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar</title>
		<link>https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/</link>
				<pubDate>Thu, 12 Dec 2019 15:18:06 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=934</guid>
				<description><![CDATA[<p>As cerimônias de casamento podem ter momentos divertidos e também embaraçosos, graças ao nervosismo dos presentes, principalmente do noivo e da noiva que estão passando por um dos momentos mais importantes e memoráveis de suas vidas. Neste caso em questão, um vídeo registrou uma situação embaraçosa durante um casamento nos Estados Unidos que acabou viralizando [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/">Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image"><img src="https://www.1news.com.br/wp-content/uploads/2019/09/103858201909075d73b2f231f57.jpg" alt=""/></figure>



<p> As cerimônias de casamento podem ter momentos divertidos e também embaraçosos, graças ao nervosismo dos presentes, principalmente do noivo e da noiva que estão passando por um dos momentos mais importantes e memoráveis de suas vidas. </p>



<span id="more-934"></span>



<p> Neste caso em questão, um vídeo registrou uma situação embaraçosa durante um casamento nos Estados Unidos que acabou viralizando nas redes sociais. Esta noiva foi elogiada por seu noivo ainda no altar, porém, quando ela vai sussurrar um segredo para ele, que deveria ser só do casal, ela esquece do microfone ligado e todos ouvem. </p>



<p>Essas imagens se tornaram um verdadeiro viral depois que o apresentador americano Jimmy Fallon pediu para que as pessoas enviassem vídeos de momentos engraçados que aconteceram durante seus casamentos.</p>



<p>Quando a moça chegou no altar seu até então futuro esposo lhe diz: “<em>Você está incrível</em>”, porém ela está bastante nervosa no altar e confessa um segredo a ele: “<em>eu acabei de fazer cocô antes de subir ao altar</em>”, então ele dá uma resposta a ela avisando que está com o microfone.</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Noiva esquece de microfone e revela segredo vergonhoso para o noivo durante cerimônia" width="648" height="365" src="https://www.youtube.com/embed/Evf6CxVI3DM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> Na ocasião da cerimônia, o noivo está usando um microfone para poder registrar todo o áudio possível e explica que o câmera ouviu tudo o que ela disse. Confira abaixo o vídeo que viralizou nas redes sociais. </p>



<p> “<em>É hora das hashtags! Marque um tweet com #WeddingFail e conte-nos uma história engraçada ou estranha de um casamento em que você esteve. Você poderá estar no show!</em>”, foi a legenda compartilhada pelo famoso apresentador dos Estados Unidos. A publicação original é de Luke, com a legenda: “<em>É mais fácil para você ver por si mesmo: #weddingfail @jimmyfallon</em>”. </p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&amp;linkname=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&amp;linkname=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&amp;linkname=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&#038;title=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" data-a2a-url="https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/" data-a2a-title="Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/">Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
