<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>animais de estimacao &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/animais-de-estimacao/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Fri, 13 Dec 2019 10:17:37 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</title>
		<link>https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/</link>
				<pubDate>Fri, 13 Dec 2019 10:15:03 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>
		<category><![CDATA[animais de estimacao]]></category>
		<category><![CDATA[gato]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=950</guid>
				<description><![CDATA[<p>Uma coisa é certa, o universo dos animais é cheio de fatos curiosos, estranhos e divertidos. Você sabia, por exemplo, que os escorpiões brilham no escuro quando são submetidos aos raios de uma luz negra? Ou que as formigas possuem cinco tipos de narizes diferentes? Aprender sobre os bichinhos é sempre uma aventura interessante. E se [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/">15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513.jpg" alt="" class="wp-image-952" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513.jpg 577w, https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513-300x92.jpg 300w" sizes="(max-width: 577px) 100vw, 577px" /></figure>



<p>Uma coisa é certa, o universo dos animais é cheio de fatos curiosos, estranhos e divertidos. Você sabia, por exemplo, que os escorpiões brilham no escuro quando são submetidos aos raios de uma luz negra? Ou que as formigas possuem cinco tipos de narizes diferentes?</p>



<span id="more-950"></span>



<p>Aprender sobre os bichinhos é sempre uma aventura interessante. E se os fatos comprovados já são difíceis de acreditar, imagine só até onde a criatividade humana pode chegar com as curiosidades inventadas sobre eles.</p>



<p>Em tempos de fake news polêmicas sobre diversos assuntos importantes da sociedade, um grupo&nbsp;chamado<em>&nbsp;S**ttyAnimalFacts&nbsp;</em>tem usado essa prática de um jeito bom e divertido. Baseado em imagens e gifs animados e adoráveis, eles criam afirmaçôes&nbsp;completamente malucas sobre os animais.&nbsp;</p>



<p>Confira a seguir algumas dessas fake news do mundo animal com imagens que vão animar o seu dia!</p>



<h2>1. Os gatos da nova geração devem ser recarregados a cada 24 horas</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13194706136492.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>2. Os tigres são animais com um enorme problema de desbotamento. Por isso, se forem lavados excessivamente, perdem totalmente suas cores</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13194921964493.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>3. Em 2005, cientistas conseguiram cruzar cães com focas. Apenas um filhote sobreviveu, além disso, ele infelizmente nasceu cego</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195032292494.gif" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>4. Labradores de chocolate derretem facilmente ao ficarem expostos a luz solar direta</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195112714495.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>5. Os cães siberianos nascem com temperaturas muito elevadas para conseguir sobreviver ao frio e a neve. Cães dessas espécies são tão quentes, que ao tocar na água conseguem ferve-la instantaneamente</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195225839496.gif" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>6. A água do mar só é salgada por causa das lágrimas dos tubarões que se sentem incompreendidos e pré-julgados, quando na verdade só querem um abraço</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195243339497.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>7. Tirar a garra do seu gato o deixará extremamente agressivo. Por causa disso, ele buscará novas ferramentas que possam servir como garras</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195324839498.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>8. Para fugir da fiscalização, alguns cães são conhecidos por se disfarçar de ornitorrincos&nbsp;</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195401447499.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>9. Os pandas vermelhos são os maiores fãs de Dragon Ball Z. Por isso, é comum vê-los reproduzindo as cenas de fusão</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195440023500.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>10. O ornitorrinco é reconhecido por ser o mamífero mais exibido do mundo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195508193501.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>11. Já as focas são reconhecidas por seus elevadíssimos níveis de autoconfiança&nbsp;</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195531535502.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>12. Na Austrália, os gatos-aranha tem enfrentado um grande problema de adaptação gravitacional</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195556784503.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>13. Ainda na Austrália, os gatos-cobra também têm lutado para se adaptar ao clima e aos costumes da região</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195619376504.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>14.&nbsp;Um agricultor está sendo mundialmente reconhecido por ter criado a vaca mais longa do mundo até hoje</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195648937505.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>15. Os beija-flores nascem em árvores</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195935118506.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<p>Essas são apenas algumas amostras de como o ser humano pode ser criativo ao interpretar o reino animal. Conhece mais algum fato falso divertido sobre os animais? Nos conte nos comentários!</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&#038;title=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" data-a2a-url="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/" data-a2a-title="15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/">15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
