<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Conheça o novo projeto de rede social do criador do Orkut	</title>
	<atom:link href="https://deuoquefalar.com/conheca-o-novo-projeto-de-rede-social-criador-orkut/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/conheca-o-novo-projeto-de-rede-social-criador-orkut/</link>
	<description></description>
	<lastBuildDate>Tue, 23 Sep 2014 19:02:39 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
