<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Nova onda entre os famosos: Dubsmash, você conhece?	</title>
	<atom:link href="https://deuoquefalar.com/nova-onda-entre-os-famosos-dubsmash-voce-conhece/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/nova-onda-entre-os-famosos-dubsmash-voce-conhece/</link>
	<description></description>
	<lastBuildDate>Fri, 10 Apr 2015 13:52:03 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
