<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>trânsito seguro &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/transito-seguro/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 23 Nov 2015 03:23:10 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Confira os cuidados ao trafegar próximo aos hospitais e escolas</title>
		<link>https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/</link>
				<pubDate>Mon, 23 Nov 2015 03:22:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[escola]]></category>
		<category><![CDATA[notícia]]></category>
		<category><![CDATA[pedestre]]></category>
		<category><![CDATA[trânsito]]></category>
		<category><![CDATA[trânsito seguro]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=826</guid>
				<description><![CDATA[<p>Em lugares de muito movimento os motoristas devem ficar atentos para não causar acidentes. Mas escolas, hospitais e igrejas são ambientes que exigem silêncio para andamento de suas atividades e tem grande fluxo de pessoas, porém não é permitido nenhum tipo de pertubação nas imediações, como a buzina. O condutor que passar nas proximidades dessas [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/">Confira os cuidados ao trafegar próximo aos hospitais e escolas</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div class="_209g _2vxa"><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1.jpg"><img class="aligncenter size-full wp-image-828" src="https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1.jpg" alt="cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas" width="620" height="372" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1.jpg 620w, https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1-300x180.jpg 300w" sizes="(max-width: 620px) 100vw, 620px" /></a></div>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">Em lugares de muito movimento os motoristas devem ficar atentos para não causar acidentes. Mas escolas, hospitais e igrejas são ambientes que exigem silêncio para andamento de suas atividades e tem grande fluxo de pessoas, porém não é permitido nenhum tipo de pertubação nas imediações, como a buzina. O condutor que passar nas proximidades dessas instituições deve ficar atento aos cuidados.</div>
<p><span id="more-826"></span></p>
<p>Geralmente, essas regiões são bem sinalizadas para despertar a atenção do motorista, seja com placas ou com símbolos no asfalto. É indicado dirigir de acordo com a velocidade recomendada na região, que geralmente é sinalizada em placas. E manter o farol sempre aceso para alertar o pedestre da aproximação do veículo.</p>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">De acordo com o Instituto de Certificação e Estudos de Trânsito e Transporte (Icetran), o condutor que trafegar em velocidade inadequada nas imediações de locais como hospitais e escolas ou onde ocorre uma grande movimentação de pessoas com risco de dano, a pena é detenção de seis meses a um ano com possibilidade de multa.</div>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">Todavia, o motorista deve estar sempre atento ao dirigir em todas as vias públicas, e não apenas perto de locais como escolas e hospitais.</div>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">&#8220;A via é um espaço público, que precisa ser compartilhado. As pessoas precisam aprender a conviver nesse espaço.&#8221; A afirmação é do gerente da Escola Pública de Trânsito de Pernambuco, Ivson Correia. Para ele &#8211; e também para o Código de Trânsito Brasileiro (CTB), é só olhar no artigo 29 -, cabe principalmente a motoristas e motociclistas a atenção com o pedestre. &#8220;O pedestre é o mais vulnerável, é o que o todos têm que proteger&#8221;, diz.</div>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&amp;linkname=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&amp;linkname=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&amp;linkname=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&#038;title=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" data-a2a-url="https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/" data-a2a-title="Confira os cuidados ao trafegar próximo aos hospitais e escolas"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/">Confira os cuidados ao trafegar próximo aos hospitais e escolas</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
