<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Deputado é visto trabalhando e poderá perder o mandato por falta de decoro	</title>
	<atom:link href="https://deuoquefalar.com/deputado-e-visto-trabalhando-e-podera-perder-o-mandato-por-falta-de-decoro/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/deputado-e-visto-trabalhando-e-podera-perder-o-mandato-por-falta-de-decoro/</link>
	<description></description>
	<lastBuildDate>Tue, 03 Mar 2015 20:43:46 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
