<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>band-aid &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/band-aid/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Sun, 21 Sep 2014 23:39:11 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Band-aid: Você usou da forma errada a vida toda</title>
		<link>https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/</link>
				<pubDate>Sun, 21 Sep 2014 23:39:11 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[band-aid]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=271</guid>
				<description><![CDATA[<p>Quando você corta um dedo ou se machuca, qual é a primeira coisa que você pensa ou ouve de alguém? “Coloca um Band-Aid”. Esse curativo é realmente uma mão na roda e é necessário tê-lo sempre por perto: na bolsa, na mochila, na malinha de primeiros socorros, pois nunca se sabe quando precisaremos recorrer a [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/">Band-aid: Você usou da forma errada a vida toda</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Quando você corta um dedo ou se machuca, qual é a primeira coisa que você pensa ou ouve de alguém? “Coloca um Band-Aid”. Esse curativo é realmente uma mão na roda e é necessário tê-lo sempre por perto: na bolsa, na mochila, na malinha de primeiros socorros, pois nunca se sabe quando precisaremos recorrer a eles.</p>
<p>Porém, agora você poderá conferir que nunca colocou o Band-Aid de forma correta. E aí você pergunta: “Como assim? Existe uma forma diferente de colocar o curativo?”. Sim, existe, e você vai conferir no vídeo abaixo que é perfeitamente possível que ele não caia com o movimento dos dedos e se encaixe perfeitamente, cobrindo todo o machucado. Veja o vídeo!<span id="more-271"></span></p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=gh1PTNnaykU&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/0282a07ba487d87cc1235e92a4c3db6c.jpg&#8221;]</p>
<p><!--<iframe src="//www.youtube.com/embed/gh1PTNnaykU" height="506" width="900" allowfullscreen="" frameborder="0"></iframe>--></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&amp;linkname=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&amp;linkname=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&amp;linkname=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&#038;title=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" data-a2a-url="https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/" data-a2a-title="Band-aid: Você usou da forma errada a vida toda"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/">Band-aid: Você usou da forma errada a vida toda</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
