<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Notícia &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/category/noticia/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 16 Dec 2019 13:33:56 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Confira os lançamentos Netflix de Dezembro (15 a 21)</title>
		<link>https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/</link>
				<pubDate>Mon, 16 Dec 2019 13:31:43 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=993</guid>
				<description><![CDATA[<p>Confira quais são os lançamentos que chegam à plataforma Netflix nessa semana. Serão adicionados mais 43 títulos ao catálogo do streaming. </p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/">Confira os lançamentos Netflix de Dezembro (15 a 21)</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e.jpg" alt="" class="wp-image-994" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e.jpg 750w, https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e-300x188.jpg 300w" sizes="(max-width: 750px) 100vw, 750px" /></figure>



<p> Confira quais são os lançamentos que chegam à plataforma Netflix nessa semana. Serão adicionados mais 43 títulos ao catálogo do streaming. Confira quais são eles! </p>



<span id="more-993"></span>



<p>Mais uma semana que chega e com ela temos, é claro, mais <strong>lançamentos chegando ao streaming Netflix</strong>. Dentre as novidades da semana estão mais <strong>filmes, séries e novas temporada</strong>s. Então, confira já, serão adicionados mais 43 títulos ao catálogo.</p>



<p>A série <strong>Good Witch</strong> recebe nessa semana a sua <strong>quinta temporada</strong> no streaming. Ao criar a filha em uma cidade pequena, uma encantadora viúva com poderes mágicos desperta o interesse de um desconfiado médico da cidade grande.</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Good Witch Extended Preview - Season 1" width="648" height="365" src="https://www.youtube.com/embed/Y4kDSKGxvD8?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> streia também no catálogo Netflix essa semana o filme de ação e aventura&nbsp;<strong>Resident Evil: O Último Capítulo.</strong>&nbsp;Alice tem que enfrentar o Dr. Isaacs, a Umbrella e uma horda de zumbis para salvar a humanidade com um antivírus que está em Raccoon City. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Resident Evil O Capítulo Final | Trailer legendado | 26 de janeiro nos cinemas" width="648" height="365" src="https://www.youtube.com/embed/17sInSM9kE0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> A&nbsp;<strong>segunda temporada</strong>&nbsp;de&nbsp;<strong>Ultravioleta</strong>&nbsp;fica disponível na quinta-feira. Em busca de justiça, uma comunidade online de detetives amadores descobre na tecnologia uma ferramenta para solucionar crimes. E também para fazer amigos bem peculiares. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Ultraviolet Netflix HD Trailer" width="648" height="365" src="https://www.youtube.com/embed/HEcxqBH5eCc?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> A série<strong>&nbsp;The Witcher</strong>&nbsp;estreia na plataforma dia 20 de dezembro. O mutante Geralt de Rívia é um caçador de monstros que luta para encontrar seu lugar num mundo onde as pessoas muitas vezes são mais perversas que as criaturas selvagens. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="THE WITCHER | TRAILER FINAL | NETFLIX" width="648" height="365" src="https://www.youtube.com/embed/sCxQFlkgzrw?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> E um último detalhe: Boa parte dos títulos não são listados pela Netflix ou então são remarcados no que deveria ser o dia de sua estreia. Por isso <strong>este post é atualizado e revisado DIARIAMENTE</strong> logo pela manhã. Para ter certeza de que você está por dentro de todas as novidades, não esqueça de voltar aqui diariamente para conferir se alguma coisa mudou daquelas que foram programadas previamente.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&#038;title=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" data-a2a-url="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/" data-a2a-title="Confira os lançamentos Netflix de Dezembro (15 a 21)"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/">Confira os lançamentos Netflix de Dezembro (15 a 21)</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Tutorial Definitivo &#8211; Veja como rodar o Pokemon Go! no Brasil</title>
		<link>https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/</link>
				<pubDate>Sat, 16 Jul 2016 01:13:50 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[game]]></category>
		<category><![CDATA[jogo]]></category>
		<category><![CDATA[nintendo]]></category>
		<category><![CDATA[pokemon go!]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=898</guid>
				<description><![CDATA[<p>Tutorial definitivo ensinando a rodar o Pokemon Go no Brasil, no vídeo abaixo:</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/">Tutorial Definitivo &#8211; Veja como rodar o Pokemon Go! no Brasil</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Tutorial definitivo ensinando a rodar o Pokemon Go no Brasil, no vídeo abaixo:</p>
<p><span id="more-898"></span><iframe src="https://www.youtube.com/embed/XTsGMnvCd7A" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&amp;linkname=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&amp;linkname=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&amp;linkname=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&#038;title=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" data-a2a-url="https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/" data-a2a-title="Tutorial Definitivo – Veja como rodar o Pokemon Go! no Brasil"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/">Tutorial Definitivo &#8211; Veja como rodar o Pokemon Go! no Brasil</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Dilma não aguenta a pressão e assina a sua renúncia</title>
		<link>https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/</link>
				<pubDate>Fri, 01 Apr 2016 13:09:55 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=886</guid>
				<description><![CDATA[<p>Foi quase, muitos queriam que essa notícia fosse verdadeira, mas hoje é 01 de abril kkkkk Compartilhe com seus amigos a notícia!</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/">Dilma não aguenta a pressão e assina a sua renúncia</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="aligncenter size-medium wp-image-887" src="https://deuoquefalar.com/wp-content/uploads/2016/04/dilma-assinando-decreto-300x188.jpg" alt="dilma-assinando-decreto" width="300" height="188" srcset="https://deuoquefalar.com/wp-content/uploads/2016/04/dilma-assinando-decreto-300x188.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/04/dilma-assinando-decreto.jpg 550w" sizes="(max-width: 300px) 100vw, 300px" /><span id="more-886"></span></p>
<p>Foi quase, muitos queriam que essa notícia fosse verdadeira, mas hoje é 01 de abril kkkkk</p>
<p><img class="aligncenter size-medium wp-image-888" src="https://deuoquefalar.com/wp-content/uploads/2016/04/12472268_818320664940254_1365819213717441927_n-300x225.jpg" alt="12472268_818320664940254_1365819213717441927_n" width="300" height="225" srcset="https://deuoquefalar.com/wp-content/uploads/2016/04/12472268_818320664940254_1365819213717441927_n-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/04/12472268_818320664940254_1365819213717441927_n.jpg 442w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<p>Compartilhe com seus amigos a notícia!</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&amp;linkname=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&amp;linkname=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&amp;linkname=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&#038;title=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" data-a2a-url="https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/" data-a2a-title="Dilma não aguenta a pressão e assina a sua renúncia"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/">Dilma não aguenta a pressão e assina a sua renúncia</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Garota de 5 anos salva mãe que se afogava em piscina</title>
		<link>https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/</link>
				<pubDate>Mon, 28 Mar 2016 17:55:06 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[afogar]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[piscina]]></category>
		<category><![CDATA[salvamento]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=859</guid>
				<description><![CDATA[<p>Uma garota de cinco anos está sendo chamada de &#8220;pequena heroína&#8221; após salvar sua mãe que se afogava na piscina da residência da família em Portland, no estado do Texas (EUA). Segundo a reportagem do Caller Time, Tracy Anderwald, de 34 anos, nadava na piscina com sua filha, Allison, quando sofreu uma convulsão repentina. Ao [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/">Garota de 5 anos salva mãe que se afogava em piscina</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="size-full wp-image-860 aligncenter" src="https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina.jpg" alt="garota-de-5-anos-salva-mae-que-se-afogava-em-piscina" width="600" height="360" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina.jpg 600w, https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina-300x180.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></p>
<p>Uma garota de cinco anos está sendo chamada de &#8220;pequena heroína&#8221; após salvar sua mãe que se afogava na piscina da residência da família em Portland, no estado do Texas (EUA).</p>
<p>Segundo a reportagem do Caller Time, Tracy Anderwald, de 34 anos, nadava na piscina com sua filha, Allison, quando sofreu uma convulsão repentina. Ao invés de entrar em pânico, Allison pensou rápido: ela pulou na piscina e nadou com a mãe até a parte onde a água estava mais rasa.</p>
<p>&#8220;É incrível que ela sabia exatamente o que fazer&#8221;, disse a mãe após receber alta do hospital. Os motivos ainda não identificaram o motivo da convulsão, mas disseram que se ela ficasse apenas um minuto a mais debaixo da água teria sofrido danos cerebrais irreparáveis.</p>
<p>A tia de Allison disse que a garota já nada desde que tinha 2 anos e meio, e permaneceu calma durante todo o momento, até quando teve que explicar para sua mãe o que estava acontecendo.</p>
<p><div style="width: 648px;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-859-1" width="648" height="365" preload="metadata" controls="controls"><source type="video/mp4" src="https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4?_=1" /><a href="https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4">https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4</a></video></div></p>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&#038;title=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" data-a2a-url="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/" data-a2a-title="Garota de 5 anos salva mãe que se afogava em piscina"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/">Garota de 5 anos salva mãe que se afogava em piscina</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
							<enclosure url="http://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4" length="12840376" type="video/mp4" />
			</item>
		<item>
		<title>Confira os cuidados ao trafegar próximo aos hospitais e escolas</title>
		<link>https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/</link>
				<pubDate>Mon, 23 Nov 2015 03:22:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[escola]]></category>
		<category><![CDATA[notícia]]></category>
		<category><![CDATA[pedestre]]></category>
		<category><![CDATA[trânsito]]></category>
		<category><![CDATA[trânsito seguro]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=826</guid>
				<description><![CDATA[<p>Em lugares de muito movimento os motoristas devem ficar atentos para não causar acidentes. Mas escolas, hospitais e igrejas são ambientes que exigem silêncio para andamento de suas atividades e tem grande fluxo de pessoas, porém não é permitido nenhum tipo de pertubação nas imediações, como a buzina. O condutor que passar nas proximidades dessas [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/">Confira os cuidados ao trafegar próximo aos hospitais e escolas</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div class="_209g _2vxa"><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1.jpg"><img class="aligncenter size-full wp-image-828" src="https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1.jpg" alt="cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas" width="620" height="372" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1.jpg 620w, https://deuoquefalar.com/wp-content/uploads/2015/11/cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas1-300x180.jpg 300w" sizes="(max-width: 620px) 100vw, 620px" /></a></div>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">Em lugares de muito movimento os motoristas devem ficar atentos para não causar acidentes. Mas escolas, hospitais e igrejas são ambientes que exigem silêncio para andamento de suas atividades e tem grande fluxo de pessoas, porém não é permitido nenhum tipo de pertubação nas imediações, como a buzina. O condutor que passar nas proximidades dessas instituições deve ficar atento aos cuidados.</div>
<p><span id="more-826"></span></p>
<p>Geralmente, essas regiões são bem sinalizadas para despertar a atenção do motorista, seja com placas ou com símbolos no asfalto. É indicado dirigir de acordo com a velocidade recomendada na região, que geralmente é sinalizada em placas. E manter o farol sempre aceso para alertar o pedestre da aproximação do veículo.</p>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">De acordo com o Instituto de Certificação e Estudos de Trânsito e Transporte (Icetran), o condutor que trafegar em velocidade inadequada nas imediações de locais como hospitais e escolas ou onde ocorre uma grande movimentação de pessoas com risco de dano, a pena é detenção de seis meses a um ano com possibilidade de multa.</div>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">Todavia, o motorista deve estar sempre atento ao dirigir em todas as vias públicas, e não apenas perto de locais como escolas e hospitais.</div>
<div class="_209g _2vxa"></div>
<div class="_209g _2vxa">&#8220;A via é um espaço público, que precisa ser compartilhado. As pessoas precisam aprender a conviver nesse espaço.&#8221; A afirmação é do gerente da Escola Pública de Trânsito de Pernambuco, Ivson Correia. Para ele &#8211; e também para o Código de Trânsito Brasileiro (CTB), é só olhar no artigo 29 -, cabe principalmente a motoristas e motociclistas a atenção com o pedestre. &#8220;O pedestre é o mais vulnerável, é o que o todos têm que proteger&#8221;, diz.</div>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&amp;linkname=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&amp;linkname=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&amp;linkname=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas%2F&#038;title=Confira%20os%20cuidados%20ao%20trafegar%20pr%C3%B3ximo%20aos%20hospitais%20e%20escolas" data-a2a-url="https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/" data-a2a-title="Confira os cuidados ao trafegar próximo aos hospitais e escolas"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-cuidados-ao-trafegar-proximo-aos-hospitais-e-escolas/">Confira os cuidados ao trafegar próximo aos hospitais e escolas</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</title>
		<link>https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/</link>
				<pubDate>Sun, 08 Nov 2015 21:52:01 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[robin williams]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=803</guid>
				<description><![CDATA[<p>Saudades… No ano passado, quando Robin Williams se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,Susan Schneider, a esposa deRobin, explicou o que o levou a se matar. Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg"><img class="aligncenter size-large wp-image-818" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg" alt="robin_williams (1)" width="648" height="365" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg 1280w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p><em><strong>Saudades…</strong></em></p>
<p>No ano passado, quando <strong>Robin Williams</strong> se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,<strong>Susan Schneider</strong>, a esposa de<strong>Robin</strong>, explicou o que o levou a se matar.<span id="more-803"></span></p>
<p>Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de uma doença chamada demência de corpos de Lewy, que é uma demência, como o próprio nome diz, e é muito similar a doença de Alzheimer.</p>
<p><img class="wp-image-817 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg" alt="robin-williams-doubtfire-daughter-reacts-suicide__oPt" width="307" height="191" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg 580w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt-300x186.jpg 300w" sizes="(max-width: 307px) 100vw, 307px" />“Não foi a depressão que matou Robin, esse era um dos 50 sintomas e um bem pequeno”, explicou Susan, que contou que a doença foi descoberta um ano antes da morte trágica do astro.</p>
<p>“Sei que os médicos estavam fazendo o certo e que a doença foi mais rápida que todos. Chegaríamos ao diagnóstico eventualmente”, desabafou, alegando que a descoberta desta doença demorou a acontecer, o que é muito comum nestes casos.</p>
<p>Agora, o objetivo de vida da viúva é ajudar outras pessoas que sofrem com a doença: “Passei o ano tentando entender quem matou Robin. Um dos médicos disse, ‘Robin sabia que estava perdendo seu conhecimento e que não podia fazer nada a respeito’. Foi um caso único e rezo para que isso traga os holofotes para essa doença e para as milhões de pessoas que morrem com ela, porque nós não sabíamos. Ele não sabia”.</p>
<p>&nbsp;</p>
<p><a href="https://youtu.be/HCdUubr70i8" target="_blank">É DIVULGADO O TRAILER DO ÚLTIMO FILME DE ROBIN WILLIAMS</a></p>
<p>&nbsp;</p>
<p><strong>Relembre abaixo alguns dos principais filmes de sua carreira:</strong></p>
<p><strong>Patch Ad<a href="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg"><img class="size-full wp-image-805 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg" alt="patch-adams-o-amor-e-contagioso" width="119" height="160" /></a>ams &#8211; O Amor é Contagioso</strong></p>
<p>Em 1969, após tentar se suicidar, Hunter Adams (Robin Williams) voluntariamente se interna em um sanatório. Ao ajudar outros internos, descobre que deseja ser médico, para poder ajudar as pessoas. Deste modo, sai da instituição e entra na faculdade de medicina. Seus métodos poucos convencionais causam inicialmente espanto, mas aos poucos vai conqui&#8230;<br />
<iframe src="https://www.youtube.com/embed/q9YsMfAqZa4" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg"><img class="size-full wp-image-806 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg" alt="uma-baba-quase-perfeita" width="112" height="160" /></a><strong>Uma babá quase perfeita</strong></p>
<p>Daniel Hillard (Robin Williams) está passando por uma fase complicada, acaba de se separar de Miranda (Sally Field) e perdeu o seu emprego. Impedido pela ex-esposa de passar mais tempo com os filhos, ele tem uma idéia inusitada para recuperar a relação com as crianças. Daniel veste-se como uma senhora idosa escocesa e tenta conseguir o cargo de babá.<br />
<iframe src="https://www.youtube.com/embed/ykF07Sm5ifc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg"><img class="size-full wp-image-807 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg" alt="o-homem-bicentenario" width="104" height="160" /></a><strong>O Homem Bicentenário</strong></p>
<p>Em 2005, uma família americana compra um novo utensílio doméstico: o robô chamado Andrew (Robin Williams), para realizar tarefas domésticas simples. Entretanto, aos poucos o robô vai apresentando traços característicos do ser humano, como curiosidade, inteligência e personalidade própria. o início da saga de Andrew em busca de liberdade e de se tornar um ser humano.<br />
<iframe src="https://www.youtube.com/embed/28Djjt5OApI" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg"><img class="size-full wp-image-808 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg" alt="jumanji" width="106" height="160" /></a><strong>Jumanji</strong></p>
<p>Em 1869, dois garotos apavorados enterram um baú e, cem anos depois, o filho de um empresário descobre que dentro dele há um jogo chamado Jumanji. Quando começa a jogar com uma amiga, ele logo é penalizado a ficar na floresta até que alguém tire cinco ou oito. Como na jogada seguinte ela é atacada por morcegos, em virtude de seu posicionamento no tabuleiro, o jogo é interrompido e ele imediatamente fica preso dentro de Jumanji. Mas, vinte e seis anos depois, duas crianças começam a jogar e uma acaba libertando-o.<br />
<iframe src="https://www.youtube.com/embed/VJyCANwTiDc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg"><img class="wp-image-809 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg" alt="uma-noite-no-museu" width="106" height="156" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu-203x300.jpg 203w" sizes="(max-width: 106px) 100vw, 106px" /></a><strong>Uma Noite no Museu</strong></p>
<p>Larry Daley (Ben Stiller) é um homem de bom coração, que arranja um emprego como segurança noturno em um museu de história natural. Logo em seu 1º turno coisas estranhas começam a acontecer: esqueletos de dinossauros e estátuas de cera começam a ganhar vida. Em meio ao caos instalado no museu, a única pessoa que pode ajudá-lo é a estátua de cera de Theodore Roosevelt (Robin Williams), que, assim como os demais, também ganhou vida.<br />
<iframe src="https://www.youtube.com/embed/tt160gLbJOA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg"><img class="size-full wp-image-810 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg" alt="jack" width="107" height="160" /></a><strong>Jack</strong></p>
<p>Fábula sobre garoto (Robin Williams) que sofre de rara doença, que o faz envelhecer quatro vezes mais rápido que o normal, transformando-o num menino em corpo de homem.<br />
<iframe src="https://www.youtube.com/embed/iHaFdSx26WM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg"><img class="size-full wp-image-811 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg" alt="genio-indomavel" width="112" height="160" /></a><strong>Gênio Indomável</strong></p>
<p>Em Boston, um jovem de 20 anos (Matt Damon) que já teve algumas passagens pela polícia e servente de uma universidade, revela-se um gênio em matemática e, por determinação legal, precisa fazer terapia, mas nada funciona, pois ele debocha de todos os analistas, até se identificar com um deles.<br />
<iframe src="https://www.youtube.com/embed/LowuyZ3_B84" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg"><img class=" wp-image-815 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg" alt="flubber" width="105" height="161" /></a>Flubber &#8211; Uma Invenção Desmiolada</strong></p>
<p>Um brilhante mas distraído professor (Robin Williams) tenta aperfeiçoar uma substância que ele descobriu por acaso e que poderá ser uma nova fonte de energia. Se isto der certo ele consegue salvar o Medfield College, onde a paixão da sua vida é a diretora (Marcia Gay Harden). Ele já perdeu dois casamentos com ela e exatamente no dia que ele desenvolve este invento revolucionárioé o dia do terceiro casamento, sendo que sua noiva afirmou que se ele não aparecesse na cerimônia tudo estaria terminado. Mas a excitação de tal descoberta o faz esquecer de que existe um mundo do lado de fora do seu laboratório.<br />
<iframe src="https://www.youtube.com/embed/74whfeXZTrg" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>&nbsp;</p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg"><img class=" wp-image-814 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg" alt="aladdin" width="100" height="160" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg 375w, https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin-188x300.jpg 188w" sizes="(max-width: 100px) 100vw, 100px" /></a>Aladdin (Interpreta o Gênio da Lâmpada)</strong></p>
<p>Após o sultão ordenar que sua filha, a princesa Jasmine, ache um marido rapidamente, ela foge do palácio. Jasmine encontra um tipo meio malandro, Aladdin, que conquista seu coração. Porém ambos são achados pelos guardas de Jafar, o vizir do sultão. Jafar criou um feitiço para dominar o sultão, se casar com Jasmine e se tornar ele mesmo o sultão. Além disto finge que cometeu um engano e mandou decapitar Aladdin, que na verdade está vivo, pois Jafar precisa dele para conseguir uma lâmpada mágica, que é a morada de um poderoso gênio. Mas o plano de Jafar falha, pois Aladdin fica com a lâmpada graças a intervenção de um pequeno macaco, Abu, seu fiel mascote. Quando descobre que há na lâmpada um gênio poderoso, que pode se transformar em qualquer pessoa ou coisa e que lhe concederá três desejos, Aladdin planeja usá-los para conquistar Jasmine, sem imaginar que Jafar é um diabólico inimigo, que precisa ser detido.</p>
<p><iframe src="https://www.youtube.com/embed/jkdYkE1xgqQ" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg"><img class="size-full wp-image-812 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg" alt="tempo-de-despertar" width="113" height="160" /></a><strong>Tempo de Despertar</strong></p>
<div class="margin_20b">
<p>Bronx, 1969. Malcolm Sayer (Robin Williams) é um neurologista que conseguiu emprego em um hospital psiquiátrico. Lá ele encontra vários pacientes que aparentemente estão catatônicos, mas Sayer sente que eles estão só &#8220;adormecidos&#8221; e que se forem medicados da maneira certa poderão ser despertados. Assim pesquisa bem o assunto e chega à conclusão de que a L-DOPA, uma nova droga que já estava sendo usada para pacientes com o Mal de Parkinson, deve ser o medicamento ideal para este casos. No entanto, ao levar o assunto para o diretor, ele autoriza que apenas um paciente seja submetido ao tratamento. Imediatamente Sayer escolhe Leonard Lowe (Robert De Niro), que há décadas estava &#8220;adormecido&#8221;. Gradualmente Lowe se recupera e isto encoraja Sayer em administrar L-DOPA nos outros pacientes, sob sua supervisão. Logo os pacientes mostram sinais de melhora e também mostram-se ansiosos em recuperar o tempo perdido. Mas, infelizmente, Lowe começa a apresentar estranhos e perigosos efeitos colaterais.</p>
</div>
<div class="margin_20b"><iframe src="https://www.youtube.com/embed/BnyC82rHwKM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg"><img class="size-full wp-image-813 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg" alt="hook-a-volta-do-capitao-gancho" width="113" height="160" /></a><strong>Hook &#8211; A Volta Do Capitão Gancho</strong></p>
<p>Aos quarenta anos Peter Banning (Robin Williams), que um dia já foi Peter Pan, é um homem tão envolvido com o trabalho que deixou de dar atenção à família e esqueceu a sua origem. Mas o Capitão Gancho (Dustin Hoffman) seqüestra seus filhos, obrigando-o a retornar a Terra do Nunca.<br />
<iframe src="https://www.youtube.com/embed/XSKlkLF8POk" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&#038;title=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" data-a2a-url="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/" data-a2a-title="Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Exclusivo: iPhone 6S Revelado!</title>
		<link>https://deuoquefalar.com/iphone-6s-revelado/</link>
				<pubDate>Tue, 11 Aug 2015 05:20:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone 6S]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=758</guid>
				<description><![CDATA[<p>&#160; Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple. Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo: &#160; Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg"><img class="aligncenter size-full wp-image-783" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg" alt="iPhone-6S-Mini" width="770" height="418" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg 770w, https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini-300x163.jpg 300w" sizes="(max-width: 770px) 100vw, 770px" /></a></p>
<p>&nbsp;</p>
<p>Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple.</p>
<p>Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo:</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg"><img class="aligncenter size-large wp-image-764" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg" alt="iphone-6s3" width="648" height="432" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-300x200.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg 1600w" sizes="(max-width: 648px) 100vw, 648px" /></a><span id="more-758"></span></p>
<p>Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo metálico mais resistente para corrigir o famigerado &#8216;bendgate&#8217;, ou aquele leve problema que foi amplamente reportado que fazia com que os iPhones 6 simplesmente entortassem nos bolsos dos usuários.</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg"><img class="aligncenter wp-image-763 size-large" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg" alt="iphone6s-2" width="648" height="585" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-300x271.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg 1300w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p>Nesta imagem, a parte frontal do iPhone 6S aparenta ser idêntica à parte da frente do Iphone 6.</p>
<p>Além do corpo metálico, é possível notar uma leve mudança na tela de 4,7 polegadas, que indicam algumas mudanças:</p>
<p><iframe src="https://www.youtube.com/embed/bSMUGGu7l-4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Uma comparação detalhada no vídeo confirma que comparando a traseira do iPhone 6 a do iPhone 6s, a do iPhone 6s é 0,2 milímetro mais grossa.</p>
<p>As áreas ao redor do botão home e os botões de volume também são notavelmente mais espessa, como a Apple também adicionou reforço à região para tratar de questões &#8220;Bendgate&#8221; .</p>
<p>Embora a capa traseira do iPhone 6s seja mais grossa e ter  um material extra em áreas mais frágeis, é dois gramas mais leve que o modelo anterior, pesando 25 gramas em comparação com 27 gramas para o iPhone 6.</p>
<p><iframe src="https://www.youtube.com/embed/GdAGoCGRqUk" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg"><img class="aligncenter wp-image-761 size-full" src="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg" alt="tela-iphone-6s" width="625" height="459" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg 625w, https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s-300x220.jpg 300w" sizes="(max-width: 625px) 100vw, 625px" /></a></p>
<p>O módulo está completo, incluindo o vidro protetor, que ainda não usa o material de safira, e o LCD. Nota-se uma camada que não está presente nos iPhones atuais, provavelmente servindo para fazer o Force Touch funcionar. Tal tecnologia foi implementada no Apple Watch e no lançamento mais atual na família de Macbooks, possibilitando a diferenciação das pressões exercidas na superfície pelos dedos do usuário, oferecendo funções adicionais e inteligentes ao iOS. A soma da camada, visando embutir a funcionalidade ao futuro gadget, pode encarecer a fabricação de cada unidade, entretanto, o valor final cobrado ao cliente não deve ser diferente.</p>
<p>Agora, ao invés de dois conectores horizontais, há um horizontal e outro na vertical, além de uma saída reta na ligação entre a carcaça e o leitor de impressões digitais, conhecido como Touch ID nos celulares com a maçã estampada em suas estruturas.</p>
<p>São alterações técnicas que podem facilitar o entrosamento das partes internas, porém o resultado das mudanças não foi comentado pela fonte. Finalizando, tanto o painel do iPhone 6s quanto o do iPhone 6parecem ter exatamente a mesma espessura, eliminando, teoricamente, a possibilidade da carcaça do novo aparelho ser mais espessa em relação ao antigo.</p>
<p>&nbsp;</p>
<h2>Sobre algumas melhorias prometidas no Iphone 6S:</h2>
<h3>Force Touch (Touch-screen)</h3>
<p>Cogita-se que a sensibilidade do touch-screen será melhorada da mesma forma como foi introduzido no Apple Watch, onde é capaz de distinguir entre um leve toque e a força da pressão do toque, permitindo vários novos gestos.</p>
<h3>Melhorias de câmera</h3>
<p>Espera que seja lançada uma câmera sob a forma de um possível sistema de duas lentes, que permitiria oferecer imagens de qualidade DSLR no seu iPhone e com 12 megapixels e com a capacidade de gravar vídeos em 4K, mas outros rumores têm discordado de que a Apple planeja introduzir um sistema de duas lentes, e manteria o mesmo sensor de 8 megapixels encontrado em iPhones anteriores.</p>
<h3>Melhorias &#8220;Fingerprint&#8221; (ID-Touch)</h3>
<p>Segundo o analista KGI Securities Ming-Chi Kuo, o iPhone 6s contará com um módulo de toque de ID atualizado com erros de leitura reduzidas para melhorar a experiência da Apple Pay.</p>
<h3>Provável Tela de Safira</h3>
<p>Há rumores indicando que haverá uma boa tela de safira produzidos pela Foxconn para a próxima geração do iPhone, outrora quem diga que não se concretizou, devido a problemas de produção.</p>
<h3>Tela de 4 Polegadas</h3>
<p>Houve rumores conflitantes relativos ao aditamento de um novo iPhone 6S de 4 polegadas a da Apple 2015. Vários rumores vindo de fabricantes da Ásia sugerem que haverá uma nova tela projetada de 4 polegadas do iPhone 6S, mas outras fontes têm apontado esses rumores como incorretos.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&#038;title=Exclusivo%3A%20iPhone%206S%20Revelado%21" data-a2a-url="https://deuoquefalar.com/iphone-6s-revelado/" data-a2a-title="Exclusivo: iPhone 6S Revelado!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>NASA encontra caranguejo extraterrestre em Marte</title>
		<link>https://deuoquefalar.com/nasa-encontra-caranguejo-extraterrestre-em-marte/</link>
				<pubDate>Thu, 06 Aug 2015 19:07:59 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=754</guid>
				<description><![CDATA[<p>Uma foto tirada pela sonda Curiosity mostrou um possível esqueleto fossilizado em Marte, dessa vez a sonda flagrou um monstro carangueijo escondido nas rochas do Planeta Vermelho. Achou estranho? Veja só: Na verdade tudo não passa de uma ilusão causada pelas formações rochosas. Segundo o conhecido astrônomo Sethe Shostak exitem várias pessoas que mandam fotos alegando [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/nasa-encontra-caranguejo-extraterrestre-em-marte/">NASA encontra caranguejo extraterrestre em Marte</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/curiostyrover.jpg"><img class="aligncenter size-full wp-image-755" src="https://deuoquefalar.com/wp-content/uploads/2015/08/curiostyrover.jpg" alt="curiostyrover" width="660" height="530" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/curiostyrover.jpg 660w, https://deuoquefalar.com/wp-content/uploads/2015/08/curiostyrover-300x241.jpg 300w" sizes="(max-width: 660px) 100vw, 660px" /></a></p>
<p>Uma foto tirada pela sonda Curiosity mostrou um possível esqueleto fossilizado em Marte, dessa vez a sonda flagrou um monstro carangueijo escondido nas rochas do Planeta Vermelho.</p>
<p>Achou estranho? Veja só:<span id="more-754"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/carangueijo.jpg"><img class="aligncenter size-full wp-image-756" src="https://deuoquefalar.com/wp-content/uploads/2015/08/carangueijo.jpg" alt="carangueijo" width="600" height="600" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/carangueijo.jpg 600w, https://deuoquefalar.com/wp-content/uploads/2015/08/carangueijo-150x150.jpg 150w, https://deuoquefalar.com/wp-content/uploads/2015/08/carangueijo-300x300.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/carangueijo-60x60.jpg 60w" sizes="(max-width: 600px) 100vw, 600px" /></a></p>
<p>Na verdade tudo não passa de uma ilusão causada pelas formações rochosas. Segundo o conhecido astrônomo Sethe Shostak exitem várias pessoas que mandam fotos alegando que existe vida extraterrestre, mas sempre é um alarme falso.</p>
<p>Ainda segundo Shostak, há um instinto básico entre os humanos em encontrar padrões onde não existe. Isso se chama pareidolia.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnasa-encontra-caranguejo-extraterrestre-em-marte%2F&amp;linkname=NASA%20encontra%20caranguejo%20extraterrestre%20em%20Marte" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnasa-encontra-caranguejo-extraterrestre-em-marte%2F&amp;linkname=NASA%20encontra%20caranguejo%20extraterrestre%20em%20Marte" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnasa-encontra-caranguejo-extraterrestre-em-marte%2F&amp;linkname=NASA%20encontra%20caranguejo%20extraterrestre%20em%20Marte" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnasa-encontra-caranguejo-extraterrestre-em-marte%2F&#038;title=NASA%20encontra%20caranguejo%20extraterrestre%20em%20Marte" data-a2a-url="https://deuoquefalar.com/nasa-encontra-caranguejo-extraterrestre-em-marte/" data-a2a-title="NASA encontra caranguejo extraterrestre em Marte"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/nasa-encontra-caranguejo-extraterrestre-em-marte/">NASA encontra caranguejo extraterrestre em Marte</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Saiba o que acontecerá com o Dólar nos próximos meses</title>
		<link>https://deuoquefalar.com/saiba-o-que-acontecera-com-o-dolar-nos-proximos-meses/</link>
				<pubDate>Thu, 25 Jun 2015 03:34:14 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=733</guid>
				<description><![CDATA[<p>Com o dólar em alta, a situação ficou apertada para quem precisa da moeda para viajar a passeio ou estudar no exterior. A alta da moeda também desperta o interesse de investidores que querem saber se vale a pena comprar dólar como aplicação financeira ou até mesmo de quem tem a moeda e quer lucrar [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-o-que-acontecera-com-o-dolar-nos-proximos-meses/">Saiba o que acontecerá com o Dólar nos próximos meses</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/06/16980246.jpeg"><img class="aligncenter size-full wp-image-735" src="https://deuoquefalar.com/wp-content/uploads/2015/06/16980246.jpeg" alt="16980246" width="640" height="426" srcset="https://deuoquefalar.com/wp-content/uploads/2015/06/16980246.jpeg 640w, https://deuoquefalar.com/wp-content/uploads/2015/06/16980246-300x200.jpeg 300w" sizes="(max-width: 640px) 100vw, 640px" /></a></p>
<p>Com o dólar em alta, a situação ficou apertada para quem precisa da moeda para viajar a passeio ou estudar no exterior.</p>
<p>A alta da moeda também desperta o interesse de investidores que querem saber se vale a pena comprar dólar como aplicação financeira ou até mesmo de quem tem a moeda e quer lucrar com a venda.<span id="more-733"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/06/4048606_x360.jpg"><img class="aligncenter size-full wp-image-734" src="https://deuoquefalar.com/wp-content/uploads/2015/06/4048606_x360.jpg" alt="4048606_x360" width="640" height="360" srcset="https://deuoquefalar.com/wp-content/uploads/2015/06/4048606_x360.jpg 640w, https://deuoquefalar.com/wp-content/uploads/2015/06/4048606_x360-300x169.jpg 300w" sizes="(max-width: 640px) 100vw, 640px" /></a></p>
<p>Segundo analistas, o dólar pode chegar a R$ 4,00 até o final do ano e subirá a R$ 3,20 até o próximo semestre. Portanto essa é a hora de economizar e comprar dólar assim que houver uma baixa.</p>
<p>Veja abaixo uma dica para saber como comprar o Dólar mais barato:</p>
<h3>Passo a passo: escolha dinheiro ou cartão</h3>
<div class="mod-foto-embed w615x300"><span class="credito">Reprodução</span></p>
<div class="figure"><img src="https://imguol.com/c/noticias/2015/05/25/ranking-de-dolar-do-banco-central-1432591636922_615x300.jpg" alt="" /></div>
</div>
<p>No ranking do BC (<strong><a href="https://www3.bcb.gov.br/rex/vet/index.asp" target="_blank">https://zip.net/bdrh07</a>)</strong>, informe se vai comprar em &#8220;Espécie&#8221; (dinheiro) ou se será em cartão pré-pago (mais caro, por causa do IOF de 6,38% contra 0,38% em dinheiro). Faça essa opção no alto, no campo  &#8221; 4. De que forma?&#8221;</p>
<h3>Preencha o valor que vai comprar em dólares</h3>
<div class="mod-foto-embed w615x300"><span class="credito">Reprodução</span></p>
<div class="figure"><img src="https://imguol.com/c/noticias/2015/05/25/ranking-de-dolar-do-banco-central---valor-1432592069152_615x300.jpg" alt="" /></div>
</div>
<p>A seguir, preencha o valor em dólares que deseja comprar no campo &#8220;5. Quanto&#8221;, no canto direito superior (não coloque ponto de milhar: use 1000 em vez de 1.000). Isso já faz aparecer a lista das corretoras ordenadas das mais baratas para as mais caras.</p>
<h3>Ordenando pelo preço ou pelo número de operações</h3>
<div class="mod-foto-embed w615x300"><span class="credito">Reprodução</span></p>
<div class="figure"><img src="https://imguol.com/c/noticias/2015/05/25/ranking-de-dolar-do-banco-central---ordenamento-1432592476814_615x300.jpg" alt="" /></div>
</div>
<p>Se quiser ordenar pelo número de negócios feitos no mês, clique no campo &#8220;Número de operações realizadas em (mês/ano) com base nos critérios pesquisados&#8221;. Se desejar voltar a ver o ranking do mais barato pro mais caro, clique no campo &#8220;Posição&#8221;. Se clicar de novo em &#8220;Posição&#8221;, ele muda a ordenação e passa a mostrar primeiro as corretoras mais caras.</p>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-o-que-acontecera-com-o-dolar-nos-proximos-meses%2F&amp;linkname=Saiba%20o%20que%20acontecer%C3%A1%20com%20o%20D%C3%B3lar%20nos%20pr%C3%B3ximos%20meses" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-o-que-acontecera-com-o-dolar-nos-proximos-meses%2F&amp;linkname=Saiba%20o%20que%20acontecer%C3%A1%20com%20o%20D%C3%B3lar%20nos%20pr%C3%B3ximos%20meses" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-o-que-acontecera-com-o-dolar-nos-proximos-meses%2F&amp;linkname=Saiba%20o%20que%20acontecer%C3%A1%20com%20o%20D%C3%B3lar%20nos%20pr%C3%B3ximos%20meses" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-o-que-acontecera-com-o-dolar-nos-proximos-meses%2F&#038;title=Saiba%20o%20que%20acontecer%C3%A1%20com%20o%20D%C3%B3lar%20nos%20pr%C3%B3ximos%20meses" data-a2a-url="https://deuoquefalar.com/saiba-o-que-acontecera-com-o-dolar-nos-proximos-meses/" data-a2a-title="Saiba o que acontecerá com o Dólar nos próximos meses"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-o-que-acontecera-com-o-dolar-nos-proximos-meses/">Saiba o que acontecerá com o Dólar nos próximos meses</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Arnold Schwarzenegger em pegadinha do Exterminador do Futuro</title>
		<link>https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/</link>
				<pubDate>Fri, 19 Jun 2015 00:30:59 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=728</guid>
				<description><![CDATA[<p>Arnold Schwarzenegger fazendo pegadinha do Exterminador do Futuro para divulgar o novo Exterminador do Futuro e também o seu projeto de caridade. Imagina, você vai no museu de cera, resolve tirar uma foto com o T-800 e ele conversa contigo?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/">Arnold Schwarzenegger em pegadinha do Exterminador do Futuro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Arnold Schwarzenegger fazendo pegadinha do Exterminador do Futuro para divulgar o novo Exterminador do Futuro e também o seu projeto de caridade.<span id="more-728"></span></p>
<p><iframe src="https://www.youtube.com/embed/w81g199L8YA" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Imagina, você vai no museu de cera, resolve tirar uma foto com o T-800 e ele conversa contigo?</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&amp;linkname=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&amp;linkname=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&amp;linkname=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Farnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro%2F&#038;title=Arnold%20Schwarzenegger%20em%20pegadinha%20do%20Exterminador%20do%20Futuro" data-a2a-url="https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/" data-a2a-title="Arnold Schwarzenegger em pegadinha do Exterminador do Futuro"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/arnold-schwarzenegger-em-pegadinha-do-exterminador-do-futuro/">Arnold Schwarzenegger em pegadinha do Exterminador do Futuro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
