<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>massarico &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/massarico/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 03 Jan 2017 01:36:09 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</title>
		<link>https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/</link>
				<pubDate>Tue, 03 Jan 2017 01:36:09 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[massarico]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=902</guid>
				<description><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p><iframe src="https://www.youtube.com/embed/3VF8Sd9GvfA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&#038;title=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" data-a2a-url="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/" data-a2a-title="Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
