<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>sealand &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/sealand/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 22 Sep 2014 16:06:59 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos</title>
		<link>https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/</link>
				<pubDate>Mon, 22 Sep 2014 16:06:59 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[sealand]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=276</guid>
				<description><![CDATA[<p>Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria, além de uma briga internacional. Se fundar a própria nação já não era o bastante, ele se autodeclarou rei e ainda deu títulos de nobreza a toda a família. Localizada a cerca de 10 quilômetros [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/">Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<figure id="attachment_277" aria-describedby="caption-attachment-277" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80768.jpg"><img class="size-full wp-image-277" alt="centro-80768" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80768.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-277" class="wp-caption-text">Construída de aço e concreto, a antiga plataforma funcionou como uma base militar avançada da marinha inglesa durante a 2ª Guerra Mundial &#8211; Foto: Ryan Lackey</figcaption></figure>
<p>Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria, além de uma briga internacional. Se fundar a própria nação já não era o bastante, ele se autodeclarou rei e ainda deu títulos de nobreza a toda a família. Localizada a cerca de 10 quilômetros de distância da região de Suff Olk, na Inglaterra, a antiga plataforma militar fica no Oceano Atlântico e é considerada a menor nação do mundo.<span id="more-276"></span></p>
<p>Em 1966, o ex-combatente da 2ª Guerra Mundial decidiu fundar uma rádio pirata, mas o governo inglês passou a persegui-lo. Para fugir, Bates se mudou para uma antiga plataforma militar inglesa, porém foi desalojado. Contudo, o futuro rei de Sealand não desistiu e rumou para outra plataforma abandonada, mas desta vez em águas internacionais. O governo britânico tentou de novo expulsá-lo, mas neste caso a justiça do país deu ganho de causa a Bates.</p>
<p>Com a vitória nos tribunais, ele decidiu dar um passo maior e fundar seu próprio país dentro da base &#8220;Rough Towers&#8221;, em 1966. Após quase um ano da criação do Estado, em 2 de setembro de 1967, Bates convidou todos os amigos para uma festa em sua nova nação e os surpreendeu ao se autoproclamar Rei de Sealand. Ele também deu títulos de nobreza a sua esposa e filhos. No mesmo dia, o novo rei também apresentou a bandeira e o brasão oficial do país com o lema &#8220;E mare, libertas&#8221; (do mar, a liberdade, em português). Porém, um país soberano necessita de uma moeda própria, Constituição, além de passaportes. Em 1975, ele resolveu estes problemas e apresentou aos habitantes suas novas leis, documentos e moedas.</p>
<p>Até meados de 1978, Sealand era desconhecida do grande público, porém um golpe político colocou o país no noticiário internacional. Durante uma &#8220;visita oficial&#8221; da Família Real à Inglaterra, piratas holandeses e alemães tomaram o poder da ilha e fizeram o príncipe Michael, filho do monarca, de refém. Após negociações internacionais com diplomatas europeus, o príncipe foi libertado e a plataforma voltou a ser governada por Bates.</p>
<p><b>Turismo</b><br />
A economia do país gira em torno do turismo e da venda de títulos de nobreza. Para arrecadar dinheiro, Sealand vende aos habitantes de outras nações títulos de nobreza como Lord, Cavaleiro, Conde e até endereços de e-mail do país. Outra fatia importante do PIB de US$ 600 mil de Sealand vem dos turistas que chegam de helicóptero para conhecerem o país que fica numa antiga base militar inglesa. Os voos partem do sudeste da Inglaterra e tem duração de aproximadamente 30 minutos.</p>
<p><b>Sealand</b><br />
Construída de aço e concreto, a antiga plataforma funcionou como uma base militar avançada da marinha inglesa durante a 2ª Guerra Mundial, porém foi abandonada após o fim do conflito. Entre as justificativas do governo britânico para o abandono do local está a dificuldade de acesso a construção. Até os dias atuais este problema persiste, pois devido as fortes correntezas que existem na região é quase impossível desembarcar na plataforma de barco ou navio. A única forma segura de chegar a Sealand é de helicóptero.</p>
<p>O país que possui apenas 550 m² e cerca de 30 habitantes não é reconhecido oficialmente pela Organização das Nações Unidas (ONU), porém em sua página oficial afirma que a Alemanha e o Reino Unido o reconhecem. A afirmação é feita embasada no fato de ambos os países terem enviado diplomatas para solucionarem a crise de 1978 e com isso, reconheceram Sealand como uma nação soberana. O atual monarca do país é Michel Bates, filho do Rei Paddy Bates que faleceu em 9 de outubro de 2012, aos 91 anos.</p>
<p><b>Serviço</b><br />
<b>Principado de Sealand</b><br />
<b>Capital:</b> Cidade de Sealand<br />
<b>Governo:</b> Monarquia constitucional<br />
<b>Monarca:</b> Michael Bates<br />
<b>Moeda:</b> Dólar de Sealand (o valor é atrelado ao dólar norte-americano)</p>
<p><b>Confira fotos do menor país do mundo, o Principado de Sealand</b></p>
<figure id="attachment_278" aria-describedby="caption-attachment-278" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80769.jpg"><img class="size-full wp-image-278" alt="Localizada a cerca de 10 quilômetros de distância da região de Suff Olk, na Inglaterra, a antiga plataforma militar fica no Oceano Atlântico e é considerada a menor nação do mundo - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80769.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-278" class="wp-caption-text">Localizada a cerca de 10 quilômetros de distância da região de Suff Olk, na Inglaterra, a antiga plataforma militar fica no Oceano Atlântico e é considerada a menor nação do mundo &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_279" aria-describedby="caption-attachment-279" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80770.jpg"><img class="size-full wp-image-279" alt="O país que possui apenas 550 m² e cerca de 30 habitantes não é reconhecido oficialmente pela Organização das Nações Unidas (ONU) - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80770.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-279" class="wp-caption-text">O país que possui apenas 550 m² e cerca de 30 habitantes não é reconhecido oficialmente pela Organização das Nações Unidas (ONU) &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_280" aria-describedby="caption-attachment-280" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80771.jpg"><img class="size-full wp-image-280" alt="A economia do país gira em torno do turismo e da venda de títulos de nobreza - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80771.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-280" class="wp-caption-text">A economia do país gira em torno do turismo e da venda de títulos de nobreza &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_281" aria-describedby="caption-attachment-281" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80772.jpg"><img class="size-full wp-image-281" alt="Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80772.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-281" class="wp-caption-text">Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_282" aria-describedby="caption-attachment-282" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80773.jpg"><img class="size-full wp-image-282" alt="Vista interna da sala do DataCenter de Sealand - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80773.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-282" class="wp-caption-text">Vista interna da sala do DataCenter de Sealand &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_283" aria-describedby="caption-attachment-283" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80774.jpg"><img class="size-full wp-image-283" alt="Sealand é abastecida 100% com produtos importados - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80774.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-283" class="wp-caption-text">Sealand é abastecida 100% com produtos importados &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_284" aria-describedby="caption-attachment-284" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80775.jpg"><img class="size-full wp-image-284" alt="Até meados de 1978, Sealand era desconhecida do grande público, porém um golpe político colocou o país no noticiário internacional - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80775.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-284" class="wp-caption-text">Até meados de 1978, Sealand era desconhecida do grande público, porém um golpe político colocou o país no noticiário internacional &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_285" aria-describedby="caption-attachment-285" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80776.jpg"><img class="size-full wp-image-285" alt="Em 1966, o ex-combatente da 2ª Guerra Mundial, Paddy Roy Bates, decidiu fundar uma rádio pirata, mas o governo inglês passou a persegui-lo. Ao final da história, ele criou o menor país do mundo - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80776.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-285" class="wp-caption-text">Em 1966, o ex-combatente da 2ª Guerra Mundial, Paddy Roy Bates, decidiu fundar uma rádio pirata, mas o governo inglês passou a persegui-lo. Ao final da história, ele criou o menor país do mundo &#8211; Foto: Ryan Lackey</figcaption></figure>
<p>&nbsp;</p>
<p><strong>Veja o vídeo</strong></p>
<p><iframe src="//www.youtube.com/embed/OhrzXYmxFdw" height="390" width="640" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&amp;linkname=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&amp;linkname=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&amp;linkname=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&#038;title=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" data-a2a-url="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/" data-a2a-title="Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/">Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
