<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Curiosidades &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/category/curiosidades/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 16 Dec 2019 13:33:56 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Confira os lançamentos Netflix de Dezembro (15 a 21)</title>
		<link>https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/</link>
				<pubDate>Mon, 16 Dec 2019 13:31:43 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=993</guid>
				<description><![CDATA[<p>Confira quais são os lançamentos que chegam à plataforma Netflix nessa semana. Serão adicionados mais 43 títulos ao catálogo do streaming. </p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/">Confira os lançamentos Netflix de Dezembro (15 a 21)</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e.jpg" alt="" class="wp-image-994" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e.jpg 750w, https://deuoquefalar.com/wp-content/uploads/2019/12/750xNxcapa-netflix.jpg.pagespeed.ic_.e391f6af2e-300x188.jpg 300w" sizes="(max-width: 750px) 100vw, 750px" /></figure>



<p> Confira quais são os lançamentos que chegam à plataforma Netflix nessa semana. Serão adicionados mais 43 títulos ao catálogo do streaming. Confira quais são eles! </p>



<span id="more-993"></span>



<p>Mais uma semana que chega e com ela temos, é claro, mais <strong>lançamentos chegando ao streaming Netflix</strong>. Dentre as novidades da semana estão mais <strong>filmes, séries e novas temporada</strong>s. Então, confira já, serão adicionados mais 43 títulos ao catálogo.</p>



<p>A série <strong>Good Witch</strong> recebe nessa semana a sua <strong>quinta temporada</strong> no streaming. Ao criar a filha em uma cidade pequena, uma encantadora viúva com poderes mágicos desperta o interesse de um desconfiado médico da cidade grande.</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Good Witch Extended Preview - Season 1" width="648" height="365" src="https://www.youtube.com/embed/Y4kDSKGxvD8?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> streia também no catálogo Netflix essa semana o filme de ação e aventura&nbsp;<strong>Resident Evil: O Último Capítulo.</strong>&nbsp;Alice tem que enfrentar o Dr. Isaacs, a Umbrella e uma horda de zumbis para salvar a humanidade com um antivírus que está em Raccoon City. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Resident Evil O Capítulo Final | Trailer legendado | 26 de janeiro nos cinemas" width="648" height="365" src="https://www.youtube.com/embed/17sInSM9kE0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> A&nbsp;<strong>segunda temporada</strong>&nbsp;de&nbsp;<strong>Ultravioleta</strong>&nbsp;fica disponível na quinta-feira. Em busca de justiça, uma comunidade online de detetives amadores descobre na tecnologia uma ferramenta para solucionar crimes. E também para fazer amigos bem peculiares. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Ultraviolet Netflix HD Trailer" width="648" height="365" src="https://www.youtube.com/embed/HEcxqBH5eCc?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> A série<strong>&nbsp;The Witcher</strong>&nbsp;estreia na plataforma dia 20 de dezembro. O mutante Geralt de Rívia é um caçador de monstros que luta para encontrar seu lugar num mundo onde as pessoas muitas vezes são mais perversas que as criaturas selvagens. </p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="THE WITCHER | TRAILER FINAL | NETFLIX" width="648" height="365" src="https://www.youtube.com/embed/sCxQFlkgzrw?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> E um último detalhe: Boa parte dos títulos não são listados pela Netflix ou então são remarcados no que deveria ser o dia de sua estreia. Por isso <strong>este post é atualizado e revisado DIARIAMENTE</strong> logo pela manhã. Para ter certeza de que você está por dentro de todas as novidades, não esqueça de voltar aqui diariamente para conferir se alguma coisa mudou daquelas que foram programadas previamente.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&amp;linkname=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fconfira-os-lancamentos-netflix-de-dezembro-15-a-21%2F&#038;title=Confira%20os%20lan%C3%A7amentos%20Netflix%20de%20Dezembro%20%2815%20a%2021%29" data-a2a-url="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/" data-a2a-title="Confira os lançamentos Netflix de Dezembro (15 a 21)"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/confira-os-lancamentos-netflix-de-dezembro-15-a-21/">Confira os lançamentos Netflix de Dezembro (15 a 21)</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</title>
		<link>https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/</link>
				<pubDate>Fri, 13 Dec 2019 13:55:53 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=971</guid>
				<description><![CDATA[<p>1. Enquanto você espera a chegada do feriado, o seu gato faz algo que ele domina como ninguém: repousar em berço esplêndido 2. Pode acontecer de ele recorrer a um refúgio em meio à natureza 3. Um lugar privilegiado na mesa do almoço de domingo 4. Uma caixa abandonada para a qual ninguém dava bola [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/">13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg" alt="" class="wp-image-972" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-300x187.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-768x480.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /></figure>



<span id="more-971"></span>



<h3>1. Enquanto você espera a chegada do feriado, o seu gato faz algo que ele domina como ninguém: repousar em berço esplêndido</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg" alt="" class="wp-image-972" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-300x187.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-768x480.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>2. Pode acontecer de ele recorrer a um refúgio em meio à natureza</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-802x1024.jpg" alt="" class="wp-image-973" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-802x1024.jpg 802w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-235x300.jpg 235w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-768x980.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379.jpg 850w" sizes="(max-width: 802px) 100vw, 802px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>3. Um lugar privilegiado na mesa do almoço de domingo</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-769x1024.jpg" alt="" class="wp-image-974" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-769x1024.jpg 769w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-225x300.jpg 225w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-768x1023.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380.jpg 850w" sizes="(max-width: 769px) 100vw, 769px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>4. Uma caixa abandonada para a qual ninguém dava bola</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381.jpg" alt="" class="wp-image-975" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381-300x229.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381-768x587.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>5. Aquela convidativa fenda entre as almofadas do sofá da sala</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-683x1024.jpg" alt="" class="wp-image-976" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-683x1024.jpg 683w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-200x300.jpg 200w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-768x1152.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383.jpg 850w" sizes="(max-width: 683px) 100vw, 683px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>6. Ou debaixo da caminha que você comprou para ele com o maior carinho</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-769x1024.jpg" alt="" class="wp-image-977" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-769x1024.jpg 769w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-225x300.jpg 225w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-768x1023.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384.jpg 850w" sizes="(max-width: 769px) 100vw, 769px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>7. Às vezes, a estranha lógica dos gatos se revela um tanto espantosa</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385.jpg" alt="" class="wp-image-978" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385-300x270.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385-768x690.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>8. Como quando eles tentam lutar contra as leis da Física</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386.jpg" alt="" class="wp-image-979" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386-300x224.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386-768x575.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>9. Quando resolvem desbravar os cantos mais improváveis da sua casa</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387.jpg" alt="" class="wp-image-980" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387-300x269.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387-768x689.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>10. Quando trocam o conforto do seu colo por algum local quentinho</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389.jpg" alt="" class="wp-image-981" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-300x300.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-150x150.jpg 150w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-768x769.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-60x60.jpg 60w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>11. Ou quando decidem te procurar nas horas mais inapropriadas</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390.jpg" alt="" class="wp-image-982" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390-768x576.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>12. É&#8230; Alguns gatíneos realmente não dão a mínima para a sua opinião</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392.jpg" alt="" class="wp-image-983" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392-300x222.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392-768x568.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>13. O que não significa que você vai deixar de amá-los mesmo assim</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393.jpg" alt="" class="wp-image-984" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393-768x576.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&#038;title=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" data-a2a-url="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/" data-a2a-title="13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/">13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS</title>
		<link>https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/</link>
				<pubDate>Fri, 13 Dec 2019 13:46:35 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=967</guid>
				<description><![CDATA[<p>Se alguém pedir para você imitar o ruído que os cachorros e os gatos fazem, é muito provável que você não pense duas vezes antes de emitir o tradicional “au-au” e “miaaau”, não é mesmo? E você já pediu para — ou ouviu — algum gringo demonstrando como é que os bichinhos se “comunicam” em [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/">MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia.jpg" alt="" class="wp-image-969" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia.jpg 900w, https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/cachorro_gato_harmonia-768x432.jpg 768w" sizes="(max-width: 900px) 100vw, 900px" /></figure>



<p>Se alguém pedir para você imitar o ruído que os cachorros e os gatos fazem, é muito provável que você não pense duas vezes antes de emitir o tradicional “au-au” e “miaaau”, não é mesmo? E você já pediu para — ou ouviu — algum gringo demonstrando como é que os bichinhos se “comunicam” em seus países?</p>



<span id="more-967"></span>



<p>Pois, de acordo com Lori Dorn, do site <a rel="noreferrer noopener" href="https://laughingsquid.com/cat-and-dog-sounds-around-the-world/" target="_blank">Laughing Squid</a>, o pessoal do site de viagens <a rel="noreferrer noopener" href="https://www.youtube.com/watch?time_continue=3&amp;v=6b6eX9JhgaM" target="_blank">Condé Nast Traveler</a> conseguiu reunir pessoas de 70 países diferentes e pediu que cada uma delas revelasse como os cães e bichanos soam em seus idiomas e, como você vai poder conferir, não é que a bicharada tem sotaque? Especialmente os cachorros! Apesar de ser um bocado de gente mostrando como são os latidos e miados em 70 nações distintas, o vídeo é bem curtinho (ele tem menos de dois minutos) e divertido, sem falar que é praticamente impossível não sorrir com as imitações. Assista:</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="70 People Imitate What Cats and Dogs Sound Like in 70 Countries | Condé Nast Traveler" width="648" height="365" src="https://www.youtube.com/embed/6b6eX9JhgaM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&amp;linkname=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&amp;linkname=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&amp;linkname=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fmiados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos%2F&#038;title=MIADOS%20E%20LATIDOS%20COM%20SOTAQUE%3F%20OU%C3%87A%2070%20ESTRANGEIROS%20IMITAREM%20C%C3%83ES%20E%20GATOS" data-a2a-url="https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/" data-a2a-title="MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/miados-e-latidos-com-sotaque-ouca-70-estrangeiros-imitarem-caes-e-gatos/">MIADOS E LATIDOS COM SOTAQUE? OUÇA 70 ESTRANGEIROS IMITAREM CÃES E GATOS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</title>
		<link>https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/</link>
				<pubDate>Fri, 13 Dec 2019 10:30:39 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=955</guid>
				<description><![CDATA[<p>O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/">CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p> O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma obra dessas? Por pirraça, caro leitor. Por pura pirraça! Veja abaixo: </p>



<p>O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma obra dessas? Por pirraça, caro leitor. Por pura pirraça! Veja abaixo:</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201542365431.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)?????</figcaption></figure>



<span id="more-955"></span>



<h2>Picuinhas</h2>



<p>De acordo com Andželika Jaseviciute, do site&nbsp;<a href="https://www.boredpanda.com/al-basa-the-grudge-house-beirut-lebanon/" target="_blank" rel="noreferrer noopener">Bored Panda</a>, o prédio é conhecido pelos habitantes locais como “<em>Al Ba’as</em>” – ou “O Rancor” – e foi erguido depois de uma briga entre irmãos. Os 2 caras receberam o terreno como herança, mas não conseguiam entrar em um acordo sobre o que construir no espaço. Para piorar, uma das metades da área acabou sendo dividida por conta de alguns projetos de infraestrutura da prefeitura, o que terminou por deixar o terreno com um formato meio estranho, prejudicando um dos sujeitos.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201702725432.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>



<p>Então, como um ficou com mais espaço e conseguiu construir uma edificação melhor – com alto potencial de valorização imobiliária –, o outro, por birra, ergueu o “prédio-paredão” só para obstruir a vista para o mar do irmão e fazer o cara perder dinheiro. E não foi só isso! Ademais de tapar o outro edifício, a construção abrigou um bordel para irritar o irmão e reduzir ainda mais o valor de seu imóvel.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201743537433.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>



<p>Segundo Andželika, anos mais tarde, o prédio passou a servir de lar para famílias de refugiados de guerra e, hoje em dia, embora conte com 2 apartamentos por andar (por incrível que pareça), o edifício se encontra desabitado e se tornou uma espécie de monumento ao que a pirraça, a birra, o rancor e as picuinhas entre irmãos podem causar.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201936647435.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&#038;title=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" data-a2a-url="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/" data-a2a-title="CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/">CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>NÍQUEL QUENTE vs ESPUMA FLORAL</title>
		<link>https://deuoquefalar.com/niquel-quente-vs-espuma-floral/</link>
				<pubDate>Tue, 10 Jan 2017 03:12:54 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[espuma]]></category>
		<category><![CDATA[maçarico]]></category>
		<category><![CDATA[niquel]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=905</guid>
				<description><![CDATA[<p>Você é capaz de descobrir o que acontece se juntar uma chapa de níquel quente e uma espuma floral? Ah então veja o vídeo e #descubra!</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/">NÍQUEL QUENTE vs ESPUMA FLORAL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Você é capaz de descobrir o que acontece se juntar uma chapa de níquel quente e uma espuma floral? Ah então veja o vídeo e #descubra!<br />
<iframe src="https://www.youtube.com/embed/tTKMXpYWv1k" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&#038;title=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" data-a2a-url="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/" data-a2a-title="NÍQUEL QUENTE vs ESPUMA FLORAL"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/">NÍQUEL QUENTE vs ESPUMA FLORAL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</title>
		<link>https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/</link>
				<pubDate>Tue, 03 Jan 2017 01:36:09 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[massarico]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=902</guid>
				<description><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p><iframe src="https://www.youtube.com/embed/3VF8Sd9GvfA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&#038;title=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" data-a2a-url="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/" data-a2a-title="Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Tutorial Definitivo &#8211; Veja como rodar o Pokemon Go! no Brasil</title>
		<link>https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/</link>
				<pubDate>Sat, 16 Jul 2016 01:13:50 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[game]]></category>
		<category><![CDATA[jogo]]></category>
		<category><![CDATA[nintendo]]></category>
		<category><![CDATA[pokemon go!]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=898</guid>
				<description><![CDATA[<p>Tutorial definitivo ensinando a rodar o Pokemon Go no Brasil, no vídeo abaixo:</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/">Tutorial Definitivo &#8211; Veja como rodar o Pokemon Go! no Brasil</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Tutorial definitivo ensinando a rodar o Pokemon Go no Brasil, no vídeo abaixo:</p>
<p><span id="more-898"></span><iframe src="https://www.youtube.com/embed/XTsGMnvCd7A" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&amp;linkname=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&amp;linkname=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&amp;linkname=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Ftutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil%2F&#038;title=Tutorial%20Definitivo%20%E2%80%93%20Veja%20como%20rodar%20o%20Pokemon%20Go%21%20no%20Brasil" data-a2a-url="https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/" data-a2a-title="Tutorial Definitivo – Veja como rodar o Pokemon Go! no Brasil"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/tutorial-definitivo-veja-como-rodar-o-pokemon-go-no-brasil/">Tutorial Definitivo &#8211; Veja como rodar o Pokemon Go! no Brasil</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Como criar um alarme de nível de água caseiro</title>
		<link>https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/</link>
				<pubDate>Mon, 04 Jul 2016 05:32:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Alarme Caseiro]]></category>
		<category><![CDATA[Circuitos Eletrônicos]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[Hobby]]></category>
		<category><![CDATA[Vídeo Viral]]></category>
		<category><![CDATA[Viral no Brasil]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=894</guid>
				<description><![CDATA[<p>Para os amantes de eletrônica e hobbystas em geral, que tal fazer o seu próprio alarme, sensor de nível de água com componentes simples, assista ao vídeo e tente agora mesmo.</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/">Como criar um alarme de nível de água caseiro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Para os amantes de eletrônica e hobbystas em geral, que tal fazer o seu próprio alarme, sensor de nível de água com componentes simples, assista ao vídeo e tente agora mesmo.</p>
<p><iframe src="https://www.youtube.com/embed/buBqxSVgvcE" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&#038;title=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" data-a2a-url="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/" data-a2a-title="Como criar um alarme de nível de água caseiro"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/">Como criar um alarme de nível de água caseiro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Vai ter golpe? Historiadores comparam crise atual com a de 1964</title>
		<link>https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/</link>
				<pubDate>Tue, 29 Mar 2016 19:19:23 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[brasil 1964]]></category>
		<category><![CDATA[dilma rousseff]]></category>
		<category><![CDATA[golpe]]></category>
		<category><![CDATA[joão goulart]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=875</guid>
				<description><![CDATA[<p>No dia 13 de março de 1964, o então presidente do Brasil João Goulart fez um comício no Rio de Janeiro para pedir apoio popular e apresentar Reformas de Base (agrária, bancária, fiscal, urbana, administrativa e universitária). A estratégia não deu certo. Menos de um mês depois, os militares deram um golpe e assumiram o [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/">Vai ter golpe? Historiadores comparam crise atual com a de 1964</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="aligncenter size-full wp-image-879" src="https://deuoquefalar.com/wp-content/uploads/2016/03/brasil-1964-ditadura-militar-pt-dilma-1.png" alt="brasil-1964-ditadura-militar-pt-dilma" width="615" height="470" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/brasil-1964-ditadura-militar-pt-dilma-1.png 615w, https://deuoquefalar.com/wp-content/uploads/2016/03/brasil-1964-ditadura-militar-pt-dilma-1-300x229.png 300w" sizes="(max-width: 615px) 100vw, 615px" /></p>
<p>No dia 13 de março de 1964, o então presidente do Brasil João Goulart fez um comício no Rio de Janeiro para pedir apoio popular e apresentar Reformas de Base (agrária, bancária, fiscal, urbana, administrativa e universitária). A estratégia não deu certo. Menos de um mês depois, os militares deram um golpe e assumiram o poder por 21 anos.</p>
<p>Exatamente 52 anos depois, milhares de brasileiros saem às ruas para pedir a saída da presidente Dilma Rousseff. Em meio à crise política e com a ameaça real do impeachment, defensores do governo comparam o período atual com o golpe de 1964.</p>
<p>Veja abaixo as semelhanças de cada época:<span id="more-875"></span></p>
<section class="list-items">
<header class="title font-color1">
<blockquote>
<h1>O que é parecido</h1>
</blockquote>
<div id="comentarios-teaser"></div>
</header>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Brasil em crise &#8211; 1964</h2>
<div class="description">João Goulart entrou no governo após renúncia de Jânio Quadros em 1961. Nos três anos de governo não conseguiu apoio parlamentar no Congresso Nacional. Como saída, buscava o apoio popular. Ao mesmo tempo, ele tentava agradar a direita realizando reformas ministeriais. Após anunciar as Reformas de Base, ele passou a se tornar uma &#8220;ameaça comunista&#8221; e o golpe foi questão de tempo.</div>
</div>
<div class="description"><img class="aligncenter size-medium wp-image-882" src="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-300x169.jpg" alt="repressao" width="300" height="169" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao.jpg 620w" sizes="(max-width: 300px) 100vw, 300px" /></div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Brasil em crise &#8211; 2016</h2>
<div class="description">O governo Dilma também vive uma crise política. Dilma tem problemas para aprovar projetos de interesse do governo no Congresso, tem índices de popularidade muito baixos e as operações da Polícia Federal têm desmoralizado seu governo. Como estratégia de governabilidade, oferece cargos a partidos e tenta buscar à militância de movimentos sociais. &#8220;Assim como no governo Jango, não há base alguma de governabilidade&#8221;, diz Nogueira.</div>
<div class="description"><img class="aligncenter size-medium wp-image-884" src="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-300x130.jpg" alt="repressao-dilma" width="300" height="130" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-300x130.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-768x334.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-1024x445.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma.jpg 1265w" sizes="(max-width: 300px) 100vw, 300px" /></div>
</div>
</article>
</section>
<section class="list-items">
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Economia ruim &#8211; 1964</h2>
<div class="description">O Brasil enfrentava a inflação. O índice chegava a cerca de 90%. &#8220;Economicamente, havia uma crise muito maior. Falava-se em carestia, nem era em inflação. A própria situação econômica do país acarretou a pressão pelo fim do governo de Jango&#8221;, diz Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Economia ruim &#8211; 2016</h2>
<div class="description">O Brasil também vive uma situação complicada em termos de economia. Apesar de não ser uma crise tão grande como a de 1964 (de acordo com a opinião de Barbosa), o país enfrenta aumento na inflação e queda no PIB.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>O povo vai às ruas &#8211; 1964</h2>
<div class="description">Antes do golpe, diversas manifestações de rua aconteceram no país. Uma das mais importantes foi a Marcha da Família com Deus pela Liberdade, ocorrida no dia 19 de março, em São Paulo. &#8220;Foi um movimento elitista. Havia uma elite política e militar envolvida com o golpe&#8221;, diz Nogueira. Além dessa marcha, aconteceram manifestações de apoio (como no anúncio das Reformas de Base) e oposição ao governo.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>O povo vai às ruas &#8211; 2016</h2>
<div class="description">O cenário atual também fez com que a população organizasse manifestações. Desde as jornadas de junho de 2013, há manifestações contra (como a de 15 de março do ano passado) e a favor do governo (como manifestações organizados por movimentos sociais). &#8220;Os dois governos eram fracos. Em 1964, tentou uma última cartada: ficar ao lado do povo. Hoje, é povo que é que contra o governo e sai às ruas&#8221;, diz Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Conservadorismo &#8211; 1964</h2>
<div class="description">Os protestos contra o governo Jango eram realizados por grupos que defendiam o combate à corrupção e a recuperação de valores morais e religiosos. O medo do comunismo era cada vez mais latente e os militares eram vistos como uma alternativa contra um &#8220;golpe comunista&#8221;.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Conservadorismo &#8211; 2016</h2>
<div class="description">No que se refere a uma onda conservadora, os historiadores discordam se ela toma conta da sociedade realmente. &#8220;Há um discurso moralizador em crescimento. Podemos comparar a bancada do Congresso do BBB (Boi, Bala e Bíblia) com a TFP (Tradição, Família e Propriedade), que organizou a Marcha da família&#8221;, diz Nogueira. Barbosa aponta que o discurso sobre o crescimento do moralismo é uma estratégia. &#8220;Eu vejo uma tentativa de quem está ao lado do governo de desqualificar conservadores&#8221;.</div>
</div>
</article>
</section>
<section class="list-items">
<header class="title font-color1">
<h1></h1>
<blockquote>
<h1>O que tem de diferente</h1>
</blockquote>
<div id="comentarios-teaser"></div>
</header>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Envolvimento internacional &#8211; 1964 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">O cenário internacional era muito diferente de hoje. No auge da Guerra Fria, EUA e URSS disputavam o controle político mundial. Neste sentido, o Brasil acabou se tornando estratégico para os americanos. &#8220;Anos depois do golpe, soube-se que os EUA tiveram participação direta&#8221;, diz Nogueira. &#8220;Havia um medo do comunismo e os militares se apoiaram nele para dar o golpe&#8221;, completa Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="titles noimg" title="">
<h2>Envolvimento internacional &#8211; 2016</h2>
</div>
<div class="description">Hoje, o comunismo quase não existe mais. E os EUA têm outras preocupações (como a questão do Oriente Médio) consideradas mais importantes do que quem fica no poder no Brasil. &#8220;Hoje ninguém está preocupado com o que acontece aqui&#8221;, diz Barbosa. &#8220;Hoje há, sim, uma polarização. Mas não se pode falar em discurso de direita e esquerda. O que sobrou disso foi uma reação elitista a projetos sociais de Lula e Dilma&#8221;, aponta Nogueira.</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Papel das Forças Armadas &#8211; 1964 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">As Forças Armadas eram vistas como a salvação do país por parte de quem apoiava o golpe. Dois motivos apontavam para a força política da instituição: a democracia frágil e o fato de os militares já terem ocupado o poder (no início da República). &#8220;Podemos dizer que eles já haviam dado um golpe antes. Por isso, tinham força. Hoje [já] não têm essas forças&#8221;, aponta Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Papel das Forças Armadas &#8211; 2016 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">Apesar de pequenos grupos defenderem a volta dos militares, a instituição não tem força política e apoio popular para dar outro golpe. &#8220;As Forças Armadas, hoje, têm um papel totalmente fora da política. Os generais falam que não vão agir contra o governo. Até porque o período militar desgastou a imagem deles&#8221;, aponta Nogueira.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Poder do Judiciário &#8211; 1964 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">Em 1964, não era só o Executivo que estava enfraquecido. Quando o Golpe de 64 aconteceu, o Legislativo foi atropelado. &#8220;Em 1964, houve um golpe. Os militares foram contra a Constituição Federal&#8221;, aponta Nogueira. &#8220;Não se tinha uma noção real de democracia no país&#8221;, completa Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Poder do Judiciário &#8211; 2016</h2>
<div class="description">Nos dias atuais, o papel do Judiciário é outro. &#8220;Hoje, tenta-se tirar o governo pela via legal. E o Judiciário começou a ter um papel fortíssimo na política. É o STF que define os rumos do país&#8221;, aponta Nogueira. &#8220;Temos um Executivo fraco e um Legislativo [que funciona] pela Justiça. Aí, sobra o Judiciário, que simplesmente está agindo porque chegou a uma organização criminosa que está no poder. Isso sim é uma mostra que a nossa democracia evoluiu&#8221;, afirma.</div>
<div class="description"></div>
</div>
<div class="description">Fonte: UOL</div>
</article>
</section>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&amp;linkname=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&amp;linkname=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&amp;linkname=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&#038;title=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" data-a2a-url="https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/" data-a2a-title="Vai ter golpe? Historiadores comparam crise atual com a de 1964"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/">Vai ter golpe? Historiadores comparam crise atual com a de 1964</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</title>
		<link>https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/</link>
				<pubDate>Tue, 29 Mar 2016 14:18:13 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[desbloquear]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>
		<category><![CDATA[unlock]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=866</guid>
				<description><![CDATA[<p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<blockquote><p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone</p></blockquote>
<p><img class="aligncenter size-full wp-image-867" src="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg" alt="como-desbloquear-iphone-pelo-siri" width="615" height="409" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg 615w, https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri-300x200.jpg 300w" sizes="(max-width: 615px) 100vw, 615px" /></p>
<p>Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou digital cadastrada!</p>
<p>Alguns dizem que conseguiram, outros que não&#8230; E você será que consegue? Poste nos comentários sua experiência!</p>
<p><iframe src="https://www.youtube.com/embed/9gCf9FvKCFI" width="620" height="349" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&#038;title=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" data-a2a-url="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/" data-a2a-title="Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
