<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Estudante de design cria torneira que projeta água em espiral economizando no consumo	</title>
	<atom:link href="https://deuoquefalar.com/estudante-de-design-cria-torneira-que-projeta-agua-em-espiral-economizando-consumo/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/estudante-de-design-cria-torneira-que-projeta-agua-em-espiral-economizando-consumo/</link>
	<description></description>
	<lastBuildDate>Mon, 16 Mar 2015 23:17:48 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
