<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Hobby &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/hobby/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 04 Jul 2016 05:32:52 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Como criar um alarme de nível de água caseiro</title>
		<link>https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/</link>
				<pubDate>Mon, 04 Jul 2016 05:32:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Alarme Caseiro]]></category>
		<category><![CDATA[Circuitos Eletrônicos]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[Hobby]]></category>
		<category><![CDATA[Vídeo Viral]]></category>
		<category><![CDATA[Viral no Brasil]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=894</guid>
				<description><![CDATA[<p>Para os amantes de eletrônica e hobbystas em geral, que tal fazer o seu próprio alarme, sensor de nível de água com componentes simples, assista ao vídeo e tente agora mesmo.</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/">Como criar um alarme de nível de água caseiro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Para os amantes de eletrônica e hobbystas em geral, que tal fazer o seu próprio alarme, sensor de nível de água com componentes simples, assista ao vídeo e tente agora mesmo.</p>
<p><iframe src="https://www.youtube.com/embed/buBqxSVgvcE" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&amp;linkname=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcomo-criar-um-alarme-de-nivel-de-agua-caseiro%2F&#038;title=Como%20criar%20um%20alarme%20de%20n%C3%ADvel%20de%20%C3%A1gua%20caseiro" data-a2a-url="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/" data-a2a-title="Como criar um alarme de nível de água caseiro"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/como-criar-um-alarme-de-nivel-de-agua-caseiro/">Como criar um alarme de nível de água caseiro</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
