<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>whatsapp &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/whatsapp/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Fri, 03 Apr 2015 06:24:19 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Saiba como desabilitar a notificação de &#8220;mensagens lidas&#8221; do WhatsApp</title>
		<link>https://deuoquefalar.com/saiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp/</link>
				<pubDate>Mon, 17 Nov 2014 13:19:42 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[whatsapp]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=425</guid>
				<description><![CDATA[<p>O WhatsApp cedeu à pressão popular e acaba de adicionar uma opção para os usuários desativarem o recurso recém-lançado que mostrava quando um usuário tinha lido uma mensagem, como já acontece há algum tempo no Facebook. De acordo com informações do site Android Police, a opção para desabilitar a ferramenta foi liberada na atualização 2.11.44, mas [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp/">Saiba como desabilitar a notificação de &#8220;mensagens lidas&#8221; do WhatsApp</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/11/Whatsapp.jpg"><img class="aligncenter size-full wp-image-426" src="https://deuoquefalar.com/wp-content/uploads/2014/11/Whatsapp.jpg" alt="Whatsapp" width="420" height="386" /></a></p>
<p>O WhatsApp cedeu à pressão popular e acaba de adicionar uma opção para os usuários desativarem o recurso recém-lançado que mostrava quando um usuário tinha lido uma mensagem, como já acontece há algum tempo no Facebook.</p>
<p>De acordo com informações do site <a href="https://www.androidpolice.com/2014/11/14/whatsapp-lets-disable-read-receipts-can-safely-ignore-peoples-nagging/">Android Police</a>, a opção para desabilitar a ferramenta foi liberada na atualização 2.11.44, mas a novidade só está disponível para aparelhos Android por enquanto.<span id="more-425"></span></p>
<p>Para ter acesso ao recurso, é preciso fazer o download do update <a href="https://www.whatsapp.com/android/">diretamente pelo site</a> do WhatsApp já que o serviço ainda não liberou a atualização pela Google Play.</p>
<p>Até o fechamento da reportagem, o WhatsApp não tinha se pronunciado sobre o assunto nem sobe o lançamento dessa opção para iPhones e outros sistemas.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp%2F&amp;linkname=Saiba%20como%20desabilitar%20a%20notifica%C3%A7%C3%A3o%20de%20%E2%80%9Cmensagens%20lidas%E2%80%9D%20do%20WhatsApp" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp%2F&amp;linkname=Saiba%20como%20desabilitar%20a%20notifica%C3%A7%C3%A3o%20de%20%E2%80%9Cmensagens%20lidas%E2%80%9D%20do%20WhatsApp" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp%2F&amp;linkname=Saiba%20como%20desabilitar%20a%20notifica%C3%A7%C3%A3o%20de%20%E2%80%9Cmensagens%20lidas%E2%80%9D%20do%20WhatsApp" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp%2F&#038;title=Saiba%20como%20desabilitar%20a%20notifica%C3%A7%C3%A3o%20de%20%E2%80%9Cmensagens%20lidas%E2%80%9D%20do%20WhatsApp" data-a2a-url="https://deuoquefalar.com/saiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp/" data-a2a-title="Saiba como desabilitar a notificação de “mensagens lidas” do WhatsApp"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desabilitar-notificacao-de-mensagens-lidas-whatsapp/">Saiba como desabilitar a notificação de &#8220;mensagens lidas&#8221; do WhatsApp</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
