<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>ipad &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/ipad/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Fri, 05 Sep 2014 13:55:47 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir</title>
		<link>https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/</link>
				<pubDate>Fri, 05 Sep 2014 13:55:47 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[icloud]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[ipad]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=203</guid>
				<description><![CDATA[<p>Uma falha no serviço de armazenamento em nuvem da Apple, o iCloud, pode ter facilitado o vazamento de fotos íntimas de mais de cem celebridades no último domingo (veja o post AQUI) &#8211; quase todas as vítimas são atrizes de Hollywood. Há 2 possibilidades que podem ter sido usadas para que as contas fossem invadidas, [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/">Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/icloud-lock-100055960-large.png"><img class="aligncenter size-medium wp-image-204" alt="icloud-lock-100055960-large" src="https://deuoquefalar.com/wp-content/uploads/2014/09/icloud-lock-100055960-large-300x200.png" width="300" height="200" /></a></p>
<p>Uma falha no serviço de armazenamento em nuvem da Apple, o iCloud, pode ter facilitado o vazamento de fotos íntimas de mais de cem celebridades no último domingo (veja o post <strong><a title="O maior roubo de fotos sensuais da história" href="https://deuoquefalar.com/o-maior-roubo-de-fotos-sensuais-da-historia/" target="_blank">AQUI</a></strong>) &#8211; quase todas as vítimas são atrizes de Hollywood.<span id="more-203"></span></p>
<p>Há 2 possibilidades que podem ter sido usadas para que as contas fossem invadidas, uma delas é que quem vazou as imagens pode ter conseguido o controle sobre os celulares das vítimas ou invadindo contas de e-mails.</p>
<p>Entretanto, algumas providências podem ser tomadas para evitar que seu iPhone ou iPad seja invadido:</p>
<ul>
<li><strong>Cuidado com o Wi-Fi</strong> &#8211; Tome cuidado com redes de internet sem fio, principalmente as que não pedem senha. Toda a informação trafegada está sujeita a interceptação por terceiros ou pelo administrador da rede;</li>
<li><strong>Não seja óbvio</strong> &#8211; Evite senhas simples e de fácil adivinhação. Utilizar senhas com combinações de letras maiúsculas e números dificulta que sua conta seja invadida;</li>
<li><strong>Não repita as senhas</strong> &#8211; Se você for uma vítima de algum hacker, há uma grande possibilidade dele tentar acessar outros serviços utilizando a mesma senha, impossibilitando até que você recupere a sua conta.</li>
<li><strong>Opte por mais um meio de autenticação</strong> &#8211; Presente em serviços como o iCloud, Gmail, Facebook e Twitter, o esquema de dupla autenticação funciona de modo que requer 2 senhas, uma delas é enviada pelo celular do usuário, que reduz o risco de ter informações roubadas.</li>
</ul>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&amp;linkname=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&amp;linkname=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&amp;linkname=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&#038;title=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" data-a2a-url="https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/" data-a2a-title="Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/">Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
