<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>golpe &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/golpe/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 29 Mar 2016 19:29:27 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Vai ter golpe? Historiadores comparam crise atual com a de 1964</title>
		<link>https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/</link>
				<pubDate>Tue, 29 Mar 2016 19:19:23 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[brasil 1964]]></category>
		<category><![CDATA[dilma rousseff]]></category>
		<category><![CDATA[golpe]]></category>
		<category><![CDATA[joão goulart]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=875</guid>
				<description><![CDATA[<p>No dia 13 de março de 1964, o então presidente do Brasil João Goulart fez um comício no Rio de Janeiro para pedir apoio popular e apresentar Reformas de Base (agrária, bancária, fiscal, urbana, administrativa e universitária). A estratégia não deu certo. Menos de um mês depois, os militares deram um golpe e assumiram o [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/">Vai ter golpe? Historiadores comparam crise atual com a de 1964</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="aligncenter size-full wp-image-879" src="https://deuoquefalar.com/wp-content/uploads/2016/03/brasil-1964-ditadura-militar-pt-dilma-1.png" alt="brasil-1964-ditadura-militar-pt-dilma" width="615" height="470" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/brasil-1964-ditadura-militar-pt-dilma-1.png 615w, https://deuoquefalar.com/wp-content/uploads/2016/03/brasil-1964-ditadura-militar-pt-dilma-1-300x229.png 300w" sizes="(max-width: 615px) 100vw, 615px" /></p>
<p>No dia 13 de março de 1964, o então presidente do Brasil João Goulart fez um comício no Rio de Janeiro para pedir apoio popular e apresentar Reformas de Base (agrária, bancária, fiscal, urbana, administrativa e universitária). A estratégia não deu certo. Menos de um mês depois, os militares deram um golpe e assumiram o poder por 21 anos.</p>
<p>Exatamente 52 anos depois, milhares de brasileiros saem às ruas para pedir a saída da presidente Dilma Rousseff. Em meio à crise política e com a ameaça real do impeachment, defensores do governo comparam o período atual com o golpe de 1964.</p>
<p>Veja abaixo as semelhanças de cada época:<span id="more-875"></span></p>
<section class="list-items">
<header class="title font-color1">
<blockquote>
<h1>O que é parecido</h1>
</blockquote>
<div id="comentarios-teaser"></div>
</header>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Brasil em crise &#8211; 1964</h2>
<div class="description">João Goulart entrou no governo após renúncia de Jânio Quadros em 1961. Nos três anos de governo não conseguiu apoio parlamentar no Congresso Nacional. Como saída, buscava o apoio popular. Ao mesmo tempo, ele tentava agradar a direita realizando reformas ministeriais. Após anunciar as Reformas de Base, ele passou a se tornar uma &#8220;ameaça comunista&#8221; e o golpe foi questão de tempo.</div>
</div>
<div class="description"><img class="aligncenter size-medium wp-image-882" src="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-300x169.jpg" alt="repressao" width="300" height="169" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao.jpg 620w" sizes="(max-width: 300px) 100vw, 300px" /></div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Brasil em crise &#8211; 2016</h2>
<div class="description">O governo Dilma também vive uma crise política. Dilma tem problemas para aprovar projetos de interesse do governo no Congresso, tem índices de popularidade muito baixos e as operações da Polícia Federal têm desmoralizado seu governo. Como estratégia de governabilidade, oferece cargos a partidos e tenta buscar à militância de movimentos sociais. &#8220;Assim como no governo Jango, não há base alguma de governabilidade&#8221;, diz Nogueira.</div>
<div class="description"><img class="aligncenter size-medium wp-image-884" src="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-300x130.jpg" alt="repressao-dilma" width="300" height="130" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-300x130.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-768x334.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma-1024x445.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2016/03/repressao-dilma.jpg 1265w" sizes="(max-width: 300px) 100vw, 300px" /></div>
</div>
</article>
</section>
<section class="list-items">
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Economia ruim &#8211; 1964</h2>
<div class="description">O Brasil enfrentava a inflação. O índice chegava a cerca de 90%. &#8220;Economicamente, havia uma crise muito maior. Falava-se em carestia, nem era em inflação. A própria situação econômica do país acarretou a pressão pelo fim do governo de Jango&#8221;, diz Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Economia ruim &#8211; 2016</h2>
<div class="description">O Brasil também vive uma situação complicada em termos de economia. Apesar de não ser uma crise tão grande como a de 1964 (de acordo com a opinião de Barbosa), o país enfrenta aumento na inflação e queda no PIB.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>O povo vai às ruas &#8211; 1964</h2>
<div class="description">Antes do golpe, diversas manifestações de rua aconteceram no país. Uma das mais importantes foi a Marcha da Família com Deus pela Liberdade, ocorrida no dia 19 de março, em São Paulo. &#8220;Foi um movimento elitista. Havia uma elite política e militar envolvida com o golpe&#8221;, diz Nogueira. Além dessa marcha, aconteceram manifestações de apoio (como no anúncio das Reformas de Base) e oposição ao governo.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>O povo vai às ruas &#8211; 2016</h2>
<div class="description">O cenário atual também fez com que a população organizasse manifestações. Desde as jornadas de junho de 2013, há manifestações contra (como a de 15 de março do ano passado) e a favor do governo (como manifestações organizados por movimentos sociais). &#8220;Os dois governos eram fracos. Em 1964, tentou uma última cartada: ficar ao lado do povo. Hoje, é povo que é que contra o governo e sai às ruas&#8221;, diz Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Conservadorismo &#8211; 1964</h2>
<div class="description">Os protestos contra o governo Jango eram realizados por grupos que defendiam o combate à corrupção e a recuperação de valores morais e religiosos. O medo do comunismo era cada vez mais latente e os militares eram vistos como uma alternativa contra um &#8220;golpe comunista&#8221;.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Conservadorismo &#8211; 2016</h2>
<div class="description">No que se refere a uma onda conservadora, os historiadores discordam se ela toma conta da sociedade realmente. &#8220;Há um discurso moralizador em crescimento. Podemos comparar a bancada do Congresso do BBB (Boi, Bala e Bíblia) com a TFP (Tradição, Família e Propriedade), que organizou a Marcha da família&#8221;, diz Nogueira. Barbosa aponta que o discurso sobre o crescimento do moralismo é uma estratégia. &#8220;Eu vejo uma tentativa de quem está ao lado do governo de desqualificar conservadores&#8221;.</div>
</div>
</article>
</section>
<section class="list-items">
<header class="title font-color1">
<h1></h1>
<blockquote>
<h1>O que tem de diferente</h1>
</blockquote>
<div id="comentarios-teaser"></div>
</header>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Envolvimento internacional &#8211; 1964 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">O cenário internacional era muito diferente de hoje. No auge da Guerra Fria, EUA e URSS disputavam o controle político mundial. Neste sentido, o Brasil acabou se tornando estratégico para os americanos. &#8220;Anos depois do golpe, soube-se que os EUA tiveram participação direta&#8221;, diz Nogueira. &#8220;Havia um medo do comunismo e os militares se apoiaram nele para dar o golpe&#8221;, completa Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="titles noimg" title="">
<h2>Envolvimento internacional &#8211; 2016</h2>
</div>
<div class="description">Hoje, o comunismo quase não existe mais. E os EUA têm outras preocupações (como a questão do Oriente Médio) consideradas mais importantes do que quem fica no poder no Brasil. &#8220;Hoje ninguém está preocupado com o que acontece aqui&#8221;, diz Barbosa. &#8220;Hoje há, sim, uma polarização. Mas não se pode falar em discurso de direita e esquerda. O que sobrou disso foi uma reação elitista a projetos sociais de Lula e Dilma&#8221;, aponta Nogueira.</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Papel das Forças Armadas &#8211; 1964 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">As Forças Armadas eram vistas como a salvação do país por parte de quem apoiava o golpe. Dois motivos apontavam para a força política da instituição: a democracia frágil e o fato de os militares já terem ocupado o poder (no início da República). &#8220;Podemos dizer que eles já haviam dado um golpe antes. Por isso, tinham força. Hoje [já] não têm essas forças&#8221;, aponta Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Papel das Forças Armadas &#8211; 2016 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">Apesar de pequenos grupos defenderem a volta dos militares, a instituição não tem força política e apoio popular para dar outro golpe. &#8220;As Forças Armadas, hoje, têm um papel totalmente fora da política. Os generais falam que não vão agir contra o governo. Até porque o período militar desgastou a imagem deles&#8221;, aponta Nogueira.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Poder do Judiciário &#8211; 1964 <i class="pg-icon-right-arrow font-color1"></i></h2>
<div class="description">Em 1964, não era só o Executivo que estava enfraquecido. Quando o Golpe de 64 aconteceu, o Legislativo foi atropelado. &#8220;Em 1964, houve um golpe. Os militares foram contra a Constituição Federal&#8221;, aponta Nogueira. &#8220;Não se tinha uma noção real de democracia no país&#8221;, completa Barbosa.</div>
</div>
</article>
<article class="list-item c ">
<div class="h-opacity65 transition-025">
<h2>Poder do Judiciário &#8211; 2016</h2>
<div class="description">Nos dias atuais, o papel do Judiciário é outro. &#8220;Hoje, tenta-se tirar o governo pela via legal. E o Judiciário começou a ter um papel fortíssimo na política. É o STF que define os rumos do país&#8221;, aponta Nogueira. &#8220;Temos um Executivo fraco e um Legislativo [que funciona] pela Justiça. Aí, sobra o Judiciário, que simplesmente está agindo porque chegou a uma organização criminosa que está no poder. Isso sim é uma mostra que a nossa democracia evoluiu&#8221;, afirma.</div>
<div class="description"></div>
</div>
<div class="description">Fonte: UOL</div>
</article>
</section>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&amp;linkname=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&amp;linkname=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&amp;linkname=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964%2F&#038;title=Vai%20ter%20golpe%3F%20Historiadores%20comparam%20crise%20atual%20com%20a%20de%201964" data-a2a-url="https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/" data-a2a-title="Vai ter golpe? Historiadores comparam crise atual com a de 1964"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/vai-ter-golpe-historiadores-comparam-crise-atual-com-a-de-1964/">Vai ter golpe? Historiadores comparam crise atual com a de 1964</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
