<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: “Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”	</title>
	<atom:link href="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/</link>
	<description></description>
	<lastBuildDate>Tue, 17 Dec 2019 01:38:34 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
