<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Google encerra atividade do Orkut nesta terça-feira(30); Veja como fazer Backup de seus Scraps e Fotos	</title>
	<atom:link href="https://deuoquefalar.com/google-encerra-atividade-orkut-nesta-terca-feira30-veja-como-fazer-backup-de-seus-scraps-e-fotos/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/google-encerra-atividade-orkut-nesta-terca-feira30-veja-como-fazer-backup-de-seus-scraps-e-fotos/</link>
	<description></description>
	<lastBuildDate>Sat, 04 Apr 2015 17:22:13 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
