<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>facebook &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/facebook/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 09 Jun 2015 14:02:30 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Vírus se espalha pelo Facebook; saiba como eliminá-lo</title>
		<link>https://deuoquefalar.com/virus-se-espalha-pelo-facebook-saiba-como-elimina-lo/</link>
				<pubDate>Tue, 09 Jun 2015 13:57:00 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[facebook]]></category>
		<category><![CDATA[virus]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=722</guid>
				<description><![CDATA[<p>Um vírus causou problemas a usuários do Facebook nessa segunda. Chamado de Amazonaws, ele é um “sequestrador de navegadores”, que se espalha através de mensagens que pedem ajuda para denunciar publicações com apelo pornográfico. Quem recebeu notificações dizendo que um amigo “disse que estava com você e outras 19 pessoas” não deve clicar no link. [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/virus-se-espalha-pelo-facebook-saiba-como-elimina-lo/">Vírus se espalha pelo Facebook; saiba como eliminá-lo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook.jpg"><img class=" size-full wp-image-723 aligncenter" src="https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook.jpg" alt="virus-facebook" width="600" height="354" srcset="https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook.jpg 600w, https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook-300x177.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></a></p>
<p>Um vírus causou problemas a usuários do Facebook nessa segunda. Chamado de Amazonaws, ele é um “sequestrador de navegadores”, que se espalha através de mensagens que pedem ajuda para denunciar publicações com apelo pornográfico.</p>
<p>Quem recebeu notificações dizendo que um amigo “disse que estava com você e outras 19 pessoas” não deve clicar no link. A publicação parece trazer um vídeo de conotação pornográfica, que ao ser acessada faz com que o usuário compartilhe o vírus com outros amigos.</p>
<p>O vírus S3.amazonaws.com/addns/ pode ser transferido através de anexos de e-mails, sites comprometidos ou pelos posts danificados, e se aloca no computador como uma barra de ferramenta de busca.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook2.jpg"><img class="aligncenter size-full wp-image-724" src="https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook2.jpg" alt="virus-facebook2" width="600" height="354" srcset="https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook2.jpg 600w, https://deuoquefalar.com/wp-content/uploads/2015/06/virus-facebook2-300x177.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></a></p>
<p><strong>Saiba como removê-lo</strong></p>
<p><span id="more-722"></span>Um manual explica como o usuário deve proceder caso tenha clicado em alguma dessas postagens em uma das sessões do Facebook. O primeiro passo é ir até o campo “Configurações”, no canto superior da tela, e em seguida em “Aplicativos”. Se houver algum item suspeito, o usuário deve excluí-lo. Para isso, clique no “X” ao lado do aplicativo e na sequência em “Remover”. O usuário deve também acessar a opção “Registro de atividades”, no menu do canto superior direito da tela. Lá, exclua todas as publicações indesejadas.</p>
<p>No Google Chrome, vá em “Ferramentas” e em seguida em “Extensões”. No Firefox, acesse “Complementos”. Se você usa o Internet Explorer, clique em “Gerenciar Complementos” e depois na aba “barras de ferramentas e extensões”.</p>
<p>Outra opção para remover o vírus manualmente, é preciso abrir o navegador Firefox, clicar em Ajuda e selecionar Solução de Problemas. Depois, selecione a opção Redefenir Firefox. Após o término da operação, basta clicar em Fechar e o navegador irá iniciar.</p>
<p>O próximo passo é verificar se todos os itens da lista são de sua confiança. Caso algum deles não seja, ele deve ser excluído. Se a aba de extensões não se abrir, o vírus pode já ter tomado conta do navegador. O programa deve, então, ser reinstalado. Além dessas medidas, é recomendado também que o usuário troque a senha de acesso ao Facebook. <em>[Do Portal EBC]</em></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvirus-se-espalha-pelo-facebook-saiba-como-elimina-lo%2F&amp;linkname=V%C3%ADrus%20se%20espalha%20pelo%20Facebook%3B%20saiba%20como%20elimin%C3%A1-lo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvirus-se-espalha-pelo-facebook-saiba-como-elimina-lo%2F&amp;linkname=V%C3%ADrus%20se%20espalha%20pelo%20Facebook%3B%20saiba%20como%20elimin%C3%A1-lo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvirus-se-espalha-pelo-facebook-saiba-como-elimina-lo%2F&amp;linkname=V%C3%ADrus%20se%20espalha%20pelo%20Facebook%3B%20saiba%20como%20elimin%C3%A1-lo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvirus-se-espalha-pelo-facebook-saiba-como-elimina-lo%2F&#038;title=V%C3%ADrus%20se%20espalha%20pelo%20Facebook%3B%20saiba%20como%20elimin%C3%A1-lo" data-a2a-url="https://deuoquefalar.com/virus-se-espalha-pelo-facebook-saiba-como-elimina-lo/" data-a2a-title="Vírus se espalha pelo Facebook; saiba como eliminá-lo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/virus-se-espalha-pelo-facebook-saiba-como-elimina-lo/">Vírus se espalha pelo Facebook; saiba como eliminá-lo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
