<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>piscina &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/piscina/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 28 Mar 2016 17:55:06 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Garota de 5 anos salva mãe que se afogava em piscina</title>
		<link>https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/</link>
				<pubDate>Mon, 28 Mar 2016 17:55:06 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[afogar]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[piscina]]></category>
		<category><![CDATA[salvamento]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=859</guid>
				<description><![CDATA[<p>Uma garota de cinco anos está sendo chamada de &#8220;pequena heroína&#8221; após salvar sua mãe que se afogava na piscina da residência da família em Portland, no estado do Texas (EUA). Segundo a reportagem do Caller Time, Tracy Anderwald, de 34 anos, nadava na piscina com sua filha, Allison, quando sofreu uma convulsão repentina. Ao [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/">Garota de 5 anos salva mãe que se afogava em piscina</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="size-full wp-image-860 aligncenter" src="https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina.jpg" alt="garota-de-5-anos-salva-mae-que-se-afogava-em-piscina" width="600" height="360" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina.jpg 600w, https://deuoquefalar.com/wp-content/uploads/2016/03/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina-300x180.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></p>
<p>Uma garota de cinco anos está sendo chamada de &#8220;pequena heroína&#8221; após salvar sua mãe que se afogava na piscina da residência da família em Portland, no estado do Texas (EUA).</p>
<p>Segundo a reportagem do Caller Time, Tracy Anderwald, de 34 anos, nadava na piscina com sua filha, Allison, quando sofreu uma convulsão repentina. Ao invés de entrar em pânico, Allison pensou rápido: ela pulou na piscina e nadou com a mãe até a parte onde a água estava mais rasa.</p>
<p>&#8220;É incrível que ela sabia exatamente o que fazer&#8221;, disse a mãe após receber alta do hospital. Os motivos ainda não identificaram o motivo da convulsão, mas disseram que se ela ficasse apenas um minuto a mais debaixo da água teria sofrido danos cerebrais irreparáveis.</p>
<p>A tia de Allison disse que a garota já nada desde que tinha 2 anos e meio, e permaneceu calma durante todo o momento, até quando teve que explicar para sua mãe o que estava acontecendo.</p>
<div style="width: 648px;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-859-1" width="648" height="365" preload="metadata" controls="controls"><source type="video/mp4" src="https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4?_=1" /><a href="https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4">https://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4</a></video></div>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&amp;linkname=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fgarota-de-5-anos-salva-mae-que-se-afogava-em-piscina%2F&#038;title=Garota%20de%205%20anos%20salva%20m%C3%A3e%20que%20se%20afogava%20em%20piscina" data-a2a-url="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/" data-a2a-title="Garota de 5 anos salva mãe que se afogava em piscina"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/garota-de-5-anos-salva-mae-que-se-afogava-em-piscina/">Garota de 5 anos salva mãe que se afogava em piscina</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
							<enclosure url="http://deuoquefalar.com/wp-content/uploads/2016/03/1024x576_2878623981682668472.mp4" length="12840376" type="video/mp4" />
			</item>
	</channel>
</rss>
