<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>curiosidade &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/curiosidade/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 10 Jan 2017 03:12:54 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>NÍQUEL QUENTE vs ESPUMA FLORAL</title>
		<link>https://deuoquefalar.com/niquel-quente-vs-espuma-floral/</link>
				<pubDate>Tue, 10 Jan 2017 03:12:54 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[espuma]]></category>
		<category><![CDATA[maçarico]]></category>
		<category><![CDATA[niquel]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=905</guid>
				<description><![CDATA[<p>Você é capaz de descobrir o que acontece se juntar uma chapa de níquel quente e uma espuma floral? Ah então veja o vídeo e #descubra!</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/">NÍQUEL QUENTE vs ESPUMA FLORAL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Você é capaz de descobrir o que acontece se juntar uma chapa de níquel quente e uma espuma floral? Ah então veja o vídeo e #descubra!<br />
<iframe src="https://www.youtube.com/embed/tTKMXpYWv1k" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&amp;linkname=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fniquel-quente-vs-espuma-floral%2F&#038;title=N%C3%8DQUEL%20QUENTE%20vs%20ESPUMA%20FLORAL" data-a2a-url="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/" data-a2a-title="NÍQUEL QUENTE vs ESPUMA FLORAL"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/niquel-quente-vs-espuma-floral/">NÍQUEL QUENTE vs ESPUMA FLORAL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</title>
		<link>https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/</link>
				<pubDate>Tue, 03 Jan 2017 01:36:09 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[massarico]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=902</guid>
				<description><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Será que esse Ferro aquecido a mais de 800°C consegue atravessar um bloco de gelo?</p>
<p><iframe src="https://www.youtube.com/embed/3VF8Sd9GvfA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&amp;linkname=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fvoce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo%2F&#038;title=Voc%C3%AA%20n%C3%A3o%20vai%20acreditar%20o%20que%20esse%20ferro%20quente%20a%20800c%20faz%20com%20um%20bloco%20de%20gelo" data-a2a-url="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/" data-a2a-title="Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/voce-nao-vai-acreditar-o-que-esse-ferro-quente-a-800c-faz-com-um-bloco-de-gelo/">Você não vai acreditar o que esse ferro quente a 800c faz com um bloco de gelo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</title>
		<link>https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/</link>
				<pubDate>Sun, 08 Nov 2015 21:52:01 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[robin williams]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=803</guid>
				<description><![CDATA[<p>Saudades… No ano passado, quando Robin Williams se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,Susan Schneider, a esposa deRobin, explicou o que o levou a se matar. Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg"><img class="aligncenter size-large wp-image-818" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg" alt="robin_williams (1)" width="648" height="365" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-1024x576.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1-300x169.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin_williams-1.jpg 1280w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p><em><strong>Saudades…</strong></em></p>
<p>No ano passado, quando <strong>Robin Williams</strong> se suicidou, o mundo ficou um pouco mais triste e, claro, todos foram pegos de surpresa. Agora,<strong>Susan Schneider</strong>, a esposa de<strong>Robin</strong>, explicou o que o levou a se matar.<span id="more-803"></span></p>
<p>Em entrevista para a revista People, Susan disse que o ator decidiu tirar a própria vida por conta de uma doença chamada demência de corpos de Lewy, que é uma demência, como o próprio nome diz, e é muito similar a doença de Alzheimer.</p>
<p><img class="wp-image-817 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg" alt="robin-williams-doubtfire-daughter-reacts-suicide__oPt" width="307" height="191" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt.jpg 580w, https://deuoquefalar.com/wp-content/uploads/2015/11/robin-williams-doubtfire-daughter-reacts-suicide__oPt-300x186.jpg 300w" sizes="(max-width: 307px) 100vw, 307px" />“Não foi a depressão que matou Robin, esse era um dos 50 sintomas e um bem pequeno”, explicou Susan, que contou que a doença foi descoberta um ano antes da morte trágica do astro.</p>
<p>“Sei que os médicos estavam fazendo o certo e que a doença foi mais rápida que todos. Chegaríamos ao diagnóstico eventualmente”, desabafou, alegando que a descoberta desta doença demorou a acontecer, o que é muito comum nestes casos.</p>
<p>Agora, o objetivo de vida da viúva é ajudar outras pessoas que sofrem com a doença: “Passei o ano tentando entender quem matou Robin. Um dos médicos disse, ‘Robin sabia que estava perdendo seu conhecimento e que não podia fazer nada a respeito’. Foi um caso único e rezo para que isso traga os holofotes para essa doença e para as milhões de pessoas que morrem com ela, porque nós não sabíamos. Ele não sabia”.</p>
<p>&nbsp;</p>
<p><a href="https://youtu.be/HCdUubr70i8" target="_blank">É DIVULGADO O TRAILER DO ÚLTIMO FILME DE ROBIN WILLIAMS</a></p>
<p>&nbsp;</p>
<p><strong>Relembre abaixo alguns dos principais filmes de sua carreira:</strong></p>
<p><strong>Patch Ad<a href="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg"><img class="size-full wp-image-805 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/patch-adams-o-amor-e-contagioso.jpg" alt="patch-adams-o-amor-e-contagioso" width="119" height="160" /></a>ams &#8211; O Amor é Contagioso</strong></p>
<p>Em 1969, após tentar se suicidar, Hunter Adams (Robin Williams) voluntariamente se interna em um sanatório. Ao ajudar outros internos, descobre que deseja ser médico, para poder ajudar as pessoas. Deste modo, sai da instituição e entra na faculdade de medicina. Seus métodos poucos convencionais causam inicialmente espanto, mas aos poucos vai conqui&#8230;<br />
<iframe src="https://www.youtube.com/embed/q9YsMfAqZa4" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg"><img class="size-full wp-image-806 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-baba-quase-perfeita.jpg" alt="uma-baba-quase-perfeita" width="112" height="160" /></a><strong>Uma babá quase perfeita</strong></p>
<p>Daniel Hillard (Robin Williams) está passando por uma fase complicada, acaba de se separar de Miranda (Sally Field) e perdeu o seu emprego. Impedido pela ex-esposa de passar mais tempo com os filhos, ele tem uma idéia inusitada para recuperar a relação com as crianças. Daniel veste-se como uma senhora idosa escocesa e tenta conseguir o cargo de babá.<br />
<iframe src="https://www.youtube.com/embed/ykF07Sm5ifc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg"><img class="size-full wp-image-807 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/o-homem-bicentenario.jpg" alt="o-homem-bicentenario" width="104" height="160" /></a><strong>O Homem Bicentenário</strong></p>
<p>Em 2005, uma família americana compra um novo utensílio doméstico: o robô chamado Andrew (Robin Williams), para realizar tarefas domésticas simples. Entretanto, aos poucos o robô vai apresentando traços característicos do ser humano, como curiosidade, inteligência e personalidade própria. o início da saga de Andrew em busca de liberdade e de se tornar um ser humano.<br />
<iframe src="https://www.youtube.com/embed/28Djjt5OApI" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg"><img class="size-full wp-image-808 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jumanji.jpg" alt="jumanji" width="106" height="160" /></a><strong>Jumanji</strong></p>
<p>Em 1869, dois garotos apavorados enterram um baú e, cem anos depois, o filho de um empresário descobre que dentro dele há um jogo chamado Jumanji. Quando começa a jogar com uma amiga, ele logo é penalizado a ficar na floresta até que alguém tire cinco ou oito. Como na jogada seguinte ela é atacada por morcegos, em virtude de seu posicionamento no tabuleiro, o jogo é interrompido e ele imediatamente fica preso dentro de Jumanji. Mas, vinte e seis anos depois, duas crianças começam a jogar e uma acaba libertando-o.<br />
<iframe src="https://www.youtube.com/embed/VJyCANwTiDc" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg"><img class="wp-image-809 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg" alt="uma-noite-no-museu" width="106" height="156" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/11/uma-noite-no-museu-203x300.jpg 203w" sizes="(max-width: 106px) 100vw, 106px" /></a><strong>Uma Noite no Museu</strong></p>
<p>Larry Daley (Ben Stiller) é um homem de bom coração, que arranja um emprego como segurança noturno em um museu de história natural. Logo em seu 1º turno coisas estranhas começam a acontecer: esqueletos de dinossauros e estátuas de cera começam a ganhar vida. Em meio ao caos instalado no museu, a única pessoa que pode ajudá-lo é a estátua de cera de Theodore Roosevelt (Robin Williams), que, assim como os demais, também ganhou vida.<br />
<iframe src="https://www.youtube.com/embed/tt160gLbJOA" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg"><img class="size-full wp-image-810 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/jack.jpg" alt="jack" width="107" height="160" /></a><strong>Jack</strong></p>
<p>Fábula sobre garoto (Robin Williams) que sofre de rara doença, que o faz envelhecer quatro vezes mais rápido que o normal, transformando-o num menino em corpo de homem.<br />
<iframe src="https://www.youtube.com/embed/iHaFdSx26WM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg"><img class="size-full wp-image-811 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/genio-indomavel.jpg" alt="genio-indomavel" width="112" height="160" /></a><strong>Gênio Indomável</strong></p>
<p>Em Boston, um jovem de 20 anos (Matt Damon) que já teve algumas passagens pela polícia e servente de uma universidade, revela-se um gênio em matemática e, por determinação legal, precisa fazer terapia, mas nada funciona, pois ele debocha de todos os analistas, até se identificar com um deles.<br />
<iframe src="https://www.youtube.com/embed/LowuyZ3_B84" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg"><img class=" wp-image-815 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/flubber.jpeg" alt="flubber" width="105" height="161" /></a>Flubber &#8211; Uma Invenção Desmiolada</strong></p>
<p>Um brilhante mas distraído professor (Robin Williams) tenta aperfeiçoar uma substância que ele descobriu por acaso e que poderá ser uma nova fonte de energia. Se isto der certo ele consegue salvar o Medfield College, onde a paixão da sua vida é a diretora (Marcia Gay Harden). Ele já perdeu dois casamentos com ela e exatamente no dia que ele desenvolve este invento revolucionárioé o dia do terceiro casamento, sendo que sua noiva afirmou que se ele não aparecesse na cerimônia tudo estaria terminado. Mas a excitação de tal descoberta o faz esquecer de que existe um mundo do lado de fora do seu laboratório.<br />
<iframe src="https://www.youtube.com/embed/74whfeXZTrg" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>&nbsp;</p>
<p><strong><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg"><img class=" wp-image-814 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg" alt="aladdin" width="100" height="160" srcset="https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin.jpg 375w, https://deuoquefalar.com/wp-content/uploads/2015/11/aladdin-188x300.jpg 188w" sizes="(max-width: 100px) 100vw, 100px" /></a>Aladdin (Interpreta o Gênio da Lâmpada)</strong></p>
<p>Após o sultão ordenar que sua filha, a princesa Jasmine, ache um marido rapidamente, ela foge do palácio. Jasmine encontra um tipo meio malandro, Aladdin, que conquista seu coração. Porém ambos são achados pelos guardas de Jafar, o vizir do sultão. Jafar criou um feitiço para dominar o sultão, se casar com Jasmine e se tornar ele mesmo o sultão. Além disto finge que cometeu um engano e mandou decapitar Aladdin, que na verdade está vivo, pois Jafar precisa dele para conseguir uma lâmpada mágica, que é a morada de um poderoso gênio. Mas o plano de Jafar falha, pois Aladdin fica com a lâmpada graças a intervenção de um pequeno macaco, Abu, seu fiel mascote. Quando descobre que há na lâmpada um gênio poderoso, que pode se transformar em qualquer pessoa ou coisa e que lhe concederá três desejos, Aladdin planeja usá-los para conquistar Jasmine, sem imaginar que Jafar é um diabólico inimigo, que precisa ser detido.</p>
<p><iframe src="https://www.youtube.com/embed/jkdYkE1xgqQ" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg"><img class="size-full wp-image-812 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/tempo-de-despertar.jpg" alt="tempo-de-despertar" width="113" height="160" /></a><strong>Tempo de Despertar</strong></p>
<div class="margin_20b">
<p>Bronx, 1969. Malcolm Sayer (Robin Williams) é um neurologista que conseguiu emprego em um hospital psiquiátrico. Lá ele encontra vários pacientes que aparentemente estão catatônicos, mas Sayer sente que eles estão só &#8220;adormecidos&#8221; e que se forem medicados da maneira certa poderão ser despertados. Assim pesquisa bem o assunto e chega à conclusão de que a L-DOPA, uma nova droga que já estava sendo usada para pacientes com o Mal de Parkinson, deve ser o medicamento ideal para este casos. No entanto, ao levar o assunto para o diretor, ele autoriza que apenas um paciente seja submetido ao tratamento. Imediatamente Sayer escolhe Leonard Lowe (Robert De Niro), que há décadas estava &#8220;adormecido&#8221;. Gradualmente Lowe se recupera e isto encoraja Sayer em administrar L-DOPA nos outros pacientes, sob sua supervisão. Logo os pacientes mostram sinais de melhora e também mostram-se ansiosos em recuperar o tempo perdido. Mas, infelizmente, Lowe começa a apresentar estranhos e perigosos efeitos colaterais.</p>
</div>
<div class="margin_20b"><iframe src="https://www.youtube.com/embed/BnyC82rHwKM" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg"><img class="size-full wp-image-813 alignleft" src="https://deuoquefalar.com/wp-content/uploads/2015/11/hook-a-volta-do-capitao-gancho.jpg" alt="hook-a-volta-do-capitao-gancho" width="113" height="160" /></a><strong>Hook &#8211; A Volta Do Capitão Gancho</strong></p>
<p>Aos quarenta anos Peter Banning (Robin Williams), que um dia já foi Peter Pan, é um homem tão envolvido com o trabalho que deixou de dar atenção à família e esqueceu a sua origem. Mas o Capitão Gancho (Dustin Hoffman) seqüestra seus filhos, obrigando-o a retornar a Terra do Nunca.<br />
<iframe src="https://www.youtube.com/embed/XSKlkLF8POk" width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&amp;linkname=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fexclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator%2F&#038;title=Exclusivo%3A%20Esposa%20de%20Robin%20Williams%20revela%20o%20que%20causou%20o%20suic%C3%ADdio%20do%20ator" data-a2a-url="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/" data-a2a-title="Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/exclusivo-esposa-de-robin-williams-revela-o-que-causou-o-suicidio-do-ator/">Exclusivo: Esposa de Robin Williams revela o que causou o suicídio do ator</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Skate voador do &#8220;De Volta para o Futuro 2&#8221; vira realidade com novo projeto</title>
		<link>https://deuoquefalar.com/skate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto/</link>
				<pubDate>Wed, 22 Oct 2014 21:27:43 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=402</guid>
				<description><![CDATA[<p>&#160; Depois de uma pegadinha que deixou muita gente sem esperanças em março de 2014, parece que o famoso skate voador do filme “De Volta para o Futuro 2” vai realmente cruzar a fronteira da ficção e tornar-se um artigo verdadeiro do nosso mundo. Isso porque um novo projeto na plataforma de financiamento Kickstarter já [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/skate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto/">Skate voador do &#8220;De Volta para o Futuro 2&#8221; vira realidade com novo projeto</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/10/hendohoverboard_520.jpg"><img class="aligncenter size-full wp-image-403" alt="hendohoverboard_520" src="https://deuoquefalar.com/wp-content/uploads/2014/10/hendohoverboard_520.jpg" width="520" height="390" /></a></p>
<p>&nbsp;</p>
<p>Depois de uma pegadinha que deixou muita gente sem esperanças em março de 2014, parece que o famoso skate voador do filme “De Volta para o Futuro 2” vai realmente cruzar a fronteira da ficção e tornar-se um artigo verdadeiro do nosso mundo.</p>
<p>Isso porque um novo projeto na plataforma de financiamento Kickstarter já conseguiu arrecadar 245 mil dólares de um total necessário de 250 mil dólares para colocar o chamado Hendo Hoverboard em produção. E ainda faltam mais de 50 dias para o prazo acabar, então podemos esperar por muito mais dinheiro entrando – e algumas pessoas “voando” por aí.</p>
<p>Mas é claro que a maior parte dos mais de 1.200 apoiadores não conseguiram comprar o skate voador. Primeiro porque ele custa 10 mil dólares. E segundo que só foram liberadas 10 unidades, obviamente já esgotadas. Atualmente, o skate, que sobrevoa a 2,5 cm do solo, existe apenas como um protótipo.</p>
<p><strong>Funcionamento</strong></p>
<p>Vale notar que o skate criado pela empresa Hendo, fundada pelo casal Jill e Greg Henderson, funciona por meio de imãs. Para isso, o acessório usa o sistema proprietário Magnetic Field Architecture, que permite ao skate focar no campo magnético e aguentar o peso da pessoa em cima dele.</p>
<p>Isso significa que é preciso ter uma superfície de metal para o skate voar. Por isso, nada de fugir de vilões voando sobre o asfalto e a água, a exemplo do saudoso Marty McFly, protagonista da franquia De Volta para o Futuro, interpretado pelo ator Michael J. Fox.</p>
<p><a id="cea75" href="https://www.kickstarter.com/projects/142464853/hendo-hoverboards-worlds-first-real-hoverboard">Clique aqui </a>para saber mais sobre o projeto e ver quais tipos de doações ainda estão disponíveis. Tomara que o preço baixe um pouquinho no futuro para todos os geeks poderem realizar o som de ser Marty McFly por um dia.</p>
<p><iframe src="https://www.kickstarter.com/projects/142464853/hendo-hoverboards-worlds-first-real-hoverboard/widget/video.html" height="480" width="640" frameborder="0" scrolling="no"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fskate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto%2F&amp;linkname=Skate%20voador%20do%20%E2%80%9CDe%20Volta%20para%20o%20Futuro%202%E2%80%9D%20vira%20realidade%20com%20novo%20projeto" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fskate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto%2F&amp;linkname=Skate%20voador%20do%20%E2%80%9CDe%20Volta%20para%20o%20Futuro%202%E2%80%9D%20vira%20realidade%20com%20novo%20projeto" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fskate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto%2F&amp;linkname=Skate%20voador%20do%20%E2%80%9CDe%20Volta%20para%20o%20Futuro%202%E2%80%9D%20vira%20realidade%20com%20novo%20projeto" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fskate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto%2F&#038;title=Skate%20voador%20do%20%E2%80%9CDe%20Volta%20para%20o%20Futuro%202%E2%80%9D%20vira%20realidade%20com%20novo%20projeto" data-a2a-url="https://deuoquefalar.com/skate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto/" data-a2a-title="Skate voador do “De Volta para o Futuro 2” vira realidade com novo projeto"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/skate-voador-de-volta-para-o-futuro-2-vira-realidade-com-novo-projeto/">Skate voador do &#8220;De Volta para o Futuro 2&#8221; vira realidade com novo projeto</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Modificação transforma um cooler de computador em mesa de DJ</title>
		<link>https://deuoquefalar.com/modificacao-transforma-um-cooler-de-computador-em-mesa-de-dj/</link>
				<pubDate>Fri, 03 Oct 2014 18:04:10 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=375</guid>
				<description><![CDATA[<p>Esta talvez seja a picape de DJ mais barata já fabricada. Trata-se do invento do jovem Adrià Navarro, montado a partir de um antigo cooler, um tocador de fitas portátil, alguns LEDs e uma pequena caixa de papelão. A mesa controla o som da fita cassete, reproduzida pelo antigo tocador portátil. As músicas são remixadas pelo cooler, que foi [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/modificacao-transforma-um-cooler-de-computador-em-mesa-de-dj/">Modificação transforma um cooler de computador em mesa de DJ</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Esta talvez seja a <strong>picape de DJ </strong>mais barata já fabricada. Trata-se do invento do jovem Adrià Navarro, montado a partir de um antigo <em>cooler</em>, um tocador de fitas portátil, alguns LEDs e uma pequena caixa de papelão.</p>
<figure id="attachment_376" aria-describedby="caption-attachment-376" style="width: 620px" class="wp-caption alignnone"><a href="https://deuoquefalar.com/wp-content/uploads/2014/10/cooler-dj.png"><img class="size-full wp-image-376" alt="cooler-dj" src="https://deuoquefalar.com/wp-content/uploads/2014/10/cooler-dj.png" width="620" height="346" /></a><figcaption id="caption-attachment-376" class="wp-caption-text">Engenhoca imita uma mesa de DJ (Foto: Reprodução)</figcaption></figure>
<p><span id="more-375"></span>A mesa controla o som da fita cassete, reproduzida pelo antigo tocador portátil. As músicas são remixadas pelo<em> cooler</em>, que foi modificado e, por sua vez, é comandado por uma placa de Arduino simples, que está dentro da caixa de papelão. A placa consegue alterar a tensão quando o seu criador gira o centro do <em>cooler</em> e faz a fita passar pelo cabeçote com maior ou menor velocidade.</p>
<p>Como a construção foi feita tomando como base um simples circuito, não podemos contar com um<em>crossfader </em>para alternar entre músicas. E, claro, o sistema é capaz de reproduz apenas uma fita por vez. Veja a demonstração feita por Navarro no vídeo abaixo:</p>
<p><iframe src="//player.vimeo.com/video/30440339" height="281" width="500" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmodificacao-transforma-um-cooler-de-computador-em-mesa-de-dj%2F&amp;linkname=Modifica%C3%A7%C3%A3o%20transforma%20um%20cooler%20de%20computador%20em%20mesa%20de%20DJ" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmodificacao-transforma-um-cooler-de-computador-em-mesa-de-dj%2F&amp;linkname=Modifica%C3%A7%C3%A3o%20transforma%20um%20cooler%20de%20computador%20em%20mesa%20de%20DJ" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmodificacao-transforma-um-cooler-de-computador-em-mesa-de-dj%2F&amp;linkname=Modifica%C3%A7%C3%A3o%20transforma%20um%20cooler%20de%20computador%20em%20mesa%20de%20DJ" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fmodificacao-transforma-um-cooler-de-computador-em-mesa-de-dj%2F&#038;title=Modifica%C3%A7%C3%A3o%20transforma%20um%20cooler%20de%20computador%20em%20mesa%20de%20DJ" data-a2a-url="https://deuoquefalar.com/modificacao-transforma-um-cooler-de-computador-em-mesa-de-dj/" data-a2a-title="Modificação transforma um cooler de computador em mesa de DJ"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/modificacao-transforma-um-cooler-de-computador-em-mesa-de-dj/">Modificação transforma um cooler de computador em mesa de DJ</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Conheça o novo projeto de rede social do criador do Orkut</title>
		<link>https://deuoquefalar.com/conheca-o-novo-projeto-de-rede-social-criador-orkut/</link>
				<pubDate>Tue, 23 Sep 2014 19:02:39 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=297</guid>
				<description><![CDATA[<p>Você talvez não seja familiar com o sobrenome Buyukkokten, mas o primeiro nome certamente é conhecido: Orkut. Em 2004, ele cedeu seu nome a uma rede social que acabou se tornando a favorita dos brasileiros por muito tempo, mas depois sumiu do mapa. Recluso, nunca foi de falar sobre seus projetos, mas ele já está [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/conheca-o-novo-projeto-de-rede-social-criador-orkut/">Conheça o novo projeto de rede social do criador do Orkut</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="alignleft size-full wp-image-298" alt="Orkut-Buyukkokten.-photo" src="https://deuoquefalar.com/wp-content/uploads/2014/09/Orkut-Buyukkokten.-photo.jpeg" width="276" height="183" />Você talvez não seja familiar com o sobrenome <em>Buyukkokten</em>, mas o primeiro nome certamente é conhecido: Orkut. Em 2004, ele cedeu seu nome a uma rede social que acabou se tornando a favorita dos brasileiros por muito tempo, mas depois sumiu do mapa. Recluso, nunca foi de falar sobre seus projetos, mas ele já está em uma nova empreitada: a rede social <strong>Hello</strong>.</p>
<p>Em 2014, dez anos depois de criar a rede social homônima, Orkut fundou e se tornou CEO da Hello Network Inc., uma startup que tem como objetivo desenvolver uma nova página de relacionamentos que ainda não foi lançada oficialmente. Portanto, ainda não se sabe exatamente qual será o seu foco.<span id="more-297"></span></p>
<figure id="attachment_304" aria-describedby="caption-attachment-304" style="width: 200px" class="wp-caption alignleft"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/logo_hello.png"><img class="size-medium wp-image-304  " alt="logo_hello" src="https://deuoquefalar.com/wp-content/uploads/2014/09/logo_hello.png" width="200" height="200" /></a><figcaption id="caption-attachment-304" class="wp-caption-text">Logotipo da nova Rede Social Hello.com</figcaption></figure>
<p>A página oficial da empresa descreve a futura rede social como “uma comunidade única de usuários que celebram a amizade, imaginação, expressão e engajamento autêntico em um ambiente seguro”, o que não quer dizer muita coisa. A página também fala em encorajar os usuários a “se engajar em exploração social direcionada e compartilhamento de conteúdo com conexões fascinantes que se relacionam com partes diversas de sua personalidade”, o que também não diz muito.</p>
<p>De qualquer forma, ainda é uma startup dando seus primeiros passos. Ela foi fundada em março de 2014, de acordo com o perfil no LinkedIn de Orkut Buyukkokten, mesma época em que ele saiu do Google.</p>
<p>Ainda não se sabe se há investimento por trás da Hello, mas sabe-se que a conexão com o Google pode ter sido predominante para, pelo menos, conseguir o domínio <a href="https://hello.com" target="_blank">Hello.com</a>. Veja a foto do site Hello.com, quando pertencia ao Google, em 2007:</p>
<p style="text-align: center;"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/hello.png"><img class="size-medium wp-image-300 aligncenter" alt="hello google" src="https://deuoquefalar.com/wp-content/uploads/2014/09/hello-300x255.png" width="300" height="255" /></a></p>
<p>&nbsp;</p>
<p>O ex-empregador de Orkut tinha o controle do domínio usado para um serviço de compartilhamento de fotos desativado em 2008. Contudo, a empresa manteve a posse até o início do ano, quando ela foi transferida para John Murphy, outro cofundador da Hello Network, que ocupa o cargo de diretor de tecnologia.</p>
<p>Murphy, inclusive, é um ex-colega de Orkut no Google, tendo passado mais de uma década como engenheiro de software e gerente na empresa de buscas. Outro dos funcionários, Benjamin Douglass, também trabalhou no Google por muitos anos.</p>
<p>A empresa está funcionando na cidade de Palo Alto, no Vale do Silício, na Califórnia. A cidade já abrigou empresas do calibre de Google e Facebook agora recebe o novo projeto de Orkut Buyukkokten. Não se sabe até onde a rede social Hello pode chegar, mas ela está contratando. Se você tiver interesse na área, disponibilidade para trabalhar nos EUA e tiver um nível fluente de inglês, <a href="https://hello.com/jobs.html" target="_blank">vale a pena dar uma olhada neste link</a> para ter a chance de trabalhar sob o comando de Orkut, criador do Orkut.</p>
<p>Para se cadastrar no site e ser uma das primeiras pessoas a serem informadas quando o Hello entrará no ar, clique <a href="https://hello.com/about.html" target="_blank">aqui</a>.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconheca-o-novo-projeto-de-rede-social-criador-orkut%2F&amp;linkname=Conhe%C3%A7a%20o%20novo%20projeto%20de%20rede%20social%20do%20criador%20do%20Orkut" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconheca-o-novo-projeto-de-rede-social-criador-orkut%2F&amp;linkname=Conhe%C3%A7a%20o%20novo%20projeto%20de%20rede%20social%20do%20criador%20do%20Orkut" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fconheca-o-novo-projeto-de-rede-social-criador-orkut%2F&amp;linkname=Conhe%C3%A7a%20o%20novo%20projeto%20de%20rede%20social%20do%20criador%20do%20Orkut" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fconheca-o-novo-projeto-de-rede-social-criador-orkut%2F&#038;title=Conhe%C3%A7a%20o%20novo%20projeto%20de%20rede%20social%20do%20criador%20do%20Orkut" data-a2a-url="https://deuoquefalar.com/conheca-o-novo-projeto-de-rede-social-criador-orkut/" data-a2a-title="Conheça o novo projeto de rede social do criador do Orkut"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/conheca-o-novo-projeto-de-rede-social-criador-orkut/">Conheça o novo projeto de rede social do criador do Orkut</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos</title>
		<link>https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/</link>
				<pubDate>Mon, 22 Sep 2014 16:06:59 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[sealand]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=276</guid>
				<description><![CDATA[<p>Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria, além de uma briga internacional. Se fundar a própria nação já não era o bastante, ele se autodeclarou rei e ainda deu títulos de nobreza a toda a família. Localizada a cerca de 10 quilômetros [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/">Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<figure id="attachment_277" aria-describedby="caption-attachment-277" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80768.jpg"><img class="size-full wp-image-277" alt="centro-80768" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80768.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-277" class="wp-caption-text">Construída de aço e concreto, a antiga plataforma funcionou como uma base militar avançada da marinha inglesa durante a 2ª Guerra Mundial &#8211; Foto: Ryan Lackey</figcaption></figure>
<p>Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria, além de uma briga internacional. Se fundar a própria nação já não era o bastante, ele se autodeclarou rei e ainda deu títulos de nobreza a toda a família. Localizada a cerca de 10 quilômetros de distância da região de Suff Olk, na Inglaterra, a antiga plataforma militar fica no Oceano Atlântico e é considerada a menor nação do mundo.<span id="more-276"></span></p>
<p>Em 1966, o ex-combatente da 2ª Guerra Mundial decidiu fundar uma rádio pirata, mas o governo inglês passou a persegui-lo. Para fugir, Bates se mudou para uma antiga plataforma militar inglesa, porém foi desalojado. Contudo, o futuro rei de Sealand não desistiu e rumou para outra plataforma abandonada, mas desta vez em águas internacionais. O governo britânico tentou de novo expulsá-lo, mas neste caso a justiça do país deu ganho de causa a Bates.</p>
<p>Com a vitória nos tribunais, ele decidiu dar um passo maior e fundar seu próprio país dentro da base &#8220;Rough Towers&#8221;, em 1966. Após quase um ano da criação do Estado, em 2 de setembro de 1967, Bates convidou todos os amigos para uma festa em sua nova nação e os surpreendeu ao se autoproclamar Rei de Sealand. Ele também deu títulos de nobreza a sua esposa e filhos. No mesmo dia, o novo rei também apresentou a bandeira e o brasão oficial do país com o lema &#8220;E mare, libertas&#8221; (do mar, a liberdade, em português). Porém, um país soberano necessita de uma moeda própria, Constituição, além de passaportes. Em 1975, ele resolveu estes problemas e apresentou aos habitantes suas novas leis, documentos e moedas.</p>
<p>Até meados de 1978, Sealand era desconhecida do grande público, porém um golpe político colocou o país no noticiário internacional. Durante uma &#8220;visita oficial&#8221; da Família Real à Inglaterra, piratas holandeses e alemães tomaram o poder da ilha e fizeram o príncipe Michael, filho do monarca, de refém. Após negociações internacionais com diplomatas europeus, o príncipe foi libertado e a plataforma voltou a ser governada por Bates.</p>
<p><b>Turismo</b><br />
A economia do país gira em torno do turismo e da venda de títulos de nobreza. Para arrecadar dinheiro, Sealand vende aos habitantes de outras nações títulos de nobreza como Lord, Cavaleiro, Conde e até endereços de e-mail do país. Outra fatia importante do PIB de US$ 600 mil de Sealand vem dos turistas que chegam de helicóptero para conhecerem o país que fica numa antiga base militar inglesa. Os voos partem do sudeste da Inglaterra e tem duração de aproximadamente 30 minutos.</p>
<p><b>Sealand</b><br />
Construída de aço e concreto, a antiga plataforma funcionou como uma base militar avançada da marinha inglesa durante a 2ª Guerra Mundial, porém foi abandonada após o fim do conflito. Entre as justificativas do governo britânico para o abandono do local está a dificuldade de acesso a construção. Até os dias atuais este problema persiste, pois devido as fortes correntezas que existem na região é quase impossível desembarcar na plataforma de barco ou navio. A única forma segura de chegar a Sealand é de helicóptero.</p>
<p>O país que possui apenas 550 m² e cerca de 30 habitantes não é reconhecido oficialmente pela Organização das Nações Unidas (ONU), porém em sua página oficial afirma que a Alemanha e o Reino Unido o reconhecem. A afirmação é feita embasada no fato de ambos os países terem enviado diplomatas para solucionarem a crise de 1978 e com isso, reconheceram Sealand como uma nação soberana. O atual monarca do país é Michel Bates, filho do Rei Paddy Bates que faleceu em 9 de outubro de 2012, aos 91 anos.</p>
<p><b>Serviço</b><br />
<b>Principado de Sealand</b><br />
<b>Capital:</b> Cidade de Sealand<br />
<b>Governo:</b> Monarquia constitucional<br />
<b>Monarca:</b> Michael Bates<br />
<b>Moeda:</b> Dólar de Sealand (o valor é atrelado ao dólar norte-americano)</p>
<p><b>Confira fotos do menor país do mundo, o Principado de Sealand</b></p>
<figure id="attachment_278" aria-describedby="caption-attachment-278" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80769.jpg"><img class="size-full wp-image-278" alt="Localizada a cerca de 10 quilômetros de distância da região de Suff Olk, na Inglaterra, a antiga plataforma militar fica no Oceano Atlântico e é considerada a menor nação do mundo - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80769.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-278" class="wp-caption-text">Localizada a cerca de 10 quilômetros de distância da região de Suff Olk, na Inglaterra, a antiga plataforma militar fica no Oceano Atlântico e é considerada a menor nação do mundo &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_279" aria-describedby="caption-attachment-279" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80770.jpg"><img class="size-full wp-image-279" alt="O país que possui apenas 550 m² e cerca de 30 habitantes não é reconhecido oficialmente pela Organização das Nações Unidas (ONU) - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80770.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-279" class="wp-caption-text">O país que possui apenas 550 m² e cerca de 30 habitantes não é reconhecido oficialmente pela Organização das Nações Unidas (ONU) &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_280" aria-describedby="caption-attachment-280" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80771.jpg"><img class="size-full wp-image-280" alt="A economia do país gira em torno do turismo e da venda de títulos de nobreza - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80771.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-280" class="wp-caption-text">A economia do país gira em torno do turismo e da venda de títulos de nobreza &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_281" aria-describedby="caption-attachment-281" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80772.jpg"><img class="size-full wp-image-281" alt="Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80772.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-281" class="wp-caption-text">Quem nunca sonhou em ter o próprio país? O britânico Paddy Roy Bates resolveu o problema e criou sua pátria &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_282" aria-describedby="caption-attachment-282" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80773.jpg"><img class="size-full wp-image-282" alt="Vista interna da sala do DataCenter de Sealand - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80773.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-282" class="wp-caption-text">Vista interna da sala do DataCenter de Sealand &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_283" aria-describedby="caption-attachment-283" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80774.jpg"><img class="size-full wp-image-283" alt="Sealand é abastecida 100% com produtos importados - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80774.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-283" class="wp-caption-text">Sealand é abastecida 100% com produtos importados &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_284" aria-describedby="caption-attachment-284" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80775.jpg"><img class="size-full wp-image-284" alt="Até meados de 1978, Sealand era desconhecida do grande público, porém um golpe político colocou o país no noticiário internacional - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80775.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-284" class="wp-caption-text">Até meados de 1978, Sealand era desconhecida do grande público, porém um golpe político colocou o país no noticiário internacional &#8211; Foto: Ryan Lackey</figcaption></figure>
<figure id="attachment_285" aria-describedby="caption-attachment-285" style="width: 662px" class="wp-caption aligncenter"><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80776.jpg"><img class="size-full wp-image-285" alt="Em 1966, o ex-combatente da 2ª Guerra Mundial, Paddy Roy Bates, decidiu fundar uma rádio pirata, mas o governo inglês passou a persegui-lo. Ao final da história, ele criou o menor país do mundo - Foto: Ryan Lackey" src="https://deuoquefalar.com/wp-content/uploads/2014/09/centro-80776.jpg" width="662" height="496" /></a><figcaption id="caption-attachment-285" class="wp-caption-text">Em 1966, o ex-combatente da 2ª Guerra Mundial, Paddy Roy Bates, decidiu fundar uma rádio pirata, mas o governo inglês passou a persegui-lo. Ao final da história, ele criou o menor país do mundo &#8211; Foto: Ryan Lackey</figcaption></figure>
<p>&nbsp;</p>
<p><strong>Veja o vídeo</strong></p>
<p><iframe src="//www.youtube.com/embed/OhrzXYmxFdw" height="390" width="640" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&amp;linkname=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&amp;linkname=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&amp;linkname=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fantiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos%2F&#038;title=Antiga%20base%20militar%20inglesa%20se%20transforma%20em%20menor%20pa%C3%ADs%20do%20mundo%3B%20Veja%20fotos" data-a2a-url="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/" data-a2a-title="Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/antiga-base-militar-inglesa-se-transforma-em-menor-pais-mundo-veja-fotos/">Antiga base militar inglesa se transforma em menor país do mundo; Veja fotos</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Band-aid: Você usou da forma errada a vida toda</title>
		<link>https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/</link>
				<pubDate>Sun, 21 Sep 2014 23:39:11 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[band-aid]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=271</guid>
				<description><![CDATA[<p>Quando você corta um dedo ou se machuca, qual é a primeira coisa que você pensa ou ouve de alguém? “Coloca um Band-Aid”. Esse curativo é realmente uma mão na roda e é necessário tê-lo sempre por perto: na bolsa, na mochila, na malinha de primeiros socorros, pois nunca se sabe quando precisaremos recorrer a [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/">Band-aid: Você usou da forma errada a vida toda</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Quando você corta um dedo ou se machuca, qual é a primeira coisa que você pensa ou ouve de alguém? “Coloca um Band-Aid”. Esse curativo é realmente uma mão na roda e é necessário tê-lo sempre por perto: na bolsa, na mochila, na malinha de primeiros socorros, pois nunca se sabe quando precisaremos recorrer a eles.</p>
<p>Porém, agora você poderá conferir que nunca colocou o Band-Aid de forma correta. E aí você pergunta: “Como assim? Existe uma forma diferente de colocar o curativo?”. Sim, existe, e você vai conferir no vídeo abaixo que é perfeitamente possível que ele não caia com o movimento dos dedos e se encaixe perfeitamente, cobrindo todo o machucado. Veja o vídeo!<span id="more-271"></span></p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=gh1PTNnaykU&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/0282a07ba487d87cc1235e92a4c3db6c.jpg&#8221;]</p>
<p><!--<iframe src="//www.youtube.com/embed/gh1PTNnaykU" height="506" width="900" allowfullscreen="" frameborder="0"></iframe>--></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&amp;linkname=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&amp;linkname=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&amp;linkname=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fband-aid-voce-usou-da-forma-errada-vida-toda%2F&#038;title=Band-aid%3A%20Voc%C3%AA%20usou%20da%20forma%20errada%20a%20vida%20toda" data-a2a-url="https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/" data-a2a-title="Band-aid: Você usou da forma errada a vida toda"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/band-aid-voce-usou-da-forma-errada-vida-toda/">Band-aid: Você usou da forma errada a vida toda</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?</title>
		<link>https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/</link>
				<pubDate>Wed, 10 Sep 2014 01:50:02 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[curiosidade]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=254</guid>
				<description><![CDATA[<p>Pelo tanto que as pessoas e os meios de comunicação falaram sobre a Apple nos últimos dias – devido ao lançamento do iPhone 6 -, é possível que você tenha passado a prestar mais atenção nos produtos da marca. Mas nem precisa ser um grande observador para notar um detalhe em comum que os novos [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/">Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Pelo tanto que as pessoas e os meios de comunicação falaram sobre a Apple nos últimos dias – devido ao lançamento do iPhone 6 -, é possível que você tenha passado a prestar mais atenção nos produtos da marca. Mas nem precisa ser um grande observador para notar um detalhe em comum que os novos gadgets da empresa apresentam em suas imagens de divulgação: o misterioso horário 9:41.</p>
<p>Muita gente por aí logo aposta em numerologia e outras superstições relacionadas aos números. Mas, se tratando de uma companhia que tinha Steve Jobs como líder, é difícil acreditar que o marketing da marca tenha se orientado por esse lado, não é mesmo?</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-1.jpg"><span id="more-254"></span><img class="aligncenter size-large wp-image-255" alt="apple-1" src="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-1-850x1024.jpg" width="648" height="780" /></a></p>
<p>Pois para quem aposta em uma explicação mais lógica, nossos parabéns! Conforme explicou o pessoal da Apple, esse horário não se trata de uma coincidência e sim de um plano vem arquitetado. Isso porque, há 7 anos, quando Jobs apresentou o primeiro iPhone ao mundo; o evento aconteceu às 9h da manhã.</p>
<p>Assim, como as telas eram projetadas para revelar os produtos da apresentação cerca de 40 minutos depois do começo do evento e como as pessoas esperavam que o horário retratado nas imagens fosse coerente com o real, o “curioso” horário foi fixado nos produtos.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-2.jpg"><img class="aligncenter size-full wp-image-256" alt="apple-2" src="https://deuoquefalar.com/wp-content/uploads/2014/09/apple-2.jpg" width="800" height="373" /></a></p>
<p>Atualmente, no entanto, o horário funciona como uma homenagem a Jobs. Embora a primeira aparição do aparelho tenha sido exatamente às 9:42, apresentado por ele; nas apresentações posteriores, o relógio foi atrasado em um minuto e até hoje o horário 9:41 é usado em diversas apresentações da empresa.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&amp;linkname=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&amp;linkname=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&amp;linkname=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes%2F&#038;title=Por%20que%20a%20Apple%20sempre%20usa%20o%20misterioso%20hor%C3%A1rio%209%3A41%20em%20suas%20divulga%C3%A7%C3%B5es%3F" data-a2a-url="https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/" data-a2a-title="Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/por-que-apple-sempre-usa-o-misterioso-horario-941-em-suas-divulgacoes/">Por que a Apple sempre usa o misterioso horário 9:41 em suas divulgações?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Pegadinha do Cachorro Aranha</title>
		<link>https://deuoquefalar.com/pegadinha-cachorro-aranha/</link>
				<pubDate>Mon, 08 Sep 2014 13:29:17 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>
		<category><![CDATA[curiosidade]]></category>
		<category><![CDATA[humor]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=247</guid>
				<description><![CDATA[<p>Uma pegadinha com um cachorro fantasiado de aranha fez enorme sucesso nas redes sociais. Um vídeo produzido pela equipe do canal de humor polonês SA Wardega alcançou 7 milhões de visualizações em menos de dois dias, Veja o vídeo:</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/pegadinha-cachorro-aranha/">Pegadinha do Cachorro Aranha</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Uma pegadinha com um cachorro fantasiado de aranha fez enorme sucesso nas redes sociais.</p>
<p>Um vídeo produzido pela equipe do canal de humor polonês SA Wardega alcançou 7 milhões de visualizações em menos de dois dias, Veja o vídeo:</p>
<p><span id="more-247"></span><iframe src="//www.youtube.com/embed/YoB8t0B4jx4" height="441" width="634" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&amp;linkname=Pegadinha%20do%20Cachorro%20Aranha" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&amp;linkname=Pegadinha%20do%20Cachorro%20Aranha" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&amp;linkname=Pegadinha%20do%20Cachorro%20Aranha" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fpegadinha-cachorro-aranha%2F&#038;title=Pegadinha%20do%20Cachorro%20Aranha" data-a2a-url="https://deuoquefalar.com/pegadinha-cachorro-aranha/" data-a2a-title="Pegadinha do Cachorro Aranha"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/pegadinha-cachorro-aranha/">Pegadinha do Cachorro Aranha</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
