<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>curiosidades &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/curiosidades-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 16 Dec 2019 09:41:42 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>iPhone 6 tem seu primeiro Unbox revelado, confira!</title>
		<link>https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/</link>
				<pubDate>Sat, 06 Sep 2014 06:12:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidades]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=229</guid>
				<description><![CDATA[<p>O anúncio oficial da Apple está se aproximando e muitas das imagens já revelaram o visual do novo smartphone da empresa da Maçã (Veja as imagens AQUI), porém hoje trazemos um verdadeiro unboxing conceitual do iPhone 6 antes mesmo de ele ser lançado. Veja o vídeo: [wpvl source=&#8221;https://www.youtube.com/watch?v=ZBVG6qywbCc&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/9266a893576261627b182b542d531d92.jpg&#8221;]  UPDATE: Veja o teste de resistência da tela [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/">iPhone 6 tem seu primeiro Unbox revelado, confira!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>O anúncio oficial da Apple está se aproximando e muitas das imagens já revelaram o visual do novo smartphone da empresa da Maçã (Veja as imagens <strong><a title="Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!" href="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/" target="_blank">AQUI</a></strong>), porém hoje trazemos um verdadeiro unboxing conceitual do iPhone 6 antes mesmo de ele ser lançado.</p>
<p><span id="more-229"></span>Veja o vídeo:</p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=ZBVG6qywbCc&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/9266a893576261627b182b542d531d92.jpg&#8221;]</p>
<h2><strong> UPDATE:</strong></h2>
<p>Veja o teste de resistência da tela do novo iPhone no vídeo abaixo:</p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=eGxlm82hWDM&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/65716495d596d6791de0737819d790cc.jpg&#8221;]</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&amp;linkname=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&amp;linkname=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&amp;linkname=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&#038;title=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" data-a2a-url="https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/" data-a2a-title="iPhone 6 tem seu primeiro Unbox revelado, confira!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/">iPhone 6 tem seu primeiro Unbox revelado, confira!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>A COREIA DO NORTE TEM O EXERCITO MAIS NINJA DO MUNDO! NÃO ACREDITA? ENTÃO VEJA ESSE VIDEO DE TREINAMENTO DOS CARAS!</title>
		<link>https://deuoquefalar.com/coreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras/</link>
				<pubDate>Fri, 15 Aug 2014 12:30:53 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[coreia do norte]]></category>
		<category><![CDATA[curiosidades]]></category>
		<category><![CDATA[exército]]></category>
		<category><![CDATA[video]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=114</guid>
				<description><![CDATA[<p>Depois de ver esse video de treinamento do exercito da Coreia do Norte eu fiquei com medo dos caras! Eles já tinham um líder meio doido, mas agora fiquei sabendo que o exercito também é todo maluco. Veja alguns dos exercícios de treinamento dos caras! Alguns dos exercícios são coisa que você só vê em [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/coreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras/">A COREIA DO NORTE TEM O EXERCITO MAIS NINJA DO MUNDO! NÃO ACREDITA? ENTÃO VEJA ESSE VIDEO DE TREINAMENTO DOS CARAS!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Depois de ver esse video de treinamento do exercito da Coreia do Norte eu fiquei com medo dos caras!</p>
<p>Eles já tinham um líder meio doido, mas agora fiquei sabendo que o exercito também é todo maluco.</p>
<p>Veja alguns dos exercícios de treinamento dos caras! Alguns dos exercícios são coisa que você só vê em filme!</p>
<p>Um exercito de elite, sem dúvida ao nível dos Navy Seals ou dos Rangers nos Estados Unidos, ou das Forças Especiais Israelitas.</p>
<p>O que você achou desse video? Não achou incrível?</p>
<p><span id="more-114"></span></p>


<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Exercito Coreano, tudo Ninja" width="648" height="486" src="https://www.youtube.com/embed/4tiRNrfpNT8?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcoreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras%2F&amp;linkname=A%20COREIA%20DO%20NORTE%20TEM%20O%20EXERCITO%20MAIS%20NINJA%20DO%20MUNDO%21%20N%C3%83O%20ACREDITA%3F%20ENT%C3%83O%20VEJA%20ESSE%20VIDEO%20DE%20TREINAMENTO%20DOS%20CARAS%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcoreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras%2F&amp;linkname=A%20COREIA%20DO%20NORTE%20TEM%20O%20EXERCITO%20MAIS%20NINJA%20DO%20MUNDO%21%20N%C3%83O%20ACREDITA%3F%20ENT%C3%83O%20VEJA%20ESSE%20VIDEO%20DE%20TREINAMENTO%20DOS%20CARAS%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcoreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras%2F&amp;linkname=A%20COREIA%20DO%20NORTE%20TEM%20O%20EXERCITO%20MAIS%20NINJA%20DO%20MUNDO%21%20N%C3%83O%20ACREDITA%3F%20ENT%C3%83O%20VEJA%20ESSE%20VIDEO%20DE%20TREINAMENTO%20DOS%20CARAS%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcoreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras%2F&#038;title=A%20COREIA%20DO%20NORTE%20TEM%20O%20EXERCITO%20MAIS%20NINJA%20DO%20MUNDO%21%20N%C3%83O%20ACREDITA%3F%20ENT%C3%83O%20VEJA%20ESSE%20VIDEO%20DE%20TREINAMENTO%20DOS%20CARAS%21" data-a2a-url="https://deuoquefalar.com/coreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras/" data-a2a-title="A COREIA DO NORTE TEM O EXERCITO MAIS NINJA DO MUNDO! NÃO ACREDITA? ENTÃO VEJA ESSE VIDEO DE TREINAMENTO DOS CARAS!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/coreia-norte-tem-o-exercito-mais-ninja-mundo-nao-acredita-entao-veja-esse-video-de-treinamento-dos-caras/">A COREIA DO NORTE TEM O EXERCITO MAIS NINJA DO MUNDO! NÃO ACREDITA? ENTÃO VEJA ESSE VIDEO DE TREINAMENTO DOS CARAS!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
