<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 17 Dec 2019 01:38:34 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”</title>
		<link>https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/</link>
				<pubDate>Tue, 17 Dec 2019 01:38:02 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=1000</guid>
				<description><![CDATA[<p>Na letra N: naja é cobra? Na letra D: dinossauro é animal? Dourado é cor? Na letra J: jipe é carro? PERGUNTA&#160;Fernando Mardini, São Paulo, SP GELO É COR? Depende do seu critério. A empresa Pantone, principal referência mundial para cores, oferece em seu catálogo 11 variações diferentes da&#160;cor&#160;gelo, como “gelo&#160;ártico”, “gelo&#160;azul”&#160;e&#160;simplesmente “gelo“. Porém, se [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/">“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/gelo-cor-thumb.png" alt="" class="wp-image-1001" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/gelo-cor-thumb.png 680w, https://deuoquefalar.com/wp-content/uploads/2019/12/gelo-cor-thumb-300x200.png 300w" sizes="(max-width: 680px) 100vw, 680px" /></figure>



<p><em>Na letra N: naja é cobra? Na letra D: dinossauro é animal? Dourado é cor? Na letra J: jipe é carro?</em></p>



<span id="more-1000"></span>



<p><strong>PERGUNTA</strong>&nbsp;Fernando Mardini, São Paulo, SP</p>



<p><strong>GELO É COR?</strong></p>



<p>Depende do seu critério. A empresa Pantone, principal referência mundial para cores, oferece em seu catálogo 11 variações diferentes da&nbsp;cor&nbsp;gelo, como “gelo&nbsp;ártico”, “gelo&nbsp;azul”&nbsp;e&nbsp;simplesmente “gelo“. Porém, se a sua preocupação se refere ao jogo de stop (também conhecido como “adedanha” ou “adedonha” em algumas regiões do Brasil), fique sabendo que aceitar a escala Pantone como referência vai deixar o desafio bem mais fácil. Esse catálogo contém quase 2 mil cores diferentes, com nomes como “gloxínia”, “pérola escurecida”&nbsp;e&nbsp;“fúcsia festival”. Isso sem falar nas cores presentes nos catálogos de tintas ou de esmaltes. Vai ficar fácil todo mundo ganhar 10 pontos nessa categoria!</p>



<p><strong>NAJA É ANIMAL?</strong></p>



<p>Como é difícil achar um bicho com a letra N! Nos critérios da classificação científica, o que chamamos de “cobra” (<em>Elapidae</em>)&nbsp;é&nbsp;uma família de animais. Já o que chamamos de naja&nbsp;é&nbsp;um gênero (ou seja, um subgrupo dentro da família “cobra”).&nbsp;É&nbsp;um animal, sim. Porém, se gêneros, espécies ou raças de animais forem aceitáveis no jogo, ninguém poderá reclamar se responderem “poodle” na letra P, por exemplo.</p>



<p><strong>DRAGÃO É ANIMAL?</strong></p>



<p>Os dragões aparecem em diferentes mitologias, mas sua existência segue reservada aos contos de fadas, filmes, desenhos&nbsp;e&nbsp;<em>Game of Thrones</em>, claro. Na Eslovênia, o proteus (<em>Proteus anguinus</em>) costumava ser chamado de “filhote de dragão”, mas não passa de uma salamandra. Para garantir esse ponto na letra D, vá numa opção que realmente existe: o dragão-de-komodo (<em>Varanus komodoensis</em>), que, na verdade,&nbsp;é&nbsp;um lagarto.</p>



<p><strong>DINOSSAURO É ANIMAL?<br></strong></p>



<p>Outra resposta comum quando é sorteada a letra D. Sim, os dinossauros faziam parte do reino animal. Mas o termo designa um conjunto de bichos – mais especificamente, todos que faziam parte do clado&nbsp;<em>Dinosauria</em>. Portanto, ele&nbsp;é&nbsp;mais um critério de classificação do que o nome específico de um animal. Responder “dinossauro” na letra D seria quase como responder “mamífero” na letra M. Você acha que vale? (Se você quiser ser mais específico, responda “diplodoco” – que também era um dinossauro).</p>



<p><strong>DOURADO É COR?<br></strong>Se recorrermos novamente à escala Pantone, a resposta&nbsp;é&nbsp;sim.&nbsp;E&nbsp;dá até para todos os jogadores fazerem 10 pontos com respostas únicas: o catálogo da empresa inclui 45 tons diferentes, como o “dourado amarelado”, o “dourado verde”&nbsp;e&nbsp;o “dourado marrom”. A versão regular da&nbsp;cor&nbsp;é&nbsp;constituída pela mistura de 20% de magenta (vermelho), 60% de amarelo&nbsp;e&nbsp;20% de preto.</p>



<p><strong>PAREDE É OBJETO?</strong></p>



<p>Para responder a essa pergunta, precisamos buscar a definição de objeto no dicionário: “Toda coisa material que pode ser percebida pelos sentidos”. Ok, uma parede se encaixa nessa definição, mas praticamente qualquer coisa passaria por esse critério. Se conseguimos enxergar as estrelas, então “estrela” também&nbsp;é&nbsp;um “objeto”. Aliás, até seres vivos seriam objetos! Você poderia repetir as mesmas respostas das categorias “Animal” e “Fruta”, por exemplo.</p>



<p><strong>JIPE É CARRO?</strong></p>



<p>A palavra&nbsp;é&nbsp;um aportuguesamento de Jeep, fabricante norte-americana que ficou famosa pelos automóveis com tração nas quatro rodas, geralmente com fins militares ou rurais.&nbsp;É&nbsp;um caso de marca que virou sinônimo do produto, como “gilete” virou sinônimo de lâmina de barbear e “bombril” virou equivalente a palha de aço. Porém, trata-se de uma montadora, então, se Jeep for aceito, também vale responder Fiat, Chevrolet, Hyundai…</p>



<p><strong>BANDIDO É PROFISSÃO?</strong></p>



<p>Uma profissão pode ser definida como uma ocupação ou atividade remunerada que presta um serviço à comunidade. Bandidos não têm remuneração fixa, não prestam serviço&nbsp;e&nbsp;não são reconhecidos como profissionais por nenhuma instituição ligada ao setor, como o Ministério do Trabalho ou a Justiça do Trabalho. Se cair a letra B, esqueça essa opção.</p>



<p><strong>TOMATE É FRUTA?</strong></p>



<p>Depende. “Fruta”&nbsp;é&nbsp;uma classificação comercial, em geral reservada a alimentos adocicados. Porém, na botânica existe o termo “fruto”: o ovário amadurecido de uma planta, onde ficam as sementes.&nbsp;E, sob esse critério, tomate certamente&nbsp;é&nbsp;um fruto. Se os jogadores concordarem que “fruta”&nbsp;e“fruto” são a mesma coisa, outros legumes, como abobrinha, pepino&nbsp;e&nbsp;pimentão, também serão respostas válidas.</p>



<p><strong>FONTES</strong>&nbsp;Sites&nbsp;<em>BBC</em>,&nbsp;<em>Pantone</em>&nbsp;e&nbsp;<em>Mundo Educação</em>; livros&nbsp;<em>Serpentes da Bahia&nbsp;e&nbsp;do Brasil</em>, de Marco Antonio de Freitas,&nbsp;e&nbsp;<em>Fósseis de Vertebrados&nbsp;e&nbsp;Plantas no Período dos Dinossauros da Região do Triângulo Mineiro</em>, de Carlos Roberto A. Candeiro&nbsp;e&nbsp;Leonardo S. Avilla</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&amp;linkname=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&amp;linkname=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&amp;linkname=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fgelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop%2F&#038;title=%E2%80%9CGelo%20%C3%A9%20cor%3F%E2%80%9D%20e%20a%20solu%C3%A7%C3%A3o%20para%20outras%208%20tretas%20do%20jogo%20%E2%80%9Cstop%E2%80%9D" data-a2a-url="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/" data-a2a-title="“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/gelo-e-cor-e-a-solucao-para-outras-8-tretas-do-jogo-stop/">“Gelo é cor?” e a solução para outras 8 tretas do jogo “stop”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”</title>
		<link>https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/</link>
				<pubDate>Mon, 16 Dec 2019 09:32:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=989</guid>
				<description><![CDATA[<p>Como noticiamos há algumas semanas, o trailer de Um Lugar Silencioso 2 seria divulgado em breve, e o momento finalmente chegou. A primeira prévia do filme está sendo exibida em algumas sessões dos Estados Unidos e alguém conseguiu gravar e disponibilizar na internet. Assista: O filme é a continuação de Um Lugar Silencioso, lançado no inicio de 2018 [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/">SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/screen-shot-2019-06-14-at-14-34-17.png" alt="" class="wp-image-990" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/screen-shot-2019-06-14-at-14-34-17.png 739w, https://deuoquefalar.com/wp-content/uploads/2019/12/screen-shot-2019-06-14-at-14-34-17-300x175.png 300w" sizes="(max-width: 739px) 100vw, 739px" /></figure>



<p>Como noticiamos há algumas semanas, o trailer de <strong>Um Lugar Silencioso 2 </strong>seria divulgado em breve, e o momento finalmente chegou. A primeira prévia do filme está sendo exibida em algumas sessões dos Estados Unidos e alguém conseguiu gravar e disponibilizar na internet. Assista:</p>



<span id="more-989"></span>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="A Quiet Place 2 Teaser" width="648" height="365" src="https://www.youtube.com/embed/U6zG_g0I684?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> O filme é a continuação de <strong>Um Lugar Silencioso</strong>, lançado no inicio de 2018 e indicado a um Oscar. <strong>Emily Blunt</strong> retorna como protagonista, e o filme será lançado em março de 2020. </p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&amp;linkname=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&amp;linkname=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&amp;linkname=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2%2F&#038;title=SAIU%21%20Assista%20ao%20primeiro%20teaser%20de%20%E2%80%9CUm%20Lugar%20Silencioso%202%E2%80%9D" data-a2a-url="https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/" data-a2a-title="SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiu-assista-ao-primeiro-teaser-de-um-lugar-silencioso-2/">SAIU! Assista ao primeiro teaser de “Um Lugar Silencioso 2”</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Mãe desabafa após filha voltar com bolo inteiro porque ninguém quis comer</title>
		<link>https://deuoquefalar.com/mae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer/</link>
				<pubDate>Thu, 12 Dec 2019 14:44:53 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=929</guid>
				<description><![CDATA[<p>Nesta semana, uma história muito triste começou a viralizar através das redes sociais, já que comoveu diversos internautas. Uma criança acabou voltando da escola onde estuda com seu bolo inteiro porque nenhum dos alunos quis nem ao menos provar o doce. Tudo aconteceu quando Marcya Souza, mãe da garotinha, que não teve o nome revelado [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/mae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer/">Mãe desabafa após filha voltar com bolo inteiro porque ninguém quis comer</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image"><img src="https://www.1news.com.br/wp-content/uploads/2019/12/160440201912115df13dc86e7a3.png" alt=""/></figure>



<p> Nesta semana, uma história muito triste começou a viralizar através das redes sociais, já que comoveu diversos internautas. Uma criança acabou voltando da escola onde estuda com seu bolo inteiro porque nenhum dos alunos quis nem ao menos provar o doce. </p>



<span id="more-929"></span>



<p> Tudo aconteceu quando Marcya Souza, mãe da garotinha, que não teve o nome revelado na história, fez um bolo simples para que a filha pudesse levar para a confraternização de final de ano da escola, na qual outros alunos também deveriam levar a iguaria. </p>



<p> Mas infelizmente quem estava na festa sequer pegou um pedaço do bolo da filha de Marcya para provar. O fato deixou a menina muito triste, tendo que ser consolada por sua mãe depois de voltar para casa. A única pessoa que comeu do bolo foi a própria menina, que se sentiu magoada com toda a situação. </p>



<p> A história da garotinha foi trazida a publico por sua mãe, que escreveu uma publicação em seu perfil do Facebook: “<em>Voltou triste pk ninguém quis comer apenas ela comeu uma fatia<br>. Nas palavras dela só quiseram os outros mais bonito recheado e decorado. Aí á ensinei q na vida é assim as vezes damos o melhor ou o q podemos e vai ter quem n goste</em>“, relatou Marcya. </p>



<p>Marcya disse ainda que tentou consolar a filha chamando-a para tomar café com ela. A menina, por ainda não entender bem o que havia se passado, logo voltou a sorrir em meio aos mimos da mãe.</p>



<p>A publicação da mulher rapidamente se tornou viral e comoveu internautas. O caso aconteceu na última sexta-feira (06/12) e desde então vem gerando repercussão na web.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer%2F&amp;linkname=M%C3%A3e%20desabafa%20ap%C3%B3s%20filha%20voltar%20com%20bolo%20inteiro%20porque%20ningu%C3%A9m%20quis%20comer" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer%2F&amp;linkname=M%C3%A3e%20desabafa%20ap%C3%B3s%20filha%20voltar%20com%20bolo%20inteiro%20porque%20ningu%C3%A9m%20quis%20comer" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fmae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer%2F&amp;linkname=M%C3%A3e%20desabafa%20ap%C3%B3s%20filha%20voltar%20com%20bolo%20inteiro%20porque%20ningu%C3%A9m%20quis%20comer" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fmae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer%2F&#038;title=M%C3%A3e%20desabafa%20ap%C3%B3s%20filha%20voltar%20com%20bolo%20inteiro%20porque%20ningu%C3%A9m%20quis%20comer" data-a2a-url="https://deuoquefalar.com/mae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer/" data-a2a-title="Mãe desabafa após filha voltar com bolo inteiro porque ninguém quis comer"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/mae-desabafa-apos-filha-voltar-com-bolo-inteiro-porque-ninguem-quis-comer/">Mãe desabafa após filha voltar com bolo inteiro porque ninguém quis comer</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>HOMEM PINGA VINAGRE E ÁLCOOL NO OUVIDO E FAZ DESCOBERTA INCRÍVEL</title>
		<link>https://deuoquefalar.com/homem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel/</link>
				<pubDate>Wed, 25 Nov 2015 00:55:10 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=836</guid>
				<description><![CDATA[<p>Aquela cera que temos no nosso ouvido, é ou não é importante? Bom segundo os especialistas na área, elas são sim muito importantes pois agem como um camada de proteção para os ouvidos, mas tem quem não goste da presença dela e prefere limpar os ouvidos com cotonetes, se você é uma dessas pessoas saiba [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/homem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel/">HOMEM PINGA VINAGRE E ÁLCOOL NO OUVIDO E FAZ DESCOBERTA INCRÍVEL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Aquela cera que temos no nosso ouvido, é ou não é importante? Bom segundo os especialistas na área, elas são sim muito importantes pois agem como um camada de proteção para os ouvidos, mas tem quem não goste da presença dela e prefere limpar os ouvidos com cotonetes, se você é uma dessas pessoas saiba que isso não está ajudando em nada, ao usar um cotonete para penetrar na cavidade do ouvido ele acaba empurrando mais ainda a cera pra dentro do ouvido e não cumpre sua função que seria limpar o ouvido com a retirada da cera de dentro da cavidade.</p>
<p>Mas não fique triste, aqui vai uma dica super útil para você que quer ter um ouvido limpo, assim como os atletas de praticam natação fazem com frequência por sempre ter água entrando em seus ouvidos, pegue o álcool e misture com vinagre com a mesma quantidade, 60 ml já é o suficiente, acompanhe o processo no vídeo abaixo:<span id="more-836"></span></p>
<p><iframe src="https://www.youtube.com/embed/WQu8nY3CXIw" width="806" height="795" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fhomem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel%2F&amp;linkname=HOMEM%20PINGA%20VINAGRE%20E%20%C3%81LCOOL%20NO%20OUVIDO%20E%20FAZ%20DESCOBERTA%20INCR%C3%8DVEL" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fhomem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel%2F&amp;linkname=HOMEM%20PINGA%20VINAGRE%20E%20%C3%81LCOOL%20NO%20OUVIDO%20E%20FAZ%20DESCOBERTA%20INCR%C3%8DVEL" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fhomem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel%2F&amp;linkname=HOMEM%20PINGA%20VINAGRE%20E%20%C3%81LCOOL%20NO%20OUVIDO%20E%20FAZ%20DESCOBERTA%20INCR%C3%8DVEL" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fhomem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel%2F&#038;title=HOMEM%20PINGA%20VINAGRE%20E%20%C3%81LCOOL%20NO%20OUVIDO%20E%20FAZ%20DESCOBERTA%20INCR%C3%8DVEL" data-a2a-url="https://deuoquefalar.com/homem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel/" data-a2a-title="HOMEM PINGA VINAGRE E ÁLCOOL NO OUVIDO E FAZ DESCOBERTA INCRÍVEL"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/homem-pinga-vinagre-e-alcool-no-ouvido-e-faz-descoberta-incrivel/">HOMEM PINGA VINAGRE E ÁLCOOL NO OUVIDO E FAZ DESCOBERTA INCRÍVEL</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Exclusivo: iPhone 6S Revelado!</title>
		<link>https://deuoquefalar.com/iphone-6s-revelado/</link>
				<pubDate>Tue, 11 Aug 2015 05:20:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone 6S]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=758</guid>
				<description><![CDATA[<p>&#160; Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple. Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo: &#160; Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg"><img class="aligncenter size-full wp-image-783" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg" alt="iPhone-6S-Mini" width="770" height="418" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini.jpg 770w, https://deuoquefalar.com/wp-content/uploads/2015/08/iPhone-6S-Mini-300x163.jpg 300w" sizes="(max-width: 770px) 100vw, 770px" /></a></p>
<p>&nbsp;</p>
<p>Novas informações exclusivas acabaram de chegar, sobre o sucessor do iPhone 6 que deverá ser apresentado no próximo mês pela Apple.</p>
<p>Dentre as melhorias que foram feitas, destaca-se o aperfeiçoamento de tela, carcaça, touch, câmera, entre outros aspectos técnicos. Veja abaixo:</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg"><img class="aligncenter size-large wp-image-764" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg" alt="iphone-6s3" width="648" height="432" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-1024x682.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3-300x200.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone-6s3.jpg 1600w" sizes="(max-width: 648px) 100vw, 648px" /></a><span id="more-758"></span></p>
<p>Sobre a carcaça, notam-se algumas diferenças do modelo anterior como o tamanho do corpo metálico mais resistente para corrigir o famigerado &#8216;bendgate&#8217;, ou aquele leve problema que foi amplamente reportado que fazia com que os iPhones 6 simplesmente entortassem nos bolsos dos usuários.</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg"><img class="aligncenter wp-image-763 size-large" src="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg" alt="iphone6s-2" width="648" height="585" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-1024x925.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2-300x271.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2015/08/iphone6s-2.jpg 1300w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p>Nesta imagem, a parte frontal do iPhone 6S aparenta ser idêntica à parte da frente do Iphone 6.</p>
<p>Além do corpo metálico, é possível notar uma leve mudança na tela de 4,7 polegadas, que indicam algumas mudanças:</p>
<p><iframe src="https://www.youtube.com/embed/bSMUGGu7l-4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Uma comparação detalhada no vídeo confirma que comparando a traseira do iPhone 6 a do iPhone 6s, a do iPhone 6s é 0,2 milímetro mais grossa.</p>
<p>As áreas ao redor do botão home e os botões de volume também são notavelmente mais espessa, como a Apple também adicionou reforço à região para tratar de questões &#8220;Bendgate&#8221; .</p>
<p>Embora a capa traseira do iPhone 6s seja mais grossa e ter  um material extra em áreas mais frágeis, é dois gramas mais leve que o modelo anterior, pesando 25 gramas em comparação com 27 gramas para o iPhone 6.</p>
<p><iframe src="https://www.youtube.com/embed/GdAGoCGRqUk" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg"><img class="aligncenter wp-image-761 size-full" src="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg" alt="tela-iphone-6s" width="625" height="459" srcset="https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s.jpg 625w, https://deuoquefalar.com/wp-content/uploads/2015/08/tela-iphone-6s-300x220.jpg 300w" sizes="(max-width: 625px) 100vw, 625px" /></a></p>
<p>O módulo está completo, incluindo o vidro protetor, que ainda não usa o material de safira, e o LCD. Nota-se uma camada que não está presente nos iPhones atuais, provavelmente servindo para fazer o Force Touch funcionar. Tal tecnologia foi implementada no Apple Watch e no lançamento mais atual na família de Macbooks, possibilitando a diferenciação das pressões exercidas na superfície pelos dedos do usuário, oferecendo funções adicionais e inteligentes ao iOS. A soma da camada, visando embutir a funcionalidade ao futuro gadget, pode encarecer a fabricação de cada unidade, entretanto, o valor final cobrado ao cliente não deve ser diferente.</p>
<p>Agora, ao invés de dois conectores horizontais, há um horizontal e outro na vertical, além de uma saída reta na ligação entre a carcaça e o leitor de impressões digitais, conhecido como Touch ID nos celulares com a maçã estampada em suas estruturas.</p>
<p>São alterações técnicas que podem facilitar o entrosamento das partes internas, porém o resultado das mudanças não foi comentado pela fonte. Finalizando, tanto o painel do iPhone 6s quanto o do iPhone 6parecem ter exatamente a mesma espessura, eliminando, teoricamente, a possibilidade da carcaça do novo aparelho ser mais espessa em relação ao antigo.</p>
<p>&nbsp;</p>
<h2>Sobre algumas melhorias prometidas no Iphone 6S:</h2>
<h3>Force Touch (Touch-screen)</h3>
<p>Cogita-se que a sensibilidade do touch-screen será melhorada da mesma forma como foi introduzido no Apple Watch, onde é capaz de distinguir entre um leve toque e a força da pressão do toque, permitindo vários novos gestos.</p>
<h3>Melhorias de câmera</h3>
<p>Espera que seja lançada uma câmera sob a forma de um possível sistema de duas lentes, que permitiria oferecer imagens de qualidade DSLR no seu iPhone e com 12 megapixels e com a capacidade de gravar vídeos em 4K, mas outros rumores têm discordado de que a Apple planeja introduzir um sistema de duas lentes, e manteria o mesmo sensor de 8 megapixels encontrado em iPhones anteriores.</p>
<h3>Melhorias &#8220;Fingerprint&#8221; (ID-Touch)</h3>
<p>Segundo o analista KGI Securities Ming-Chi Kuo, o iPhone 6s contará com um módulo de toque de ID atualizado com erros de leitura reduzidas para melhorar a experiência da Apple Pay.</p>
<h3>Provável Tela de Safira</h3>
<p>Há rumores indicando que haverá uma boa tela de safira produzidos pela Foxconn para a próxima geração do iPhone, outrora quem diga que não se concretizou, devido a problemas de produção.</p>
<h3>Tela de 4 Polegadas</h3>
<p>Houve rumores conflitantes relativos ao aditamento de um novo iPhone 6S de 4 polegadas a da Apple 2015. Vários rumores vindo de fabricantes da Ásia sugerem que haverá uma nova tela projetada de 4 polegadas do iPhone 6S, mas outras fontes têm apontado esses rumores como incorretos.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&amp;linkname=Exclusivo%3A%20iPhone%206S%20Revelado%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6s-revelado%2F&#038;title=Exclusivo%3A%20iPhone%206S%20Revelado%21" data-a2a-url="https://deuoquefalar.com/iphone-6s-revelado/" data-a2a-title="Exclusivo: iPhone 6S Revelado!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6s-revelado/">Exclusivo: iPhone 6S Revelado!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>CUIDADO! Golpe em aeroportos pode estragar sua viagem</title>
		<link>https://deuoquefalar.com/cuidado-golpe-em-aeroportos-pode-estragar-sua-viagem/</link>
				<pubDate>Wed, 01 Jul 2015 12:20:38 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=743</guid>
				<description><![CDATA[<p>Depois de tanto auê com a Copa do Mundo, muita coisa “melhorou”, como aeroportos e a segurança dentro deles. Mas uma prática vem assustando todo o planeta, com uma caneta comum é possível abrir QUALQUER bagagem com zíper. Veja no vídeo. E dessa vez não adianta gastar milhares de Obamas ou Dilmas, essa modalidade de furto [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/cuidado-golpe-em-aeroportos-pode-estragar-sua-viagem/">CUIDADO! Golpe em aeroportos pode estragar sua viagem</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Depois de tanto <em>auê</em> com a Copa do Mundo, muita coisa “melhorou”, como aeroportos e a segurança dentro deles. Mas uma prática vem assustando todo o planeta, com uma caneta comum é possível abrir QUALQUER bagagem com zíper. Veja no vídeo.<span id="more-743"></span></p>
<p><iframe src="https://www.youtube.com/embed/mf-DGKUNffI" width="634" height="390" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>E dessa vez não adianta gastar milhares de Obamas ou Dilmas, essa modalidade de furto é muito simples e não deixa rastros, pois depois de violar o zíper, basta fechá-lo normalmente, ninguém percebe nada. Até abrir a mala.</p>
<p><a href="https://sossolteiros.virgula.uol.com.br/wp-content/uploads/2014/07/cadeado3.jpg"><img class="alignleft" src="https://sossolteiros.virgula.uol.com.br/wp-content/uploads/2014/07/cadeado3.jpg" alt="cadeado3" width="187" height="187" /></a>Utilizar malas que não tem zíper ou envolver em sacos de lona bem grossa (como os militares) e fechar com cadeados, para garantir que não sejam violados.</p>
<p>Também pode, como indicado pelo leitor Carlos Marques, comprar uma bagagem com uma trava fixa para zíper e cadeado, imagem a esquerda. E outra ideia mais radical seria NUNCA DESPACHAR A BAGAGEM.</p>
<p>Não estamos incentivando tal prática, antes que <del>algum mala</del> alguém fale isso. Esse post serve como um alerta. Aproveita e compartilha com seus amigos.</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcuidado-golpe-em-aeroportos-pode-estragar-sua-viagem%2F&amp;linkname=CUIDADO%21%20Golpe%20em%20aeroportos%20pode%20estragar%20sua%20viagem" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcuidado-golpe-em-aeroportos-pode-estragar-sua-viagem%2F&amp;linkname=CUIDADO%21%20Golpe%20em%20aeroportos%20pode%20estragar%20sua%20viagem" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcuidado-golpe-em-aeroportos-pode-estragar-sua-viagem%2F&amp;linkname=CUIDADO%21%20Golpe%20em%20aeroportos%20pode%20estragar%20sua%20viagem" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcuidado-golpe-em-aeroportos-pode-estragar-sua-viagem%2F&#038;title=CUIDADO%21%20Golpe%20em%20aeroportos%20pode%20estragar%20sua%20viagem" data-a2a-url="https://deuoquefalar.com/cuidado-golpe-em-aeroportos-pode-estragar-sua-viagem/" data-a2a-title="CUIDADO! Golpe em aeroportos pode estragar sua viagem"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/cuidado-golpe-em-aeroportos-pode-estragar-sua-viagem/">CUIDADO! Golpe em aeroportos pode estragar sua viagem</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Cena exclusiva do Homem-Aranha após crédito do filme Vingadores</title>
		<link>https://deuoquefalar.com/cena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores/</link>
				<pubDate>Fri, 24 Apr 2015 01:53:06 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=702</guid>
				<description><![CDATA[<p>A Marvel não divulgou os cinemas que estão exibindo a cena após crédito, mas conseguimos com exclusividade mostrar a primeira aparição do Homem-Aranha do filme Vingadores 2. E aí, alguém já conseguiu ver essa cena em algum cinema?</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/cena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores/">Cena exclusiva do Homem-Aranha após crédito do filme Vingadores</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/homem_aranha_vingadores1.png"><img class="alignnone size-large wp-image-705" src="https://deuoquefalar.com/wp-content/uploads/2015/04/homem_aranha_vingadores1.png" alt="homem_aranha_vingadores" width="648" height="335" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/homem_aranha_vingadores1.png 839w, https://deuoquefalar.com/wp-content/uploads/2015/04/homem_aranha_vingadores1-300x155.png 300w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>
<p>A Marvel não divulgou os cinemas que estão exibindo a cena após crédito, mas conseguimos com exclusividade mostrar a primeira aparição do Homem-Aranha do filme Vingadores 2.</p>
<p>E aí, alguém já conseguiu ver essa cena em algum cinema?<span id="more-702"></span></p>
<p><div style="width: 640px;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-702-1" width="640" height="360" preload="metadata" controls="controls"><source type="video/mp4" src="https://deuoquefalar.com/wp-content/uploads/2015/04/cena_secreta_homem_aranha_os_vingadores.mp4?_=1" /><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/cena_secreta_homem_aranha_os_vingadores.mp4">https://deuoquefalar.com/wp-content/uploads/2015/04/cena_secreta_homem_aranha_os_vingadores.mp4</a></video></div></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores%2F&amp;linkname=Cena%20exclusiva%20do%20Homem-Aranha%20ap%C3%B3s%20cr%C3%A9dito%20do%20filme%20Vingadores" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores%2F&amp;linkname=Cena%20exclusiva%20do%20Homem-Aranha%20ap%C3%B3s%20cr%C3%A9dito%20do%20filme%20Vingadores" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores%2F&amp;linkname=Cena%20exclusiva%20do%20Homem-Aranha%20ap%C3%B3s%20cr%C3%A9dito%20do%20filme%20Vingadores" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores%2F&#038;title=Cena%20exclusiva%20do%20Homem-Aranha%20ap%C3%B3s%20cr%C3%A9dito%20do%20filme%20Vingadores" data-a2a-url="https://deuoquefalar.com/cena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores/" data-a2a-title="Cena exclusiva do Homem-Aranha após crédito do filme Vingadores"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/cena-exclusiva-do-homem-aranha-apos-credito-do-filme-vingadores/">Cena exclusiva do Homem-Aranha após crédito do filme Vingadores</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
							<enclosure url="http://deuoquefalar.com/wp-content/uploads/2015/04/cena_secreta_homem_aranha_os_vingadores.mp4" length="1955928" type="video/mp4" />
			</item>
		<item>
		<title>Um Novo Animalzinho Chega Em Casa &#8230; A Reação Do Gato Vai Fazer Você Morrer De Rir</title>
		<link>https://deuoquefalar.com/um-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir/</link>
				<pubDate>Sun, 05 Apr 2015 16:14:27 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=618</guid>
				<description><![CDATA[<p>Adoramos ver as reações de nossos gatos diante de uma novidade. Neste caso, por exemplo, um novo inquilino chegou em casa, e a reação do gato é hilária. Enquanto o réptil está tranquilo e indiferente, o gato não para quieto.</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/um-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir/">Um Novo Animalzinho Chega Em Casa &#8230; A Reação Do Gato Vai Fazer Você Morrer De Rir</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Adoramos ver as reações de nossos gatos diante de uma novidade. Neste caso, por exemplo, um novo inquilino chegou em casa, e a reação do gato é hilária. Enquanto o réptil está tranquilo e indiferente, o gato não para quieto.</p>
<p><iframe width="728" height="440" src="https://www.youtube.com/embed/ek8-LqTQOZA" frameborder="0" allowfullscreen></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fum-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir%2F&amp;linkname=Um%20Novo%20Animalzinho%20Chega%20Em%20Casa%20%E2%80%A6%20A%20Rea%C3%A7%C3%A3o%20Do%20Gato%20Vai%20Fazer%20Voc%C3%AA%20Morrer%20De%20Rir" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fum-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir%2F&amp;linkname=Um%20Novo%20Animalzinho%20Chega%20Em%20Casa%20%E2%80%A6%20A%20Rea%C3%A7%C3%A3o%20Do%20Gato%20Vai%20Fazer%20Voc%C3%AA%20Morrer%20De%20Rir" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fum-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir%2F&amp;linkname=Um%20Novo%20Animalzinho%20Chega%20Em%20Casa%20%E2%80%A6%20A%20Rea%C3%A7%C3%A3o%20Do%20Gato%20Vai%20Fazer%20Voc%C3%AA%20Morrer%20De%20Rir" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fum-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir%2F&#038;title=Um%20Novo%20Animalzinho%20Chega%20Em%20Casa%20%E2%80%A6%20A%20Rea%C3%A7%C3%A3o%20Do%20Gato%20Vai%20Fazer%20Voc%C3%AA%20Morrer%20De%20Rir" data-a2a-url="https://deuoquefalar.com/um-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir/" data-a2a-title="Um Novo Animalzinho Chega Em Casa … A Reação Do Gato Vai Fazer Você Morrer De Rir"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/um-novo-animalzinho-chega-em-casa-a-reacao-do-gato-vai-fazer-voce-morrer-de-rir/">Um Novo Animalzinho Chega Em Casa &#8230; A Reação Do Gato Vai Fazer Você Morrer De Rir</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Se a Dilma sofrer um impeachment quem seria o novo presidente do Brasil?</title>
		<link>https://deuoquefalar.com/se-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil/</link>
				<pubDate>Sun, 15 Mar 2015 17:47:38 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Notícia]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=495</guid>
				<description><![CDATA[<p>&#160; Quem substituiria a presidente Dilma no caso de um impeachment? A resposta é clara! Nossos leitores tem enviado inúmeros emails perguntando como funciona um impeachment, e perguntando se nesse caso o Aécio seria o novo presidente do Brasil. A resposta é um pouco complexa, primeiro vamos entender o que é um impeachment ou impugnação de [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/se-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil/">Se a Dilma sofrer um impeachment quem seria o novo presidente do Brasil?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/03/139-620x360.jpg"><img class="aligncenter size-full wp-image-496" alt="139-620x360" src="https://deuoquefalar.com/wp-content/uploads/2015/03/139-620x360.jpg" width="620" height="360" /></a></p>
<p>&nbsp;</p>
<p><strong>Quem substituiria a presidente Dilma no caso de um impeachment? A resposta é clara!</strong></p>
<p>Nossos leitores tem enviado inúmeros emails perguntando como funciona um impeachment, e perguntando se nesse caso o Aécio seria o novo presidente do Brasil.<span id="more-495"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/03/137.jpg"><img class="aligncenter size-full wp-image-503" alt="137" src="https://deuoquefalar.com/wp-content/uploads/2015/03/137.jpg" width="450" height="338" /></a></p>
<p>A resposta é um pouco complexa, primeiro vamos entender o que é um impeachment ou impugnação de mandato, é um termo que denomina o processo de cassação de mandato do chefe do poder executivo pelo congresso nacional, pelas assembleias estaduais ou pelas câmaras municipais. A denúncia válida pode ser por crime comum, crime de responsabilidade, abuso de poder, desrespeito às normas constitucionais ou violação de direitos pétreos previstos na constituição.</p>
<p>&nbsp;</p>
<p><strong>1- A caracterização do crime:</strong> São crime de responsabilidade os atos do presidente da República que atentem contra a Constituição &#8211; que lista especificamente oito itens. No caso de Dilma, os itens V e VI parecem mais significativos. Eles tratam, respectivamente, da probidade na administração e do respeito à lei. O pedido de <em>impeachment</em> pode ser apresentado ao Congresso por qualquer cidadão brasileiro.</p>
<p>&nbsp;</p>
<p><strong>2 &#8211; A admissão do pedido:</strong> É aqui que a maior parte dos pedidos acaba arquivada. Foram mais de 10 desde 2011. Se cumprir os requisitos mínimos (como a apresentação de provas e a listagem de testemunhas), o requerimento vai ser analisado por uma composição composta por integrantes de todas as bancadas da Câmara. Em até dez dias, a comissão precisa emitir um parecer favorável ou contrário à continuidade do processo. Abre-se prazo de 20 dias para o presidente se defender. Para prosseguir, o pedido precisa ser colocado em votação pelo presidente da Câmara e aceito por dois terços ou mais dos deputados (342 de 513). Caso o presidente da República seja acusado de um crime comum, o Supremo Tribunal Federal se encarregará de julgá-lo. Se a acusação for de crime de responsabilidade, o julgamento será feito pelo Senado. O presidente fica automaticamente afastado do cargo quando o processo for iniciado em uma dessas duas esferas. O prazo do afastamento é de seis meses.</p>
<p>&nbsp;</p>
<p><strong>3 &#8211; A hora decisiva:</strong> No caso de crime de responsabilidade, o presidente é julgado no plenário do Senado. A sessão se assemelha a um julgamento comum, com o direito à defesa do réu, a palavra da comissão acusadora e a possibilidade de depoimento de testemunhas. É preciso que dois terços dos senadores (54 de 81) votem pelo impeachment para que o mandato do presidente seja cassado. Também depende deles o tempo de inelegibilidade que será aplicado como punição (até o limite de cinco anos).</p>
<p>&nbsp;</p>
<p><strong>4 &#8211; Cumpra-se:</strong> Se absolvido, o presidente reassume automaticamente o cargo. Se condenado, ele será imediatamente destituído, mesmo antes da publicação da decisão no <em>Diário Oficial</em>.</p>
<p>&nbsp;</p>
<p><strong>5 &#8211; Novo presidente:</strong> Em caso de <em>impeachment</em>, o vice-presidente é empossado. Se ele também tiver sido cassado, o presidente da Câmara assume o cargo interinamente. Caso a vacância ocorra nos dois primeiros anos do mandato, o Congresso convocará uma nova eleição direta em noventa dias. Se o<em>impeachment</em> do presidente e do vice acontecer na segunda metade do mandato, o Congresso elegerá o novo presidente em um prazo de trinta dias.</p>
<p>&nbsp;</p>
<p><strong>6 &#8211; A opção extra:</strong> Há ainda outra possibilidade legal além do impeachment, essa restrita à Justiça Eleitoral: se o TSE comprovar, por exemplo, que Dilma praticou abuso do poder econômico ou empregou a máquina pública para se eleger em 2014, ela e Temer perderiam o cargo e &#8211; apenas nesse caso &#8211; Aécio Neves, que ficou em segundo lugar no pleito do ano passado, seria empossado presidente, com Aloysio Nunes Ferreira na vice. É uma situação semelhante à que aconteceu, por exemplo, em 2009 no governo do Maranhão: Jackson Lago (PDT) foi punido pela Justiça e passou o posto à segunda colocada, Roseana Sarney (PMDB).</p>
<p>&nbsp;</p>
<p><img class="aligncenter size-full wp-image-497" alt="138-600x383" src="https://deuoquefalar.com/wp-content/uploads/2015/03/138-600x383.jpg" width="600" height="383" /></p>
<p>Portanto em caso de um impeachment o novo presidente do Brasil seria Michel Temer, caso ele não possa, viria o presidente da Câmara dos Deputados, depois o presidente do Senado Federal e por último o presidente do Supremo Tribunal Federal.</p>
<p>A situação só muda se o vice-presidente também for alvo do impeachment. Nesse caso, se o titular e o vice forem afastados na primeira metade do mandato, é convocada uma nova eleição.</p>
<p>Se o afastamento dos dois ocorrer na segunda metade do mandato, o novo mandatário é escolhido pelo Poder Legislativo.</p>
<p>&nbsp;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fse-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil%2F&amp;linkname=Se%20a%20Dilma%20sofrer%20um%20impeachment%20quem%20seria%20o%20novo%20presidente%20do%20Brasil%3F" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fse-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil%2F&amp;linkname=Se%20a%20Dilma%20sofrer%20um%20impeachment%20quem%20seria%20o%20novo%20presidente%20do%20Brasil%3F" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fse-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil%2F&amp;linkname=Se%20a%20Dilma%20sofrer%20um%20impeachment%20quem%20seria%20o%20novo%20presidente%20do%20Brasil%3F" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fse-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil%2F&#038;title=Se%20a%20Dilma%20sofrer%20um%20impeachment%20quem%20seria%20o%20novo%20presidente%20do%20Brasil%3F" data-a2a-url="https://deuoquefalar.com/se-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil/" data-a2a-title="Se a Dilma sofrer um impeachment quem seria o novo presidente do Brasil?"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/se-dilma-sofrer-um-impeachment-quem-seria-o-novo-presidente-brasil/">Se a Dilma sofrer um impeachment quem seria o novo presidente do Brasil?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Branco ou azul? Entenda as razões de as pessoas enxergarem de maneira diferente cor de vestido que bombou na web</title>
		<link>https://deuoquefalar.com/branco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web/</link>
				<pubDate>Sat, 28 Feb 2015 05:21:05 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=458</guid>
				<description><![CDATA[<p>Esta peça foi o assunto mais comentado na internet na noite da quinta-feira (26/02). Tudo começou quando uma internauta postou em seu Tumblr uma foto da peça perguntando se a vestimenta era branca ou azul. Foi o suficiente para desencadear uma enxurrada de postagens nas redes sociais, mensagens de celular e criação de memes. Apesar [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/branco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web/">Branco ou azul? Entenda as razões de as pessoas enxergarem de maneira diferente cor de vestido que bombou na web</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/02/20150227105720945685e.jpg"><img class="aligncenter size-full wp-image-455" alt="20150227105720945685e" src="https://deuoquefalar.com/wp-content/uploads/2015/02/20150227105720945685e.jpg" width="475" height="475" /></a></p>
<p>Esta peça foi o assunto mais comentado na internet na noite da quinta-feira (26/02). Tudo começou quando uma internauta postou em seu Tumblr uma foto da peça perguntando se a vestimenta era branca ou azul. Foi o suficiente para desencadear uma enxurrada de postagens nas redes sociais, mensagens de celular e criação de memes. Apesar de existir uma resposta, não se trata de enxergar de forma correta ou errada. Há uma série de explicações para enxergar o vestido de duas formas distintas, mas nenhuma triunfa sobre as outras.</p>
<p><strong>Luminosidade</strong><br />
Especialistas dizem se tratar de um fenômeno conhecido como ilusão de luminosidade. A luz entra nos nossos olhos através de diferentes comprimentos de onda. Nossa visão é adaptada para enxergar com luz natural e não se baseia apenas em luminosidade, do contrário não seriamos capazes de diferenciar imagens brancas mal iluminadas de imagens negras muito iluminadas. E o ser humano passa a compensar a luminosidade da luz solar, de acordo com as variações do dia, como durante a manhã, ao entardecer e em outros momentos. Com isso, há pessoas que compensam o lado azul, enxergando o vestido como branco e dourado, e outros que compensam o lado dourado, vendo a peça como azul e preta. O fundo da imagem faz o papel de luz solar, na foto do vestido, criando a confusão. Diferentes cores no fundo podem criar diferentes imagens da peça.<br />
<strong>Subjetividade</strong></p>
<p>Mas a questão é mais complicada. Os fatores que nosso cérebro utiliza para compor as cores são subjetivos e podem causar diferenças no que se enxerga. Pontos como contexto, similaridade, memórias anteriores e iluminação são levados em conta pelo olho humano. A imagem do vestido é uma foto superexposta, o que contribui para criar essa confusão. Ao se ajustar a exposição em um programa de edição de imagens, podemos ver o vestido em sua cor natural. E de acordo com toda essa explicação científica, o vestido é azul e preto. O debate chegou, inclusive, até as celebridades, que não deixaram de se manifestar sobre o fato.<span id="more-458"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/02/20150227104008923792i.jpg"><img class="aligncenter size-full wp-image-459" alt="20150227104008923792i" src="https://deuoquefalar.com/wp-content/uploads/2015/02/20150227104008923792i.jpg" width="500" height="253" /></a></p>
<p>&nbsp;</p>
<p><strong>Idade</strong><br />
Quanto mais velho o observador, maior a propensão para ver dourado e branco. Segundo Jay Neitz, pesquisador de cor-visão na Universidade de Washington, em entrevista à revista Time, o globo ocular das pessoas muda ao longo da vida. Por isso, os indivíduos se tornam menos sensíveis à luz azul com o passar dos anos. O pesquisador estudou as diferenças na visão de cores durante 30 anos.</p>
<p><strong>Filtro no olho</strong><br />
Para o oftalmologista Richard Yudi Hidam, a confusão é desnecessária. &#8220;Isso depende de coisas como a angulação. Olhando ao vivo é uma outra coisa&#8221;, afirma. Para o médico, a bagunça fica ainda maior quando uma lente confunde a visão das pessoas, que já é naturalmente cheia de filtros. &#8220;Se você olha muito tempo para a cor vermelha, por exemplo, acaba tendo uma distorção quando vê uma coisa branca, por exemplo.&#8221;</p>
<p><strong>Contrastes na tela</strong><br />
Um dos primeiros palpites para a explicação da polêmica do vestido foi que a diferença das cores era causada pelo contraste nas telas de computadores, tablets ou celulares. Mas a tese rapidinho caiu por terra, depois que as pessoas chamaram amigos e familiares para ver o vestido no mesmo aparelho, ao mesmo tempo e lugar, e mesmo assim o conflito com as cores permaneceu. &#8220;Virei até o monitor de cabeça para baixo, eu já fiquei de cabeça para baixo, mas continuou vendo branco e dourado&#8221;, comentou o estudante Alex Junior em uma rede social.</p>
<p><strong>O início</strong><br />
A escocesa de 21 anos, Caitlin McNeill, foi quem divulgou a imagem na web, viu a roupa ao vivo e confirma que é azul. Ela é integrante de uma banda do folk e conta que a polêmica começou às vésperas de  um casamento para qual o grupo musical foi contratado. A mãe da noiva compartilhou com o casal via WhatsApp a peça que pretendia usar e a dupla não chegou a um acordo sobre a cor da roupa: azul e preto ou branco e dourado?</p>
<p>Em seguida, os noivos publicaram a imagem no Facebook e McNeill em sua conta no Tumbrl. As declarações foram dadas ao <a href="https://www.buzzfeed.com/claudiakoerner/this-might-explain-why-that-dress-looks-blue-and-black-and-w#.uqkDglYlg" target="blank">BuzzFeed News</a>. Na enquete elaborada pelo site, 75% das pessoas afirmaram enxergar o vestido branco e dourado contra 25% das que acertaram e viram azul e preto.</p>
<p><strong>A resposta</strong><br />
Se você ainda não se conforma, a loja britânica Roman que comercializa o vestido não oferece nenhum modelo branco e dourado. Além do preto e azul, as versões disponíveis são rosa e preto, vermelho e preto e uma branca e preta. Diretora de moda da marca, Michelle Bastock declarou em entrevista ao canal CNN: &#8220;Eu posso oficialmente confirmar que a cor do vestido é azul royal com ornamentos pretos&#8221;. Diante da polêmica, Bastock afirmou que pretende agora produzir uma versão branca e dourada do vestido, mas que ela vai demorar pelo menos seis meses para estar disponível para as interessadas. A empresária disse ainda que todos na empresa estão surpresos e felizes com toda a repercussão.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/02/20150227112909508886a.png"><img class="aligncenter size-full wp-image-460" alt="20150227112909508886a" src="https://deuoquefalar.com/wp-content/uploads/2015/02/20150227112909508886a.png" width="615" height="347" /></a></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fbranco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web%2F&amp;linkname=Branco%20ou%20azul%3F%20Entenda%20as%20raz%C3%B5es%20de%20as%20pessoas%20enxergarem%20de%20maneira%20diferente%20cor%20de%20vestido%20que%20bombou%20na%20web" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fbranco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web%2F&amp;linkname=Branco%20ou%20azul%3F%20Entenda%20as%20raz%C3%B5es%20de%20as%20pessoas%20enxergarem%20de%20maneira%20diferente%20cor%20de%20vestido%20que%20bombou%20na%20web" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fbranco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web%2F&amp;linkname=Branco%20ou%20azul%3F%20Entenda%20as%20raz%C3%B5es%20de%20as%20pessoas%20enxergarem%20de%20maneira%20diferente%20cor%20de%20vestido%20que%20bombou%20na%20web" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fbranco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web%2F&#038;title=Branco%20ou%20azul%3F%20Entenda%20as%20raz%C3%B5es%20de%20as%20pessoas%20enxergarem%20de%20maneira%20diferente%20cor%20de%20vestido%20que%20bombou%20na%20web" data-a2a-url="https://deuoquefalar.com/branco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web/" data-a2a-title="Branco ou azul? Entenda as razões de as pessoas enxergarem de maneira diferente cor de vestido que bombou na web"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/branco-ou-azul-entenda-razoes-de-pessoas-enxergarem-de-maneira-diferente-cor-de-vestido-que-bombou-na-web/">Branco ou azul? Entenda as razões de as pessoas enxergarem de maneira diferente cor de vestido que bombou na web</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
