<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentários sobre: Vírus se espalha pelo Facebook; saiba como eliminá-lo	</title>
	<atom:link href="https://deuoquefalar.com/virus-se-espalha-pelo-facebook-saiba-como-elimina-lo/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/virus-se-espalha-pelo-facebook-saiba-como-elimina-lo/</link>
	<description></description>
	<lastBuildDate>Tue, 09 Jun 2015 14:02:30 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
