<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>iphone &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/tag/iphone/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Tue, 29 Mar 2016 14:24:01 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</title>
		<link>https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/</link>
				<pubDate>Tue, 29 Mar 2016 14:18:13 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[desbloquear]]></category>
		<category><![CDATA[deu o que falar]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>
		<category><![CDATA[unlock]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=866</guid>
				<description><![CDATA[<p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<blockquote><p>Vídeo ensina como desbloquear qualquer iPhone, usando o Siri e mudando a data do telefone</p></blockquote>
<p><img class="aligncenter size-full wp-image-867" src="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg" alt="como-desbloquear-iphone-pelo-siri" width="615" height="409" srcset="https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri.jpg 615w, https://deuoquefalar.com/wp-content/uploads/2016/03/como-desbloquear-iphone-pelo-siri-300x200.jpg 300w" sizes="(max-width: 615px) 100vw, 615px" /></p>
<p>Há algumas semanas atrás foi postado um vídeo que explica como desbloquear qualquer iPhone 5 ou 6 através do Siri, pedindo o horário e com mais alguns passos que resulta no ganho do acesso ao telefone, sem digitar nenhum código ou digital cadastrada!</p>
<p>Alguns dizem que conseguiram, outros que não&#8230; E você será que consegue? Poste nos comentários sua experiência!</p>
<p><iframe src="https://www.youtube.com/embed/9gCf9FvKCFI" width="620" height="349" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&amp;linkname=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsaiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado%2F&#038;title=Saiba%20como%20desbloquear%20o%20iPhone%205%20e%206%20sem%20precisar%20de%20senha%20%5BAtualizado%5D" data-a2a-url="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/" data-a2a-title="Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/saiba-como-desbloquear-o-iphone-5-e-6-sem-precisar-de-senha-atualizado/">Saiba como desbloquear o iPhone 5 e 6 sem precisar de senha [Atualizado]</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>iPhone 6 está ficando torto no bolso!</title>
		<link>https://deuoquefalar.com/iphone-6-esta-ficando-torto-bolso/</link>
				<pubDate>Wed, 24 Sep 2014 01:04:44 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=309</guid>
				<description><![CDATA[<p>Mal acaba de sair o iPhone 6 e os primeiros “problemas” começaram a aparecer. Como já aconteceu o iPhone 5 e alguns iPods,  usuários começaram a postar fotos e vídeos de seus iPhones 6 e Plus “tortos” depois de longos períodos no bolso. Ainda são poucas fotos e a Apple ainda não se pronunciou. &#160; &#160; &#160; [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6-esta-ficando-torto-bolso/">iPhone 6 está ficando torto no bolso!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Mal acaba de sair o iPhone 6 e os primeiros “problemas” começaram a aparecer.</p>
<p>Como já aconteceu o iPhone 5 e alguns iPods,  usuários começaram a postar fotos e vídeos de seus iPhones 6 e Plus “tortos” depois de longos períodos no bolso. Ainda são poucas fotos e a Apple ainda não se pronunciou.<span id="more-309"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto4.jpg"><img class="alignleft size-medium wp-image-310" alt="iphone6-torto4" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto4-220x300.jpg" width="220" height="300" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto3.jpg"><img class="alignleft size-medium wp-image-311" alt="iphone6-torto3" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto3-300x88.jpg" width="300" height="88" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto2.jpg"><img class="alignleft size-medium wp-image-312" alt="iphone6-torto2" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto2-300x57.jpg" width="300" height="57" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto-1.jpg"><img class="alignleft size-medium wp-image-313" alt="iphone6-torto-1" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-torto-1-220x300.jpg" width="220" height="300" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><iframe style="line-height: 1.5em;" src="//www.youtube.com/embed/znK652H6yQM" height="510" width="854" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-esta-ficando-torto-bolso%2F&amp;linkname=iPhone%206%20est%C3%A1%20ficando%20torto%20no%20bolso%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-esta-ficando-torto-bolso%2F&amp;linkname=iPhone%206%20est%C3%A1%20ficando%20torto%20no%20bolso%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-esta-ficando-torto-bolso%2F&amp;linkname=iPhone%206%20est%C3%A1%20ficando%20torto%20no%20bolso%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-esta-ficando-torto-bolso%2F&#038;title=iPhone%206%20est%C3%A1%20ficando%20torto%20no%20bolso%21" data-a2a-url="https://deuoquefalar.com/iphone-6-esta-ficando-torto-bolso/" data-a2a-title="iPhone 6 está ficando torto no bolso!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6-esta-ficando-torto-bolso/">iPhone 6 está ficando torto no bolso!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Câmera do iPhone 6 DETONA – ASSISTA!</title>
		<link>https://deuoquefalar.com/camera-iphone-6-detona-assista/</link>
				<pubDate>Fri, 19 Sep 2014 14:37:04 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=267</guid>
				<description><![CDATA[<p>Muito se tem falado sobre os novos recursos que a Apple trouxe no lançamento do novo iPhone, entre eles o mais falado é a qualidade da câmera. O fotógrafo Austin Mann foi para a Islândia em uma expedição de 1 semana para testar o novo iPhone 6. Ele registrou imagens incríveis e em condições extremamente difíceis; [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/camera-iphone-6-detona-assista/">Câmera do iPhone 6 DETONA – ASSISTA!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Muito se tem falado sobre os novos recursos que a Apple trouxe no lançamento do novo iPhone, entre eles o mais falado é a qualidade da câmera. O fotógrafo Austin Mann foi para a Islândia em uma expedição de 1 semana para testar o novo iPhone 6.</p>
<p>Ele registrou imagens incríveis e em condições extremamente difíceis; ele colocou o iPhone 6 e iPhone 6 Plus para comparar ambos. Veja o vídeo!<span id="more-267"></span></p>
<p><iframe src="//www.youtube.com/embed/9vIZ0ISSJjs" height="510" width="854" allowfullscreen="" frameborder="0"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&amp;linkname=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&amp;linkname=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&amp;linkname=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcamera-iphone-6-detona-assista%2F&#038;title=C%C3%A2mera%20do%20iPhone%206%20DETONA%20%E2%80%93%20ASSISTA%21" data-a2a-url="https://deuoquefalar.com/camera-iphone-6-detona-assista/" data-a2a-title="Câmera do iPhone 6 DETONA – ASSISTA!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/camera-iphone-6-detona-assista/">Câmera do iPhone 6 DETONA – ASSISTA!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Não atualize para o IOS8 se você tiver um iPhone 4s</title>
		<link>https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/</link>
				<pubDate>Wed, 17 Sep 2014 17:06:18 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[ios8]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=261</guid>
				<description><![CDATA[<p>Nós já vimos há algum tempo atrás, no lançamento do iOS 7, que usuários de iPhone 4S sofreram bastante com a queda de rendimento que a nova versão do sistema acabou proporcionando ao dispositivo, lançado em 2011. O hardware do 4S, apesar de ter sido o suficiente para segurar com muita precisão os recursos da época, atualmente não consegue [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/">Não atualize para o IOS8 se você tiver um iPhone 4s</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<div>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/prfmaubqncqha2idzy4f.jpg"><img class="aligncenter size-full wp-image-263" alt="prfmaubqncqha2idzy4f" src="https://deuoquefalar.com/wp-content/uploads/2014/09/prfmaubqncqha2idzy4f.jpg" width="636" height="358" /></a></p>
<p>Nós já vimos há algum tempo atrás, no lançamento do iOS 7, que usuários de iPhone 4S sofreram bastante com a queda de rendimento que a nova versão do sistema acabou proporcionando ao dispositivo, lançado em 2011. O hardware do 4S, apesar de ter sido o suficiente para segurar com muita precisão os recursos da época, atualmente não consegue ser tão eficaz neste quesito, e pode prejudicar muitos usuários que deverão atualizar seus smartphones hoje.<span id="more-261"></span></p>
<p>Quem descobriu isso (e da pior maneira) foi o pessoal do <em>ARS Technica</em>, que após fazer diversos testes com o dispositivo e comparando-o com o rendimento de outros aparelhos, conseguiu obter números nada satisfatórios. Para se ter uma ligeira ideia, o iPhone 4S possui cerca de 1/4 do rendimento de um iPhone 5S.</p>
<p>O dispositivo não possui recursos suficientes para suportar as novidades do novo sistema, como a API Metal, AirDrop, Touch ID e muitos outros, por isso acaba &#8220;engasgando&#8221; até mesmo na hora de ligar. Em um teste rápido utilizando o iOS 7.1.2 contra o iOS 8 GM (Golden Master), para abrir o Safari, o 4S precisou de 1.25 segundos usando a versão anterior do sistema. Com iOS 8, ele abriu o aplicativo em 2.16 segundos.</p>
</div>
<div><a href="https://api.tudocdn.net/img/max_width1000/id93060.jpg" rel="group" data-fancybox-type="image"><img alt="" src="https://api.tudocdn.net/img/width640/height210/id93060.jpg" width="640" height="210" data-src="https://api.tudocdn.net/img/width640/height210/id93060.jpg" /></a></p>
<div>Imagem via ARS Technica</div>
</div>
<div>
<p>Se você está pensando em atualizar o seu iPhone 4S para a nova versão do sistema, sugerimos que aguarde mais alguns dias para que a Apple obtenha o feedback de outros usuários e, assim, possa fazer novas atualizações para melhorar o rendimento do aparelho com o iOS 8. Até lá, contente-se com o iOS 7.1.2 que não deixa, de fato, os usuários de aparelhos mais antigos na mão.</p>
<p>Outra opção considerável é um upgrade de aparelho, podendo optar até mesmo por um iPhone 5C ou modelos mais recentes.</p>
</div>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&amp;linkname=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&amp;linkname=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&amp;linkname=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnao-atualize-o-ios8-se-voce-tiver-um-iphone-4s%2F&#038;title=N%C3%A3o%20atualize%20para%20o%20IOS8%20se%20voc%C3%AA%20tiver%20um%20iPhone%204s" data-a2a-url="https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/" data-a2a-title="Não atualize para o IOS8 se você tiver um iPhone 4s"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/nao-atualize-o-ios8-se-voce-tiver-um-iphone-4s/">Não atualize para o IOS8 se você tiver um iPhone 4s</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>iPhone 6 tem seu primeiro Unbox revelado, confira!</title>
		<link>https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/</link>
				<pubDate>Sat, 06 Sep 2014 06:12:52 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[curiosidades]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=229</guid>
				<description><![CDATA[<p>O anúncio oficial da Apple está se aproximando e muitas das imagens já revelaram o visual do novo smartphone da empresa da Maçã (Veja as imagens AQUI), porém hoje trazemos um verdadeiro unboxing conceitual do iPhone 6 antes mesmo de ele ser lançado. Veja o vídeo: [wpvl source=&#8221;https://www.youtube.com/watch?v=ZBVG6qywbCc&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/9266a893576261627b182b542d531d92.jpg&#8221;]  UPDATE: Veja o teste de resistência da tela [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/">iPhone 6 tem seu primeiro Unbox revelado, confira!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>O anúncio oficial da Apple está se aproximando e muitas das imagens já revelaram o visual do novo smartphone da empresa da Maçã (Veja as imagens <strong><a title="Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!" href="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/" target="_blank">AQUI</a></strong>), porém hoje trazemos um verdadeiro unboxing conceitual do iPhone 6 antes mesmo de ele ser lançado.</p>
<p><span id="more-229"></span>Veja o vídeo:</p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=ZBVG6qywbCc&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/9266a893576261627b182b542d531d92.jpg&#8221;]</p>
<h2><strong> UPDATE:</strong></h2>
<p>Veja o teste de resistência da tela do novo iPhone no vídeo abaixo:</p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=eGxlm82hWDM&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/65716495d596d6791de0737819d790cc.jpg&#8221;]</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&amp;linkname=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&amp;linkname=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&amp;linkname=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fiphone-6-tem-seu-primeiro-unbox-revelado-confira%2F&#038;title=iPhone%206%20tem%20seu%20primeiro%20Unbox%20revelado%2C%20confira%21" data-a2a-url="https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/" data-a2a-title="iPhone 6 tem seu primeiro Unbox revelado, confira!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/iphone-6-tem-seu-primeiro-unbox-revelado-confira/">iPhone 6 tem seu primeiro Unbox revelado, confira!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir</title>
		<link>https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/</link>
				<pubDate>Fri, 05 Sep 2014 13:55:47 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[icloud]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[ipad]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=203</guid>
				<description><![CDATA[<p>Uma falha no serviço de armazenamento em nuvem da Apple, o iCloud, pode ter facilitado o vazamento de fotos íntimas de mais de cem celebridades no último domingo (veja o post AQUI) &#8211; quase todas as vítimas são atrizes de Hollywood. Há 2 possibilidades que podem ter sido usadas para que as contas fossem invadidas, [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/">Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/icloud-lock-100055960-large.png"><img class="aligncenter size-medium wp-image-204" alt="icloud-lock-100055960-large" src="https://deuoquefalar.com/wp-content/uploads/2014/09/icloud-lock-100055960-large-300x200.png" width="300" height="200" /></a></p>
<p>Uma falha no serviço de armazenamento em nuvem da Apple, o iCloud, pode ter facilitado o vazamento de fotos íntimas de mais de cem celebridades no último domingo (veja o post <strong><a title="O maior roubo de fotos sensuais da história" href="https://deuoquefalar.com/o-maior-roubo-de-fotos-sensuais-da-historia/" target="_blank">AQUI</a></strong>) &#8211; quase todas as vítimas são atrizes de Hollywood.<span id="more-203"></span></p>
<p>Há 2 possibilidades que podem ter sido usadas para que as contas fossem invadidas, uma delas é que quem vazou as imagens pode ter conseguido o controle sobre os celulares das vítimas ou invadindo contas de e-mails.</p>
<p>Entretanto, algumas providências podem ser tomadas para evitar que seu iPhone ou iPad seja invadido:</p>
<ul>
<li><strong>Cuidado com o Wi-Fi</strong> &#8211; Tome cuidado com redes de internet sem fio, principalmente as que não pedem senha. Toda a informação trafegada está sujeita a interceptação por terceiros ou pelo administrador da rede;</li>
<li><strong>Não seja óbvio</strong> &#8211; Evite senhas simples e de fácil adivinhação. Utilizar senhas com combinações de letras maiúsculas e números dificulta que sua conta seja invadida;</li>
<li><strong>Não repita as senhas</strong> &#8211; Se você for uma vítima de algum hacker, há uma grande possibilidade dele tentar acessar outros serviços utilizando a mesma senha, impossibilitando até que você recupere a sua conta.</li>
<li><strong>Opte por mais um meio de autenticação</strong> &#8211; Presente em serviços como o iCloud, Gmail, Facebook e Twitter, o esquema de dupla autenticação funciona de modo que requer 2 senhas, uma delas é enviada pelo celular do usuário, que reduz o risco de ter informações roubadas.</li>
</ul>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&amp;linkname=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&amp;linkname=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&amp;linkname=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir%2F&#038;title=Fotos%20de%20famosas%20podem%20ter%20sido%20hackeadas%20do%20iCloud%3B%20veja%20como%20se%20prevenir" data-a2a-url="https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/" data-a2a-title="Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-de-famosas-podem-ter-sido-hackeadas-icloud-veja-como-se-prevenir/">Fotos de famosas podem ter sido hackeadas do iCloud; veja como se prevenir</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!</title>
		<link>https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/</link>
				<pubDate>Mon, 01 Sep 2014 05:37:25 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Notícia]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[iphone]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=173</guid>
				<description><![CDATA[<p>Com lançamento previsto para dia 9 de setembro e com muitas melhorias confira mais fotos do novo e muito esperado iPhone6. O novo iPhone6 vem com algumas melhorias já confirmadas como: Maior tela, acabamentos arredondados, novo processador, maior autonomia de bateria estão entre a lista de melhorias. Seja bem vindo iPhone6 ! Veja as Fotos: &#160; &#160; &#160; &#160; &#160; [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/">Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Com lançamento previsto para dia 9 de setembro e com muitas melhorias confira mais fotos do novo e muito esperado <strong>iPhone6</strong>. O novo <strong>iPhone6</strong> vem com algumas melhorias já confirmadas como: Maior tela, acabamentos arredondados, novo processador, maior autonomia de bateria estão entre a lista de melhorias. Seja bem vindo <strong>iPhone6</strong> ! Veja as Fotos:<span id="more-173"></span></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-1.png"><img class="size-medium wp-image-179 alignnone" alt="iphone6-1" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-1-300x298.png" width="300" height="298" /></a></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-2.png"><img class="size-medium wp-image-178 alignnone" alt="iphone6-2" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-2-300x300.png" width="300" height="300" /></a></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-3.png"><img class="size-medium wp-image-177 alignnone" alt="iphone6-3" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-3-300x300.png" width="300" height="300" /></a></p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-4.png"><img class="alignleft size-medium wp-image-176" alt="iphone6-4" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-4-300x223.png" width="300" height="223" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a style="line-height: 1.5em;" href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-5.png"><img class="size-medium wp-image-175 alignnone" alt="iphone6-5" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-5-298x300.png" width="298" height="300" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-6.png"><img class="size-medium wp-image-174 alignnone" alt="iphone6-6" src="https://deuoquefalar.com/wp-content/uploads/2014/09/iphone6-6-300x225.png" width="300" height="225" /></a></p>
<h2>UPDATE:</h2>
<p>Veja o teste de resistência da tela do novo iPhone no vídeo abaixo:</p>
<p>[wpvl source=&#8221;https://www.youtube.com/watch?v=eGxlm82hWDM&#8221; image=&#8221;https://deuoquefalar.com/wp-content/wpvl/65716495d596d6791de0737819d790cc.jpg&#8221;]</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&amp;linkname=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&amp;linkname=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&amp;linkname=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Ffotos-iphone-6-vaza-na-internet-antes-lancamento-veja%2F&#038;title=Fotos%20do%20iPhone%206%20vazam%20na%20internet%20antes%20do%20lan%C3%A7amento%2C%20Veja%21" data-a2a-url="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/" data-a2a-title="Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/fotos-iphone-6-vaza-na-internet-antes-lancamento-veja/">Fotos do iPhone 6 vazam na internet antes do lançamento, Veja!</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
