<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Humor &#8211; Deu o que Falar</title>
	<atom:link href="https://deuoquefalar.com/category/humor-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://deuoquefalar.com/</link>
	<description></description>
	<lastBuildDate>Mon, 16 Dec 2019 15:51:24 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo</title>
		<link>https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/</link>
				<pubDate>Mon, 16 Dec 2019 15:51:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=997</guid>
				<description><![CDATA[<p>Vindo diretamente do TikTok, mais um desafio tomou a internet do dia para a noite. Desta vez, é o &#8220;Chair Challenge&#8221; – traduzido como &#8220;desafio da cadeira&#8221;–, que parece ser quase impossível para qualquer homem. Já tentou?A brincadeira é, inicialmente, proposta para ser feita em dupla, com um homem e uma mulher. No entanto, você [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/">#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-1024x512.jpg" alt="" class="wp-image-998" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-1024x512.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-300x150.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof-768x384.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/chairchallengebr-dof.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>Vindo diretamente do TikTok, mais um desafio tomou a internet do dia para a noite. Desta vez, é o &#8220;Chair Challenge&#8221; – traduzido como &#8220;desafio da cadeira&#8221;–, que parece ser quase impossível para qualquer homem. </p>



<span id="more-997"></span>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="&#x1fa91;&#x1fa91; CHAIR CHALLENGE! part 2 &#x1fa91;&#x1fa91;| Top 2019 TikTok Challenge Compilations" width="648" height="365" src="https://www.youtube.com/embed/AoNJxvctr5g?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p><strong>Já tentou?</strong><br>A brincadeira é, inicialmente, proposta para ser feita em dupla, com um homem e uma mulher. No entanto, você pode tentar sozinho, ou em grupos maiores!</p>



<p>Para jogar, é preciso ter à disposição uma cadeira leve (que todos os participantes consigam levantar sem maiores dificuldades), e uma parede lisa.</p>



<p>Comece encostando a cadeira na parede e posicionando-se atrás dela, para que o móvel esteja entre você e a parede. Seus pés não devem estar abaixo da superfície da cadeira, nem muito distantes dela.</p>



<p>Para calcular a distância da parede que você deve tomar, você pode encostar seus pés na parede, e em seguida dar dois passos curtos para trás.</p>



<p>Em seguida, com os dois pés unidos e os joelhos esticados, porém relaxados, desça o tronco até encostar o topo de sua cabeça na parede. Seu tronco e pernas devem formar um ângulo de cerca de 90º.</p>



<p>Agora, se já não estava apoiando as mãos na cadeira, segure-a e tente levantá-la, levando a cadeira ao seu peito. Em seguida, ainda segurando a cadeira, endireite seu corpo.</p>



<p>O objetivo é conseguir retomar sua postura normal, desencostando na parede, enquanto carrega a cadeira.</p>



<p><strong>Por que homens têm dificuldade?</strong><br>Como é possível perceber nos vídeos, para homens de qualquer idade parece ser bem mais complicado concluir o desafio do que para as mulheres.</p>



<p>Pessoas mais altas também parecem ter mais problemas em conseguir endireitar o corpo enquanto seguram a cadeira. É possível sentir que você &#8220;não consegue&#8221; se levantar, ou perder o equilíbrio enquanto tenta.</p>



<figure class="wp-block-embed-twitter wp-block-embed is-type-rich is-provider-twitter"><div class="wp-block-embed__wrapper">
<blockquote class="twitter-tweet" data-width="550" data-dnt="true"><p lang="en" dir="ltr">Have u tried this yet? <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f602.png" alt="😂" class="wp-smiley" style="height: 1em; max-height: 1em;" /> <a href="https://twitter.com/hashtag/chairchallenge?src=hash&amp;ref_src=twsrc%5Etfw">#chairchallenge</a> Apparently it’s IMPOSSIBLE for men to do it <a href="https://t.co/CyaR2dEcaf">pic.twitter.com/CyaR2dEcaf</a></p>&mdash; Jason Derulo (@jasonderulo) <a href="https://twitter.com/jasonderulo/status/1203447835741569024?ref_src=twsrc%5Etfw">December 7, 2019</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div></figure>



<p>Há duas possíveis justificativas para esta dificuldade.</p>



<p>Uma se baseia no&nbsp;<strong>tamanho dos pés</strong>&nbsp;do participante. Com frequência, homens possuem pés maiores, assim como os altos calçam números maiores que os baixinhos.</p>



<p>Assim, ao dar alguns passos para trás, homens e pessoas mais altas estarão sempre um pouco mais distantes da parede do que mulheres e indivíduos baixos. Quanto mais longe da parede você estiver, mais difícil concluir o desafio.</p>



<p>Outra explicação envolve o conceito de&nbsp;<strong>centro de gravidade</strong>. Este seria o ponto onde toda a massa de um corpo (seja uma caixa, um haltere, um cachorro ou você) fica concentrada, e onde todas as forças físicas se aplicam.</p>



<p>Para mulheres e homens, o centro de massa fica em pontos diferentes, segundo alguns físicos. Para homens, ele fica mais próximo do peito – logo, o apoio para os rapazes fica mais concentrado no tronco, que, durante o desafio, está deitado na horizontal.</p>



<p>Já para as mulheres, o centro gravitacional está mais próximo das pernas. Logo, é muito mais fácil para elas apoiarem seu peso nos membros inferiores, e puxarem seu tronco junto à cadeira.</p>



<p>O centro de massa também fica mais próximo ou distante do chão de acordo com a altura de cada pessoa, tornando o desafio mais fácil para os baixinhos, e difícil para os altos.</p>



<figure class="wp-block-embed-twitter wp-block-embed is-type-rich is-provider-twitter"><div class="wp-block-embed__wrapper">
<blockquote class="twitter-tweet" data-width="550" data-dnt="true"><p lang="en" dir="ltr">Probably the funniest <a href="https://twitter.com/hashtag/ChairChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#ChairChallenge</a> you’ll see <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f602.png" alt="😂" class="wp-smiley" style="height: 1em; max-height: 1em;" /><img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f602.png" alt="😂" class="wp-smiley" style="height: 1em; max-height: 1em;" /> <a href="https://t.co/AYdlv4NsxP">pic.twitter.com/AYdlv4NsxP</a></p>&mdash; Isaiah Horne. (@_mrhorne2u_) <a href="https://twitter.com/_mrhorne2u_/status/1202828119373053952?ref_src=twsrc%5Etfw">December 6, 2019</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&amp;linkname=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&amp;linkname=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&amp;linkname=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fchairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo%2F&#038;title=%23ChairChallenge%3A%20Voc%C3%AA%20j%C3%A1%20fez%20o%20desafio%20da%20cadeira%3F%20Entenda%20por%20que%20s%C3%B3%20mulheres%20conseguem%20execut%C3%A1-lo" data-a2a-url="https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/" data-a2a-title="#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/chairchallenge-voce-ja-fez-o-desafio-da-cadeira-entenda-por-que-so-mulheres-conseguem-executa-lo/">#ChairChallenge: Você já fez o desafio da cadeira? Entenda por que só mulheres conseguem executá-lo</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</title>
		<link>https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/</link>
				<pubDate>Fri, 13 Dec 2019 13:55:53 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=971</guid>
				<description><![CDATA[<p>1. Enquanto você espera a chegada do feriado, o seu gato faz algo que ele domina como ninguém: repousar em berço esplêndido 2. Pode acontecer de ele recorrer a um refúgio em meio à natureza 3. Um lugar privilegiado na mesa do almoço de domingo 4. Uma caixa abandonada para a qual ninguém dava bola [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/">13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg" alt="" class="wp-image-972" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-300x187.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-768x480.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /></figure>



<span id="more-971"></span>



<h3>1. Enquanto você espera a chegada do feriado, o seu gato faz algo que ele domina como ninguém: repousar em berço esplêndido</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg" alt="" class="wp-image-972" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-300x187.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180340116378-768x480.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>2. Pode acontecer de ele recorrer a um refúgio em meio à natureza</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-802x1024.jpg" alt="" class="wp-image-973" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-802x1024.jpg 802w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-235x300.jpg 235w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379-768x980.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180355834379.jpg 850w" sizes="(max-width: 802px) 100vw, 802px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>3. Um lugar privilegiado na mesa do almoço de domingo</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-769x1024.jpg" alt="" class="wp-image-974" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-769x1024.jpg 769w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-225x300.jpg 225w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380-768x1023.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180408975380.jpg 850w" sizes="(max-width: 769px) 100vw, 769px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>4. Uma caixa abandonada para a qual ninguém dava bola</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381.jpg" alt="" class="wp-image-975" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381-300x229.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180419022381-768x587.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>5. Aquela convidativa fenda entre as almofadas do sofá da sala</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-683x1024.jpg" alt="" class="wp-image-976" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-683x1024.jpg 683w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-200x300.jpg 200w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383-768x1152.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180430694383.jpg 850w" sizes="(max-width: 683px) 100vw, 683px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>6. Ou debaixo da caminha que você comprou para ele com o maior carinho</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-769x1024.jpg" alt="" class="wp-image-977" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-769x1024.jpg 769w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-225x300.jpg 225w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384-768x1023.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180444694384.jpg 850w" sizes="(max-width: 769px) 100vw, 769px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>7. Às vezes, a estranha lógica dos gatos se revela um tanto espantosa</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385.jpg" alt="" class="wp-image-978" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385-300x270.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180453616385-768x690.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>8. Como quando eles tentam lutar contra as leis da Física</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386.jpg" alt="" class="wp-image-979" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386-300x224.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180503006386-768x575.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>9. Quando resolvem desbravar os cantos mais improváveis da sua casa</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387.jpg" alt="" class="wp-image-980" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387-300x269.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180515350387-768x689.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Imgur) </figcaption></figure>



<h3>10. Quando trocam o conforto do seu colo por algum local quentinho</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389.jpg" alt="" class="wp-image-981" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-300x300.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-150x150.jpg 150w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-768x769.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180529397389-60x60.jpg 60w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/SuperBau) </figcaption></figure>



<h3>11. Ou quando decidem te procurar nas horas mais inapropriadas</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390.jpg" alt="" class="wp-image-982" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180541475390-768x576.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>12. É&#8230; Alguns gatíneos realmente não dão a mínima para a sua opinião</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392.jpg" alt="" class="wp-image-983" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392-300x222.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180553741392-768x568.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>



<h3>13. O que não significa que você vai deixar de amá-los mesmo assim</h3>



<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393.jpg" alt="" class="wp-image-984" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393.jpg 850w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/10180608491393-768x576.jpg 768w" sizes="(max-width: 850px) 100vw, 850px" /><figcaption> (Reprodução/Bright Side) </figcaption></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&amp;linkname=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar%2F&#038;title=13%20GATOS%20QUE%20N%C3%83O%20D%C3%83O%20A%20M%C3%8DNIMA%20PARA%20O%20QUE%20OS%20OUTROS%20V%C3%83O%20PENSAR" data-a2a-url="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/" data-a2a-title="13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/13-gatos-que-nao-dao-a-minima-para-o-que-os-outros-vao-pensar/">13 GATOS QUE NÃO DÃO A MÍNIMA PARA O QUE OS OUTROS VÃO PENSAR</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS</title>
		<link>https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/</link>
				<pubDate>Fri, 13 Dec 2019 11:02:20 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=959</guid>
				<description><![CDATA[<p>Não é preciso muito esforço para que alguém se lembre das pérolas da infância. Toda criança tem aquela fase dos “porquês” e, se não recebeu uma resposta satisfatória, acabou inventando algo na hora. Eu, por exemplo, achava que os cobradores de ônibus eram as pessoas mais ricas do mundo, já que recebiam dinheiro toda hora. [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/">17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-1024x678.jpg" alt="" class="wp-image-960" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-1024x678.jpg 1024w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-300x199.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-768x508.jpg 768w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-1536x1017.jpg 1536w, https://deuoquefalar.com/wp-content/uploads/2019/12/Lying-child-2048x1356.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>Não é preciso muito esforço para que alguém se lembre das pérolas da infância. Toda criança tem aquela fase dos “porquês” e, se não recebeu uma resposta satisfatória, acabou inventando algo na hora.</p>



<span id="more-959"></span>



<p>Eu, por exemplo, achava que os cobradores de ônibus eram as pessoas mais ricas do mundo, já que recebiam dinheiro toda hora. Minha prima mais nova não entendia o motivo pelo qual alguém reclamava de falta de dinheiro, afinal era só ir ao banco e tirar.</p>



<p>Como você deve imaginar, esse assunto é extenso e rende muitas risadas. Por isso, a página “<a rel="noreferrer noopener" href="https://www.facebook.com/coisasqueeuachava/timeline" target="_blank">Coisas Que Eu Achava Quando Era Criança</a>” reúne diversos pensamentos engraçados dos pequenos com ilustrações ótimas:</p>



<h2>1. A&nbsp;mesma lógica das “Diabetes” – dançarinas do Diabo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140059717187.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que nazistas eram pessoas que trabalhavam na NASA&#8221;</p>



<h2>2. Ia faltar cabeça para tanto chapéu</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140155300188.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que placas de lombadas indicavam lojas de chapéus&#8221;</p>



<h2>3. Todo dia, um show exclusivo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140246515189.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o disco ao vivo fazia o artista tocar exatamente na hora em que você apertava o play&#8221;</p>



<h2>4.&nbsp;Haja sopa!</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140450271191.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que, nas receitas, quando tinha &#8216;uma colher de sopa de&#8230;&#8217;era preciso fazer uma sopa com o ingrediente, tipo sopa de manteigam sopa de farinha, sopa de água&#8221;</p>



<h2>5. &nbsp;Ainda é legal pensar assim</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140532890192.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que era muito especial, porque quando eu viajava de carro, a lua sempre me seguia pelo céu&#8221;</p>



<h2>6.&nbsp;Na minha família isso é verdade!</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141806719209.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que toda mulher, quando virava avó, mudava o nome pra Maria&#8221;</p>



<h2>7.&nbsp;Tem lógica</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140735632195.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o Ministro da Fazenda cuidava da saúde dos bois&#8221;</p>



<h2>8.&nbsp;Só gente boa pode entrar</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140823384196.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que Instituto Médico Legal era um lugar de doutores bonzinhos&#8221;</p>



<h2>9.&nbsp;Eu achava um absurdo as pessoas serem tão descuidadas e perderem as bolas</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140901901197.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que aquelas bolas laranjas em fios de alta tensão eram bolas de basquete&#8221;</p>



<h2>10.&nbsp;Na minha casa ou na sua?</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22140950355198.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que quando um time jogava &#8220;em casa&#8221;, o jogo acontecia na casa de um dos jogadores&#8221;</p>



<h2>11.&nbsp;“Elevador, vem com o titio”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141113581202.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que, pra chamar o elevador, precisava ficar gritando na porta até ele aparecer&#8221;</p>



<h2>12.&nbsp;Chega de crise!</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141207573203.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o banco central podia simplesmente imprimir um monte de dinheiro e deixar todo mundo rico&#8221;</p>



<h2>13.&nbsp;“Manhê, acabei! Vem me limpar”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141351860204.jpg?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que mães não faziam cocô, porque eu sempre avisava pra minha quando eu ia fazer, mas ela nunca me avisava&#8221;</p>



<h2>14.&nbsp;Bonito nome</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141433356205.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que o Miguel Falabella se chamava Miguel Fada Bela&#8221;</p>



<h2>15.&nbsp;Eu aposto que você ainda pensa nisso</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141514541206.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que se eu deitasse o chinelo de ponta cabeça no chão minha mãe morreria&#8221;</p>



<h2>16. Assim todos iriam querer “passar dessa para uma melhor”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141554290207.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que &#8216;passar dessa pra melhor&#8217; significava ganhar na loteria&#8221;</p>



<h2>17.&nbsp;“Só estou dando uma olhadinha”</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2016/03/22/22141646690208.png?w=1040" alt=""/></figure>



<p>&#8220;Eu achava que quando algo era vendido &#8216;sem juros&#8217;, significava que você podia entrar na loja sem precisar jurar que ia comprar algo&#8221;</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&amp;linkname=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&amp;linkname=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&amp;linkname=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas%2F&#038;title=17%20EXPLICA%C3%87%C3%95ES%20QUE%20S%C3%93%20PODERIAM%20TER%20SIDO%20CRIADAS%20POR%20CRIAN%C3%87AS" data-a2a-url="https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/" data-a2a-title="17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/17-explicacoes-que-so-poderiam-ter-sido-criadas-por-criancas/">17 EXPLICAÇÕES QUE SÓ PODERIAM TER SIDO CRIADAS POR CRIANÇAS</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</title>
		<link>https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/</link>
				<pubDate>Fri, 13 Dec 2019 10:30:39 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=955</guid>
				<description><![CDATA[<p>O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/">CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p> O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma obra dessas? Por pirraça, caro leitor. Por pura pirraça! Veja abaixo: </p>



<p>O prédio que você pode ver na imagem a seguir foi construído na década de 50, em Beirute, no Líbano, e consiste no edifício habitável mais estreito da cidade – medindo míseros 60 centímetros na parte mais “fina” e 4 m na mais larga. E por que alguém se daria ao trabalho de erguer uma obra dessas? Por pirraça, caro leitor. Por pura pirraça! Veja abaixo:</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201542365431.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)?????</figcaption></figure>



<span id="more-955"></span>



<h2>Picuinhas</h2>



<p>De acordo com Andželika Jaseviciute, do site&nbsp;<a href="https://www.boredpanda.com/al-basa-the-grudge-house-beirut-lebanon/" target="_blank" rel="noreferrer noopener">Bored Panda</a>, o prédio é conhecido pelos habitantes locais como “<em>Al Ba’as</em>” – ou “O Rancor” – e foi erguido depois de uma briga entre irmãos. Os 2 caras receberam o terreno como herança, mas não conseguiam entrar em um acordo sobre o que construir no espaço. Para piorar, uma das metades da área acabou sendo dividida por conta de alguns projetos de infraestrutura da prefeitura, o que terminou por deixar o terreno com um formato meio estranho, prejudicando um dos sujeitos.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201702725432.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>



<p>Então, como um ficou com mais espaço e conseguiu construir uma edificação melhor – com alto potencial de valorização imobiliária –, o outro, por birra, ergueu o “prédio-paredão” só para obstruir a vista para o mar do irmão e fazer o cara perder dinheiro. E não foi só isso! Ademais de tapar o outro edifício, a construção abrigou um bordel para irritar o irmão e reduzir ainda mais o valor de seu imóvel.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201743537433.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>



<p>Segundo Andželika, anos mais tarde, o prédio passou a servir de lar para famílias de refugiados de guerra e, hoje em dia, embora conte com 2 apartamentos por andar (por incrível que pareça), o edifício se encontra desabitado e se tornou uma espécie de monumento ao que a pirraça, a birra, o rancor e as picuinhas entre irmãos podem causar.</p>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/10/15/15201936647435.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Sandra Rishani / Reprodução)</figcaption></figure>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&amp;linkname=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fcara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao%2F&#038;title=CARA%20CONSTRUIU%20PR%C3%89DIO%20S%C3%93%20PARA%20BLOQUEAR%20VISTA%20PARA%20O%20MAR%20DO%20IRM%C3%83O" data-a2a-url="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/" data-a2a-title="CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/cara-construiu-predio-so-para-bloquear-vista-para-o-mar-do-irmao/">CARA CONSTRUIU PRÉDIO SÓ PARA BLOQUEAR VISTA PARA O MAR DO IRMÃO</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</title>
		<link>https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/</link>
				<pubDate>Fri, 13 Dec 2019 10:15:03 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>
		<category><![CDATA[animais de estimacao]]></category>
		<category><![CDATA[gato]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=950</guid>
				<description><![CDATA[<p>Uma coisa é certa, o universo dos animais é cheio de fatos curiosos, estranhos e divertidos. Você sabia, por exemplo, que os escorpiões brilham no escuro quando são submetidos aos raios de uma luz negra? Ou que as formigas possuem cinco tipos de narizes diferentes? Aprender sobre os bichinhos é sempre uma aventura interessante. E se [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/">15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513.jpg" alt="" class="wp-image-952" srcset="https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513.jpg 577w, https://deuoquefalar.com/wp-content/uploads/2019/12/13200703581513-300x92.jpg 300w" sizes="(max-width: 577px) 100vw, 577px" /></figure>



<p>Uma coisa é certa, o universo dos animais é cheio de fatos curiosos, estranhos e divertidos. Você sabia, por exemplo, que os escorpiões brilham no escuro quando são submetidos aos raios de uma luz negra? Ou que as formigas possuem cinco tipos de narizes diferentes?</p>



<span id="more-950"></span>



<p>Aprender sobre os bichinhos é sempre uma aventura interessante. E se os fatos comprovados já são difíceis de acreditar, imagine só até onde a criatividade humana pode chegar com as curiosidades inventadas sobre eles.</p>



<p>Em tempos de fake news polêmicas sobre diversos assuntos importantes da sociedade, um grupo&nbsp;chamado<em>&nbsp;S**ttyAnimalFacts&nbsp;</em>tem usado essa prática de um jeito bom e divertido. Baseado em imagens e gifs animados e adoráveis, eles criam afirmaçôes&nbsp;completamente malucas sobre os animais.&nbsp;</p>



<p>Confira a seguir algumas dessas fake news do mundo animal com imagens que vão animar o seu dia!</p>



<h2>1. Os gatos da nova geração devem ser recarregados a cada 24 horas</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13194706136492.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>2. Os tigres são animais com um enorme problema de desbotamento. Por isso, se forem lavados excessivamente, perdem totalmente suas cores</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13194921964493.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>3. Em 2005, cientistas conseguiram cruzar cães com focas. Apenas um filhote sobreviveu, além disso, ele infelizmente nasceu cego</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195032292494.gif" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>4. Labradores de chocolate derretem facilmente ao ficarem expostos a luz solar direta</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195112714495.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>5. Os cães siberianos nascem com temperaturas muito elevadas para conseguir sobreviver ao frio e a neve. Cães dessas espécies são tão quentes, que ao tocar na água conseguem ferve-la instantaneamente</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195225839496.gif" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>6. A água do mar só é salgada por causa das lágrimas dos tubarões que se sentem incompreendidos e pré-julgados, quando na verdade só querem um abraço</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195243339497.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>7. Tirar a garra do seu gato o deixará extremamente agressivo. Por causa disso, ele buscará novas ferramentas que possam servir como garras</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195324839498.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>8. Para fugir da fiscalização, alguns cães são conhecidos por se disfarçar de ornitorrincos&nbsp;</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195401447499.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>9. Os pandas vermelhos são os maiores fãs de Dragon Ball Z. Por isso, é comum vê-los reproduzindo as cenas de fusão</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195440023500.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>10. O ornitorrinco é reconhecido por ser o mamífero mais exibido do mundo</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195508193501.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>11. Já as focas são reconhecidas por seus elevadíssimos níveis de autoconfiança&nbsp;</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195531535502.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>12. Na Austrália, os gatos-aranha tem enfrentado um grande problema de adaptação gravitacional</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195556784503.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>13. Ainda na Austrália, os gatos-cobra também têm lutado para se adaptar ao clima e aos costumes da região</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195619376504.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>14.&nbsp;Um agricultor está sendo mundialmente reconhecido por ter criado a vaca mais longa do mundo até hoje</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195648937505.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<h2>15. Os beija-flores nascem em árvores</h2>



<figure class="wp-block-image"><img src="https://img.ibxk.com.br/2019/11/13/13195935118506.jpg?w=1040" alt=""/><figcaption>(Fonte: Bored Panda / Reprodução)</figcaption></figure>



<p>Essas são apenas algumas amostras de como o ser humano pode ser criativo ao interpretar o reino animal. Conhece mais algum fato falso divertido sobre os animais? Nos conte nos comentários!</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&amp;linkname=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2F15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia%2F&#038;title=15%20FAKE%20NEWS%20DE%20ANIMAIS%20COM%20IMAGENS%20QUE%20V%C3%83O%20MELHORAR%20O%20SEU%20DIA" data-a2a-url="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/" data-a2a-title="15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/15-fake-news-de-animais-com-imagens-que-vao-melhorar-o-seu-dia/">15 FAKE NEWS DE ANIMAIS COM IMAGENS QUE VÃO MELHORAR O SEU DIA</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar</title>
		<link>https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/</link>
				<pubDate>Thu, 12 Dec 2019 15:18:06 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">https://deuoquefalar.com/?p=934</guid>
				<description><![CDATA[<p>As cerimônias de casamento podem ter momentos divertidos e também embaraçosos, graças ao nervosismo dos presentes, principalmente do noivo e da noiva que estão passando por um dos momentos mais importantes e memoráveis de suas vidas. Neste caso em questão, um vídeo registrou uma situação embaraçosa durante um casamento nos Estados Unidos que acabou viralizando [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/">Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<figure class="wp-block-image"><img src="https://www.1news.com.br/wp-content/uploads/2019/09/103858201909075d73b2f231f57.jpg" alt=""/></figure>



<p> As cerimônias de casamento podem ter momentos divertidos e também embaraçosos, graças ao nervosismo dos presentes, principalmente do noivo e da noiva que estão passando por um dos momentos mais importantes e memoráveis de suas vidas. </p>



<span id="more-934"></span>



<p> Neste caso em questão, um vídeo registrou uma situação embaraçosa durante um casamento nos Estados Unidos que acabou viralizando nas redes sociais. Esta noiva foi elogiada por seu noivo ainda no altar, porém, quando ela vai sussurrar um segredo para ele, que deveria ser só do casal, ela esquece do microfone ligado e todos ouvem. </p>



<p>Essas imagens se tornaram um verdadeiro viral depois que o apresentador americano Jimmy Fallon pediu para que as pessoas enviassem vídeos de momentos engraçados que aconteceram durante seus casamentos.</p>



<p>Quando a moça chegou no altar seu até então futuro esposo lhe diz: “<em>Você está incrível</em>”, porém ela está bastante nervosa no altar e confessa um segredo a ele: “<em>eu acabei de fazer cocô antes de subir ao altar</em>”, então ele dá uma resposta a ela avisando que está com o microfone.</p>



<figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<iframe title="Noiva esquece de microfone e revela segredo vergonhoso para o noivo durante cerimônia" width="648" height="365" src="https://www.youtube.com/embed/Evf6CxVI3DM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></figure>



<p> Na ocasião da cerimônia, o noivo está usando um microfone para poder registrar todo o áudio possível e explica que o câmera ouviu tudo o que ela disse. Confira abaixo o vídeo que viralizou nas redes sociais. </p>



<p> “<em>É hora das hashtags! Marque um tweet com #WeddingFail e conte-nos uma história engraçada ou estranha de um casamento em que você esteve. Você poderá estar no show!</em>”, foi a legenda compartilhada pelo famoso apresentador dos Estados Unidos. A publicação original é de Luke, com a legenda: “<em>É mais fácil para você ver por si mesmo: #weddingfail @jimmyfallon</em>”. </p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&amp;linkname=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&amp;linkname=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&amp;linkname=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnoiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar%2F&#038;title=Noiva%20esquece%20microfone%20ligado%20e%20faz%20confiss%C3%A3o%20vergonhosa%20para%20o%20noivo%20no%20altar" data-a2a-url="https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/" data-a2a-title="Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/noiva-esquece-microfone-ligado-e-faz-confissao-vergonhosa-para-o-noivo-no-altar/">Noiva esquece microfone ligado e faz confissão vergonhosa para o noivo no altar</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Dilma não aguenta a pressão e assina a sua renúncia</title>
		<link>https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/</link>
				<pubDate>Fri, 01 Apr 2016 13:09:55 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>
		<category><![CDATA[Notícia]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=886</guid>
				<description><![CDATA[<p>Foi quase, muitos queriam que essa notícia fosse verdadeira, mas hoje é 01 de abril kkkkk Compartilhe com seus amigos a notícia!</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/">Dilma não aguenta a pressão e assina a sua renúncia</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><img class="aligncenter size-medium wp-image-887" src="https://deuoquefalar.com/wp-content/uploads/2016/04/dilma-assinando-decreto-300x188.jpg" alt="dilma-assinando-decreto" width="300" height="188" srcset="https://deuoquefalar.com/wp-content/uploads/2016/04/dilma-assinando-decreto-300x188.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/04/dilma-assinando-decreto.jpg 550w" sizes="(max-width: 300px) 100vw, 300px" /><span id="more-886"></span></p>
<p>Foi quase, muitos queriam que essa notícia fosse verdadeira, mas hoje é 01 de abril kkkkk</p>
<p><img class="aligncenter size-medium wp-image-888" src="https://deuoquefalar.com/wp-content/uploads/2016/04/12472268_818320664940254_1365819213717441927_n-300x225.jpg" alt="12472268_818320664940254_1365819213717441927_n" width="300" height="225" srcset="https://deuoquefalar.com/wp-content/uploads/2016/04/12472268_818320664940254_1365819213717441927_n-300x225.jpg 300w, https://deuoquefalar.com/wp-content/uploads/2016/04/12472268_818320664940254_1365819213717441927_n.jpg 442w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<p>Compartilhe com seus amigos a notícia!</p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&amp;linkname=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&amp;linkname=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&amp;linkname=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fdilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia%2F&#038;title=Dilma%20n%C3%A3o%20aguenta%20a%20press%C3%A3o%20e%20assina%20a%20sua%20ren%C3%BAncia" data-a2a-url="https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/" data-a2a-title="Dilma não aguenta a pressão e assina a sua renúncia"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/dilma-nao-aguenta-a-pressao-e-assina-a-sua-renuncia/">Dilma não aguenta a pressão e assina a sua renúncia</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Nova onda entre os famosos: Dubsmash, você conhece?</title>
		<link>https://deuoquefalar.com/nova-onda-entre-os-famosos-dubsmash-voce-conhece/</link>
				<pubDate>Fri, 10 Apr 2015 13:45:48 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=643</guid>
				<description><![CDATA[<p>O Dubsmash é um aplicativo gratuito, compatível com iOS e Android, que permite gravar vídeos curtos e aplicar dublagens engraçadas, como falas do personagem Chaves e trechos de músicas. O app é bem intuitivo e simples, e caso tenha dificuldade, confira o  passo a passo sobre como usar o aplicativo e compartilhar suas criações nas [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/nova-onda-entre-os-famosos-dubsmash-voce-conhece/">Nova onda entre os famosos: Dubsmash, você conhece?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/dubsmash-app.jpg"><img class="aligncenter size-full wp-image-651" src="https://deuoquefalar.com/wp-content/uploads/2015/04/dubsmash-app.jpg" alt="dubsmash-app" width="645" height="296" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/dubsmash-app.jpg 645w, https://deuoquefalar.com/wp-content/uploads/2015/04/dubsmash-app-300x138.jpg 300w" sizes="(max-width: 645px) 100vw, 645px" /></a></p>
<p>O Dubsmash é um aplicativo gratuito, compatível com iOS e Android, que permite gravar vídeos curtos e aplicar dublagens engraçadas, como falas do personagem Chaves e trechos de músicas. O app é bem intuitivo e simples, e caso tenha dificuldade, confira o  passo a passo sobre como usar o aplicativo e compartilhar suas criações nas redes sociais:</p>
<p><strong>Como instalar:</strong></p>
<p><span id="more-643"></span></p>
<p>Passo 1. Instale o <a class="" href="https://www.dubsmash.com/">Dubsmash</a> em seu aparelho.</p>
<p>Ao abrir o aplicativo pela primeira vez, o aplicativo pedirá para enviar notificações. Caso queira permitir, toque em &#8220;OK&#8221; – ou em &#8220;Não Permitir&#8221; para negar. Em seguida, selecione o idioma de sua preferência e toque em &#8220;Enter&#8221;;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_14_03.jpg"><img class="aligncenter size-full wp-image-644" src="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_14_03.jpg" alt="2015_04_09_09_14_03" width="695" height="617" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_14_03.jpg 695w, https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_14_03-300x266.jpg 300w" sizes="(max-width: 695px) 100vw, 695px" /></a></p>
<p>&nbsp;</p>
<p>Passo 2. O Dubsmash lista os sons que são tendências no momento, mas você pode também visualizar os últimos adicionados, ou tocar sobre o ícone da lupa para pesquisar por um som. Use o botão de play à esquerda do nome para ouvi-lo. Para gravar um vídeo com o som de dublagem, toque sobre ele. NoiOS, você deve permitir que o app tenha acesso à câmera;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_23.jpg"><img class="aligncenter size-full wp-image-645" src="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_23.jpg" alt="2015_04_09_09_16_23" width="695" height="617" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_23.jpg 695w, https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_23-300x266.jpg 300w" sizes="(max-width: 695px) 100vw, 695px" /></a></p>
<p>&nbsp;</p>
<p>Passo 3. A câmera frontal vem ativada por padrão. Para alterá-la, toque sobre o botão localizado no canto superior direito da tela. Faça os ajustes de foco e enquadramento da câmera e toque em “Start” para inciar a gravação. Após terminar de gravar, toque em “Next” para avançar ou em “Back” para voltar e realizar uma nova gravação;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_43.jpg"><img class="aligncenter size-full wp-image-646" src="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_43.jpg" alt="2015_04_09_09_16_43" width="695" height="617" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_43.jpg 695w, https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_16_43-300x266.jpg 300w" sizes="(max-width: 695px) 100vw, 695px" /></a></p>
<p>&nbsp;</p>
<p>Passo 4. Por fim, você poderá compartilhar o vídeo gravado com seus amigos do Facebook Messenger, WhatsApp ou por mensagem. Para salvar o vídeo na galeria do celular, toque em “Save to Camera Roll”. Para isso, será necessário permitir que o app tenha acesso às suas fotos;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_20.jpg"><img class="aligncenter size-full wp-image-647" src="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_20.jpg" alt="2015_04_09_09_17_20" width="695" height="617" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_20.jpg 695w, https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_20-300x266.jpg 300w" sizes="(max-width: 695px) 100vw, 695px" /></a></p>
<p>&nbsp;</p>
<p>Passo 5. Caso queira visualizar ou compartilhar uma gravação antiga, toque sobre o botão localizado no canto superior esquerdo da tela principal. No menu do aplicativo, toque em “My Dubs”;</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_46jpg.png"><img class="aligncenter size-full wp-image-648" src="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_46jpg.png" alt="2015_04_09_09_17_46jpg" width="695" height="617" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_46jpg.png 695w, https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_46jpg-300x266.png 300w" sizes="(max-width: 695px) 100vw, 695px" /></a></p>
<p>&nbsp;</p>
<p>Passo 6. Por fim, toque sobre sobre o vídeo desejado para assisti-lo. Caso queira compartilhar, toque em “Share” e escolha uma das opções.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_50jpg.png"><img class="aligncenter size-full wp-image-649" src="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_50jpg.png" alt="2015_04_09_09_17_50jpg" width="695" height="617" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_50jpg.png 695w, https://deuoquefalar.com/wp-content/uploads/2015/04/2015_04_09_09_17_50jpg-300x266.png 300w" sizes="(max-width: 695px) 100vw, 695px" /></a></p>
<p>Pronto! Com essas dicas, você poderá fazer gravações com dublagens divertidas no aplicativo Dubsmash e compartilhar com seus amigos.</p>
<p>Fonte: Techtudo</p>
<p>Confira os melhores vídeos gravados com o Dubsmash <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /><br />
<iframe src="https://www.youtube.com/embed/QwUNrAlwDDY" width="620" height="414" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnova-onda-entre-os-famosos-dubsmash-voce-conhece%2F&amp;linkname=Nova%20onda%20entre%20os%20famosos%3A%20Dubsmash%2C%20voc%C3%AA%20conhece%3F" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnova-onda-entre-os-famosos-dubsmash-voce-conhece%2F&amp;linkname=Nova%20onda%20entre%20os%20famosos%3A%20Dubsmash%2C%20voc%C3%AA%20conhece%3F" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fnova-onda-entre-os-famosos-dubsmash-voce-conhece%2F&amp;linkname=Nova%20onda%20entre%20os%20famosos%3A%20Dubsmash%2C%20voc%C3%AA%20conhece%3F" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fnova-onda-entre-os-famosos-dubsmash-voce-conhece%2F&#038;title=Nova%20onda%20entre%20os%20famosos%3A%20Dubsmash%2C%20voc%C3%AA%20conhece%3F" data-a2a-url="https://deuoquefalar.com/nova-onda-entre-os-famosos-dubsmash-voce-conhece/" data-a2a-title="Nova onda entre os famosos: Dubsmash, você conhece?"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/nova-onda-entre-os-famosos-dubsmash-voce-conhece/">Nova onda entre os famosos: Dubsmash, você conhece?</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>SBT lança mais uma pegadinha de terror</title>
		<link>https://deuoquefalar.com/sbt-lanca-mais-uma-pegadinha-de-terror/</link>
				<pubDate>Fri, 03 Apr 2015 22:35:21 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=601</guid>
				<description><![CDATA[<p>Na esteira de outros vídeos que viraram virais, o SBT produziu mais uma pegadinha. Dessa vez, o tema foi &#8220;Zumbis no Metrô&#8221;, filmado no metrô de Fortaleza. Após as luzes piscarem e se apagarem por alguns instantes, o maquinista anuncia que passam por problemas técnicas e, ao fundo, é possível ouvir gritos. Ao chegar à [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/sbt-lanca-mais-uma-pegadinha-de-terror/">SBT lança mais uma pegadinha de terror</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/alx_zumbis_original.jpeg"><img class="aligncenter size-full wp-image-603" src="https://deuoquefalar.com/wp-content/uploads/2015/04/alx_zumbis_original.jpeg" alt="alx_zumbis_original" width="690" height="388" srcset="https://deuoquefalar.com/wp-content/uploads/2015/04/alx_zumbis_original.jpeg 690w, https://deuoquefalar.com/wp-content/uploads/2015/04/alx_zumbis_original-300x169.jpeg 300w" sizes="(max-width: 690px) 100vw, 690px" /></a></p>
<p>Na esteira de outros vídeos que viraram virais, o SBT produziu mais uma pegadinha. Dessa vez, o tema foi &#8220;Zumbis no Metrô&#8221;, filmado no metrô de Fortaleza. Após as luzes piscarem e se apagarem por alguns instantes, o maquinista anuncia que passam por problemas técnicas e, ao fundo, é possível ouvir gritos. Ao chegar à estação, as portas não se abrem, e a vítima fica presa dentro do vagão, então zumbis se aproximam e ficam batendo nas janelas.</p>
<p><strong>Veja o vídeo:</strong><span id="more-601"></span></p>
<p><div style="width: 400px;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-601-1" width="400" height="400" preload="metadata" controls="controls"><source type="video/mp4" src="https://deuoquefalar.com/wp-content/uploads/2015/04/11107676_10152948169897599_1848123740_n.mp4?_=1" /><a href="https://deuoquefalar.com/wp-content/uploads/2015/04/11107676_10152948169897599_1848123740_n.mp4">https://deuoquefalar.com/wp-content/uploads/2015/04/11107676_10152948169897599_1848123740_n.mp4</a></video></div></p>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsbt-lanca-mais-uma-pegadinha-de-terror%2F&amp;linkname=SBT%20lan%C3%A7a%20mais%20uma%20pegadinha%20de%20terror" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsbt-lanca-mais-uma-pegadinha-de-terror%2F&amp;linkname=SBT%20lan%C3%A7a%20mais%20uma%20pegadinha%20de%20terror" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fsbt-lanca-mais-uma-pegadinha-de-terror%2F&amp;linkname=SBT%20lan%C3%A7a%20mais%20uma%20pegadinha%20de%20terror" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fsbt-lanca-mais-uma-pegadinha-de-terror%2F&#038;title=SBT%20lan%C3%A7a%20mais%20uma%20pegadinha%20de%20terror" data-a2a-url="https://deuoquefalar.com/sbt-lanca-mais-uma-pegadinha-de-terror/" data-a2a-title="SBT lança mais uma pegadinha de terror"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/sbt-lanca-mais-uma-pegadinha-de-terror/">SBT lança mais uma pegadinha de terror</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
							<enclosure url="http://deuoquefalar.com/wp-content/uploads/2015/04/11107676_10152948169897599_1848123740_n.mp4" length="19995270" type="video/mp4" />
			</item>
		<item>
		<title>Por que algumas pessoas atraem tantos mosquitos? Tipo sanguíneo e até cerveja são causas</title>
		<link>https://deuoquefalar.com/por-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas/</link>
				<pubDate>Thu, 19 Mar 2015 16:33:49 +0000</pubDate>
		<dc:creator><![CDATA[caio]]></dc:creator>
				<category><![CDATA[Curiosidades]]></category>
		<category><![CDATA[Humor]]></category>

		<guid isPermaLink="false">http://deuoquefalar.com/?p=538</guid>
				<description><![CDATA[<p>Estima-se que até 20 % das pessoas são mais mordidas por insetos que as outras. Vários fatores, incluindo tipo sanguíneo e número de banhos por dia, podem ser decisivos para isso. Embora para muitas pessoas, picadas de insetos estejam sujeitas a uma simples coceira, uma minoria substancial desenvolve uma reação alérgica que pode ter consequências [&#8230;]</p>
<p>O post <a rel="nofollow" href="https://deuoquefalar.com/por-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas/">Por que algumas pessoas atraem tantos mosquitos? Tipo sanguíneo e até cerveja são causas</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Estima-se que até 20 % das pessoas são mais mordidas por insetos que as outras. Vários fatores, incluindo tipo sanguíneo e número de banhos por dia, podem ser decisivos para isso.</p>
<p>Embora para muitas pessoas, picadas de insetos estejam sujeitas a uma simples coceira, uma minoria substancial desenvolve uma reação alérgica que pode ter consequências graves.</p>
<p>Quando somos picados por mosquitos, além de extrair o sangue, eles injetam sua saliva, que possui proteínas e enzimas que atrapalham a nossa coagulação sanguínea, de acordo com o Dr. Martin Donnelly, da Escola de Medicina Tropical da Universidade de Liverpool.</p>
<p><a href="https://deuoquefalar.com/wp-content/uploads/2015/03/mosquito_1.jpg"><img class="aligncenter size-full wp-image-539" src="https://deuoquefalar.com/wp-content/uploads/2015/03/mosquito_1.jpg" alt="mosquito_1" width="634" height="420" /></a><span id="more-538"></span></p>
<p>Estudiosos apontam que a genética, o tipo sanguíneo e até mesmo a cerveja como possíveis causas para pessoas atraírem mais mosquitos que outras.</p>
<div class="entry">
<p>Segundo Craig Benzina, a escolha dos mosquitos é, em 85 % dos casos, genética. Assim, a má notícia é que não há muito o que possamos fazer a respeito.</p>
<p>Ainda de acordo com ele, se você produzir mais ácido lático em seu suor você terá mias chances de ser mordido.</p>
<p>Os mosquitos nos encontram porque suas antenas captam os diferentes 500 produtos químicos voláteis, aproximadamente, que nossas peles exalam no ar.</p>
<p>Algumas pessoas liberaram, naturalmente, mais destes produtos químicos do que outras.</p>
<p>O estudo também revelou que os mosquitos parecem gostar de temperaturas corporais mais elevadas, o que explica porque estamos mais propensos a picadas durante a realização de atividades físicas.</p>
<p>Banhos frequentes após estes exercícios podem, portanto, diminuir a chance de que os insetos piquem as pessoas.</p>
<p>A pesquisa também mostrou que as pessoas com sangue tipo “O” são duas vezes mais propensas a serem mordidas.</p>
<p>As que possuem o tipo “A” são ainda menos propensas a que as do tipo “B”. O dióxido de carbono você exala também tem um impacto.</p>
<p>Além disso, as fêmeas dos mosquitos encontram suas presas através, principalmente, da presença de dióxido de carbono no ar.</p>
<p>Pessoas de maior porte e mulheres grávidas espiram maior quantidade do ar, por isso são vítimas mais prováveis.</p>
<p>Mosquitos são capazes de rastrear uma pessoa a uma distância de até 50 metros.</p>
<p>Outra possibilidade de atrair os insetos é, de acordo com um estudo japonês realizado em 2002 com 13 voluntários, ao beber uma garrafa de cerveja. Os pesquisadores acreditavam isso aumentaria a temperatura do corpo e a quantidade de álcool que está presente no suor de uma pessoa.</p>
<p>Essas pessoas produzem mais dióxido de carbono, o que atrai os insetos.</p>
<p>O principal problema com mordidas é a infecção, de acordo com o Dr. Ron Behrens, consultor em medicina de viagem na Escola de Higiene e Medicina Tropical de Londres, já que algumas pessoas têm alergia às picadas, o que comumente causa inchaço e acúmulo de líquido ao redor da área da atingida.</p>
<p>Ele advertiu que, de tanto coçar o local da picada, corremos o risco de ferir a pele ao ponto de estarmos sujeitos a infecções graves, como septicemia (envenenamento do sangue) ou celulite, uma infecção bacteriana da pele.</p>
<p>Fonte: <a href="https://www.dailymail.co.uk/health/article-2998662/Why-people-attract-mosquitoes-Genes-blood-type-beer-drinking-blame.html?ITO=1490&amp;ns_mchannel=rss&amp;ns_campaign=1490" target="_blank">Daily Mail</a></p>
<div class="clear block"></div>
</div>
<div class="sharer-post">Este artigo foi útil? Compartilhe:</div>
<p><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas%2F&amp;linkname=Por%20que%20algumas%20pessoas%20atraem%20tantos%20mosquitos%3F%20Tipo%20sangu%C3%ADneo%20e%20at%C3%A9%20cerveja%20s%C3%A3o%20causas" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas%2F&amp;linkname=Por%20que%20algumas%20pessoas%20atraem%20tantos%20mosquitos%3F%20Tipo%20sangu%C3%ADneo%20e%20at%C3%A9%20cerveja%20s%C3%A3o%20causas" title="Twitter" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas%2F&amp;linkname=Por%20que%20algumas%20pessoas%20atraem%20tantos%20mosquitos%3F%20Tipo%20sangu%C3%ADneo%20e%20at%C3%A9%20cerveja%20s%C3%A3o%20causas" title="WhatsApp" rel="nofollow noopener" target="_blank"></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fdeuoquefalar.com%2Fpor-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas%2F&#038;title=Por%20que%20algumas%20pessoas%20atraem%20tantos%20mosquitos%3F%20Tipo%20sangu%C3%ADneo%20e%20at%C3%A9%20cerveja%20s%C3%A3o%20causas" data-a2a-url="https://deuoquefalar.com/por-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas/" data-a2a-title="Por que algumas pessoas atraem tantos mosquitos? Tipo sanguíneo e até cerveja são causas"></a></p><p>O post <a rel="nofollow" href="https://deuoquefalar.com/por-que-algumas-pessoas-atraem-tantos-mosquitos-tipo-sanguineo-e-ate-cerveja-sao-causas/">Por que algumas pessoas atraem tantos mosquitos? Tipo sanguíneo e até cerveja são causas</a> apareceu primeiro em <a rel="nofollow" href="https://deuoquefalar.com/">Deu o que Falar</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
